/*
* Management API
*
*
* The version of the OpenAPI document: 1
* Contact: developer-experience@adyen.com
*
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
* https://openapi-generator.tech
* Do not edit the class manually.
*/

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Linq;
using System.Net.Http;
using System.Threading.Tasks;
using Newtonsoft.Json;
using Adyen.Service.Resource;
using Adyen.Model.Management;

namespace Adyen.Service.Management
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public partial class UsersCompanyLevelApi : AbstractService
    {
        public UsersCompanyLevelApi(Client client) : base(client) {}
    
        /// <summary>
        /// Get a list of users Returns the list of users for the `companyId` identified in the path.  To make this request, your API credential must have the following [role](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—Users read and write 
        /// </summary>
        /// <exception cref="Adyen.Service.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">The unique identifier of the company account.</param>
        /// <param name="pageNumber">The number of the page to return. (optional)</param>
        /// <param name="pageSize">The number of items to have on a page. Maximum value is **100**. The default is **10** items on a page. (optional)</param>
        /// <returns>ListCompanyUsersResponse</returns>
        public ListCompanyUsersResponse GetCompaniesCompanyIdUsers(string companyId, int? pageNumber = default(int?), int? pageSize = default(int?))
        {
            return GetCompaniesCompanyIdUsersAsync(companyId, pageNumber, pageSize).GetAwaiter().GetResult();
        }

        /// <summary>
        /// Get a list of users Returns the list of users for the `companyId` identified in the path.  To make this request, your API credential must have the following [role](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—Users read and write 
        /// </summary>
        /// <exception cref="Adyen.Service.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">The unique identifier of the company account.</param>
        /// <param name="pageNumber">The number of the page to return. (optional)</param>
        /// <param name="pageSize">The number of items to have on a page. Maximum value is **100**. The default is **10** items on a page. (optional)</param>
        /// <returns>Task of ListCompanyUsersResponse</returns>
        public async Task<ListCompanyUsersResponse> GetCompaniesCompanyIdUsersAsync(string companyId, int? pageNumber = default(int?), int? pageSize = default(int?))
        {
            var httpMethod = new HttpMethod("GET");
            string jsonRequest = null;
            var resource = new ManagementResource(this, $"/companies/{companyId}/users");
            var jsonResult = await resource.RequestAsync(jsonRequest, null, httpMethod);
            return JsonConvert.DeserializeObject<ListCompanyUsersResponse>(jsonResult);
        }

        /// <summary>
        /// Get user details Returns user details for the `userId` and the `companyId` identified in the path.  To make this request, your API credential must have the following [role](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—Users read and write 
        /// </summary>
        /// <exception cref="Adyen.Service.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">The unique identifier of the company account.</param>
        /// <param name="userId">The unique identifier of the user.</param>
        /// <returns>CompanyUser</returns>
        public CompanyUser GetCompaniesCompanyIdUsersUserId(string companyId, string userId)
        {
            return GetCompaniesCompanyIdUsersUserIdAsync(companyId, userId).GetAwaiter().GetResult();
        }

        /// <summary>
        /// Get user details Returns user details for the `userId` and the `companyId` identified in the path.  To make this request, your API credential must have the following [role](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—Users read and write 
        /// </summary>
        /// <exception cref="Adyen.Service.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">The unique identifier of the company account.</param>
        /// <param name="userId">The unique identifier of the user.</param>
        /// <returns>Task of CompanyUser</returns>
        public async Task<CompanyUser> GetCompaniesCompanyIdUsersUserIdAsync(string companyId, string userId)
        {
            var httpMethod = new HttpMethod("GET");
            string jsonRequest = null;
            var resource = new ManagementResource(this, $"/companies/{companyId}/users/{userId}");
            var jsonResult = await resource.RequestAsync(jsonRequest, null, httpMethod);
            return JsonConvert.DeserializeObject<CompanyUser>(jsonResult);
        }

        /// <summary>
        /// Update user details Updates user details for the `userId` and the `companyId` identified in the path.  To make this request, your API credential must have the following [role](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—Users read and write 
        /// </summary>
        /// <exception cref="Adyen.Service.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">The unique identifier of the company account.</param>
        /// <param name="userId">The unique identifier of the user.</param>
        /// <param name="updateCompanyUserRequest"> (optional)</param>
        /// <returns>CompanyUser</returns>
        public CompanyUser PatchCompaniesCompanyIdUsersUserId(string companyId, string userId, UpdateCompanyUserRequest updateCompanyUserRequest)
        {
            return PatchCompaniesCompanyIdUsersUserIdAsync(companyId, userId, updateCompanyUserRequest).GetAwaiter().GetResult();
        }

        /// <summary>
        /// Update user details Updates user details for the `userId` and the `companyId` identified in the path.  To make this request, your API credential must have the following [role](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—Users read and write 
        /// </summary>
        /// <exception cref="Adyen.Service.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">The unique identifier of the company account.</param>
        /// <param name="userId">The unique identifier of the user.</param>
        /// <param name="updateCompanyUserRequest"> (optional)</param>
        /// <returns>Task of CompanyUser</returns>
        public async Task<CompanyUser> PatchCompaniesCompanyIdUsersUserIdAsync(string companyId, string userId, UpdateCompanyUserRequest updateCompanyUserRequest)
        {
            var httpMethod = new HttpMethod("PATCH");
            string jsonRequest = updateCompanyUserRequest.ToJson();
            var resource = new ManagementResource(this, $"/companies/{companyId}/users/{userId}");
            var jsonResult = await resource.RequestAsync(jsonRequest, null, httpMethod);
            return JsonConvert.DeserializeObject<CompanyUser>(jsonResult);
        }

        /// <summary>
        /// Create a new user Creates the user for the `companyId` identified in the path.  To make this request, your API credential must have the following [role](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—Users read and write 
        /// </summary>
        /// <exception cref="Adyen.Service.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">The unique identifier of the company account.</param>
        /// <param name="createCompanyUserRequest"> (optional)</param>
        /// <returns>CreateCompanyUserResponse</returns>
        public CreateCompanyUserResponse PostCompaniesCompanyIdUsers(string companyId, CreateCompanyUserRequest createCompanyUserRequest)
        {
            return PostCompaniesCompanyIdUsersAsync(companyId, createCompanyUserRequest).GetAwaiter().GetResult();
        }

        /// <summary>
        /// Create a new user Creates the user for the `companyId` identified in the path.  To make this request, your API credential must have the following [role](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—Users read and write 
        /// </summary>
        /// <exception cref="Adyen.Service.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">The unique identifier of the company account.</param>
        /// <param name="createCompanyUserRequest"> (optional)</param>
        /// <returns>Task of CreateCompanyUserResponse</returns>
        public async Task<CreateCompanyUserResponse> PostCompaniesCompanyIdUsersAsync(string companyId, CreateCompanyUserRequest createCompanyUserRequest)
        {
            var httpMethod = new HttpMethod("POST");
            string jsonRequest = createCompanyUserRequest.ToJson();
            var resource = new ManagementResource(this, $"/companies/{companyId}/users");
            var jsonResult = await resource.RequestAsync(jsonRequest, null, httpMethod);
            return JsonConvert.DeserializeObject<CreateCompanyUserResponse>(jsonResult);
        }

    }
}
