{{>partial_header}}
using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Linq;
using System.Net.Http;
using System.Threading.Tasks;
using Newtonsoft.Json;
using Adyen.Service.Resource;
{{#hasImport}}using Adyen.{{modelPackage}};
{{/hasImport}}

namespace {{packageName}}.{{apiPackage}}
{
    {{#operations}}
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    {{>visibility}} partial class {{classname}} : AbstractService
    {
        public {{classname}}(Client client) : base(client) {}
    
        {{#operation}}
        /// <summary>
        /// {{{summary}}} {{{notes}}}
        /// </summary>
        /// <exception cref="{{packageName}}.Client.ApiException">Thrown when fails to make API call</exception>
        {{#allParams}}/// <param name="{{paramName}}">{{description}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}</param>
        {{/allParams}}/// <returns>{{{returnType}}}</returns>
        {{#isDeprecated}}
        [Obsolete]
        {{/isDeprecated}}
        public {{{returnType}}}{{^returnType}}void{{/returnType}} {{operationId}}({{>api_parameters}})
        {
            {{#returnType}}return {{/returnType}}{{operationId}}Async({{>api_invoke}}){{#returnType}}.GetAwaiter().GetResult(){{/returnType}};
        }

        {{#supportsAsync}}
        /// <summary>
        /// {{{summary}}} {{{notes}}}
        /// </summary>
        /// <exception cref="{{packageName}}.Client.ApiException">Thrown when fails to make API call</exception>
        {{#allParams}}/// <param name="{{paramName}}">{{description}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}</param>
        {{/allParams}}/// <returns>Task of {{{returnType}}}{{^returnType}}void{{/returnType}}</returns>
        {{#isDeprecated}}
        [Obsolete]
        {{/isDeprecated}}
        {{#returnType}}public async Task<{{{.}}}>{{/returnType}}{{^returnType}}public async Task{{/returnType}} {{operationId}}Async({{>api_parameters}})
        {
            var httpMethod = new HttpMethod("{{httpMethod}}");
            string jsonRequest = {{#bodyParam}}{{paramName}}.ToJson(){{/bodyParam}}{{^bodyParam}}null{{/bodyParam}};
            var resource = new {{#lambda.titlecase}}{{serviceName}}{{/lambda.titlecase}}Resource(this, $"{{{path}}}");
            {{#returnType}}var jsonResult = {{/returnType}}await resource.RequestAsync(jsonRequest, null, httpMethod);
        {{#returnType}}
            return JsonConvert.DeserializeObject<{{returnType}}>(jsonResult);
        {{/returnType}}
        }

        {{/supportsAsync}}
        {{/operation}}
    }
    {{/operations}}
}
