{{#pathParams}}{{paramName}}{{^-last}}, {{/-last}}{{/pathParams}}{{#bodyParams}}{{#-first}}{{#pathParams.0}}, {{/pathParams.0}}{{/-first}}{{paramName}}{{^-last}}, {{/-last}}{{/bodyParams}}{{#queryParams}}{{#-first}}{{#bodyParams.0}}, {{/bodyParams.0}}{{^bodyParams.0}}{{#pathParams.0}}, {{/pathParams.0}}{{/bodyParams.0}}{{/-first}}{{paramName}}{{^-last}}, {{/-last}}{{/queryParams}}