{{! Path and body are required, followed by optional request options (like query string or headers) }}
{{#pathParams}}{{{dataType}}} {{paramName}}, {{/pathParams}}{{#bodyParams}}{{{dataType}}} {{paramName}}, {{/bodyParams}}RequestOptions requestOptions = default