{{! Path and body are required, followed by optional query string and request options }}
{{#requiredParams}}{{{dataType}}} {{paramName}}, {{/requiredParams}}{{#optionalParams}}{{{dataType}}} {{paramName}} = default, {{/optionalParams}}RequestOptions requestOptions = default