        /// <summary>
        /// {{{summary}}}
        /// </summary>
        {{#allParams}}/// <param name="{{paramName}}"><see cref="{{dataType}}"/> - {{description}}{{#isDeprecated}} (deprecated){{/isDeprecated}}</param>
        {{/allParams}}/// <param name="requestOptions"><see cref="RequestOptions"/> - Additional request options.</param>