{{>partial_header}}
using {{packageName}}.Core.Options;{{#hasImport}}
using {{packageName}}.{{modelPackage}};{{/hasImport}}
using {{packageName}}.{{apiName}}.{{clientPackageName}};
using {{packageName}}.{{apiName}}.Extensions;
using Microsoft.Extensions.DependencyInjection;
using Microsoft.Extensions.Hosting;
using Microsoft.VisualStudio.TestTools.UnitTesting;
using System.Text.Json;

{{>testInstructions}}


namespace {{packageName}}.Test.{{apiPackage}}
{
    /// <summary>
    ///  Class for testing {{classname}}
    /// </summary>
    [TestClass]
    public sealed class {{classname}}Test
    {
        private readonly JsonSerializerOptionsProvider _jsonSerializerOptionsProvider;

        public {{classname}}Test()
        {
            IHost host = Host.CreateDefaultBuilder()
                .Configure{{classname}}((context, services, config) =>
                {
                    config.ConfigureAdyenOptions(options =>
                    {
                        options.Environment = AdyenEnvironment.Test;
                    });
                })
                .Build();

            _jsonSerializerOptionsProvider = host.Services.GetRequiredService<JsonSerializerOptionsProvider>();
        }
        {{#operations}}
        {{#operation}}

        /// <summary>
        /// Test {{operationId}}.
        /// </summary>
        public async Task Given_Deserialize_When_{{operationId}}_Successfully_Deserializes()
        {
            // Arrange 
            // TODO: Insert your example code from open-api here
            var client = TestUtilities.GetTestFileContent("mocks/posmobile/create-session.json"); 
        
            {{#allParams}}
            {{^required}}Client.Option<{{/required}}{{{dataType}}}{{>NullConditionalParameter}}{{^required}}>{{/required}} {{paramName}} = default{{nrt!}};
            {{/allParams}}
            {{#responses}}
            {{#-first}}
            {{#dataType}}
                
            // Act 
            // TODO: Prefill the ResponseType
            // IDEALLY: We insert the SERVICE and then we call it using the right parameters (this gets tricky with query params* but very doable!)
            var response = JsonSerializer.Deserialize<{{name}}Response}>(json, _jsonSerializerOptionsProvider);
            
            // Assert 
            Assert.IsNotNull(response);
            {{/dataType}}
            {{/-first}}
            {{/responses}}
        }
        {{/operation}}
        {{/operations}}
    }
}
