{{>partial_header}}
using System;
using System.Globalization;
using System.Text.Json;
using System.Text.Json.Serialization;

namespace {{packageName}}.{{clientPackage}}
{
    /// <summary>
    /// Formatter for {{#supportsDateOnly}}'date-time'{{/supportsDateOnly}}{{^supportsDateOnly}}'date' and 'date-time'{{/supportsDateOnly}} openapi formats ss defined by full-date - RFC3339
    /// see https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#data-types
    /// </summary>
    {{>visibility}} class DateTimeJsonConverter : JsonConverter<DateTime>
    {
        /// <summary>
        /// The formats used to deserialize the date
        /// </summary>
        public static string[] Formats { get; } = {
{{>DateTimeFormats}}
        };

        /// <summary>
        /// Returns a <see cref="DateTime"/> from the Json object.
        /// </summary>
        /// <param name="reader"><see cref="Utf8JsonReader"/>.</param>
        /// <param name="typeToConvert"><see cref="Type"/>.</param>
        /// <param name="options"><see cref="JsonSerializerOptions"/>.</param>
        /// <returns><see cref="DateTime"/>.</returns>
        public override DateTime Read(ref Utf8JsonReader reader, Type typeToConvert, JsonSerializerOptions options) {
            if (reader.TokenType == JsonTokenType.Null)
                throw new NotSupportedException();

            string value = reader.GetString(){{nrt!}};

            foreach(string format in Formats)
                if (DateTime.TryParseExact(value, format, CultureInfo.InvariantCulture, DateTimeStyles.AdjustToUniversal | DateTimeStyles.AssumeUniversal, out DateTime result))
                    return result;

            throw new NotSupportedException();
        }

        /// <summary>
        /// Writes the <see cref="DateTime"/> to the <see cref="Utf8JsonWriter"/>.
        /// </summary>
        /// <param name="writer"><see cref="Utf8JsonWriter"/>.</param>
        /// <param name="dateTime"><see cref="DateTime"/>.</param>
        /// <param name="options"><see cref="JsonSerializerOptions"/>.</param>
        public override void Write(Utf8JsonWriter writer, DateTime dateTime, JsonSerializerOptions options) =>
            writer.WriteStringValue(dateTime.ToString("{{{dateTimeFormat}}}", CultureInfo.InvariantCulture));
    }
}
