namespace {{packageName}}.{{apiPackage}}
{
    /// <summary>
    /// Interface for interacting with any {{packageName}} API using <see cref="HttpClient"/>.
    /// </summary>
    {{>visibility}} interface {{interfacePrefix}}Api
    {
        /// <summary>
        /// The <see cref="HttpClient"/> object, preferably instantiated and managed using the <see cref="IHttpClientFactory"/>.
        /// </summary>
        System.Net.Http.HttpClient HttpClient { get; }
    }
}