{{>partial_header}}
{{#nrt}}
#nullable enable

{{/nrt}}
using System;
using Microsoft.Extensions.DependencyInjection;
using Microsoft.Extensions.Hosting;
using {{packageName}}.{{apiName}};
using {{packageName}}.{{apiName}}.{{clientPackage}};

namespace {{packageName}}.{{apiName}}.Extensions
{
    /// <summary>
    /// Extension methods for <see cref="IHostBuilder"/>.
    /// </summary>
    {{>visibility}} static class HostBuilderExtensions
    {
        /// <summary>
        /// Initializes the <see cref="HostConfiguration"/> *without* adding the {{apiName}} API services defaults to the <see cref="IServiceCollection"/>.
        /// Use <see cref="{{packageName}}.{{apiName}}.Extensions.IServiceCollectionExtensions"/> to add the {{apiName}} API services to the <see cref="IServiceCollection"/>.
        /// </summary>
        /// <param name="hostBuilder"><see cref="IHostBuilder"/>.</param>
        /// <param name="hostConfigurationOptions">Configures the <see cref="HostBuilderContext"/>, <see cref="IServiceCollection"/>, and <see cref="HostConfiguration"/>.</param>
        /// <param name="httpClientOptions">Configures the <see cref="System.Net.Http.HttpClient"/>.</param>
        /// <param name="httpClientBuilderOptions">Configures the <see cref="IHttpClientBuilder"/>.</param>
        public static IHostBuilder Configure{{apiName}}(this IHostBuilder hostBuilder, Action<HostBuilderContext, IServiceCollection, HostConfiguration> hostConfigurationOptions, Action<System.Net.Http.HttpClient>? httpClientOptions = null, Action<IHttpClientBuilder>? httpClientBuilderOptions = null)
        {
            hostBuilder.ConfigureServices((context, services) => 
            {
                HostConfiguration hostConfiguration = new HostConfiguration(services);
    
                hostConfigurationOptions(context, services, hostConfiguration);
            });

            return hostBuilder;
        }
    
        /// <summary>
        /// Initializes the <see cref="HostConfiguration"/> *and* adds the {{apiName}} API services defaults to the <see cref="IServiceCollection"/>.
        /// You can (optionally) configure the <see cref="ServiceLifetime"/>, the <see cref="System.Net.Http.HttpClient"/> (timeouts) and <see cref="IHttpClientBuilder"/>.
        /// </summary>
        /// <param name="hostBuilder"><see cref="IHostBuilder"/>.</param>
        /// <param name="hostConfigurationOptions">Configures the <see cref="HostBuilderContext"/>, <see cref="IServiceCollection"/>, and <see cref="HostConfiguration"/>.</param>
        /// <param name="serviceLifetime"><see cref="ServiceLifetime"/>.</param>
        /// <param name="httpClientOptions">Configures the <see cref="System.Net.Http.HttpClient"/>.</param>
        /// <param name="httpClientBuilderOptions">Configures the <see cref="IHttpClientBuilder"/>.</param>
        public static IHostBuilder Configure{{apiName}}Defaults(this IHostBuilder hostBuilder, Action<HostBuilderContext, IServiceCollection, HostConfiguration> hostConfigurationOptions, ServiceLifetime serviceLifetime = ServiceLifetime.Singleton, Action<System.Net.Http.HttpClient>? httpClientOptions = null, Action<IHttpClientBuilder>? httpClientBuilderOptions = null)
        {
            hostBuilder.ConfigureServices((context, services) => 
            {
                HostConfiguration hostConfiguration = new HostConfiguration(services);
        
                hostConfigurationOptions(context, services, hostConfiguration);
                {{#apiInfo}}{{#apis}}{{#-first}}services.AddAll{{apiName}}Services(serviceLifetime, httpClientOptions, httpClientBuilderOptions);
                {{/-first}}{{/apis}}{{/apiInfo}}
                {{#models}}{{#model.vendorExtensions.x-has-at-least-one-webhook-root}}services.Add{{apiName}}Handler(serviceLifetime);
                {{/model.vendorExtensions.x-has-at-least-one-webhook-root}}{{/models}}
            });

            return hostBuilder;
        }
    }
}
