{{>partial_header}}
{{#nrt}}
#nullable enable

{{/nrt}}
using System;
using Microsoft.Extensions.DependencyInjection;
using Microsoft.Extensions.Hosting;
using {{packageName}}.{{apiName}};
using {{packageName}}.{{apiName}}.{{clientPackage}};

namespace {{packageName}}.{{apiName}}.Extensions
{
    /// <summary>
    /// Extension methods for IHostBuilder.
    /// </summary>
    {{>visibility}} static class HostBuilderExtensions
    {
        /// <summary>
        /// Add the {{apiName}} API services to <see cref="IHostBuilder"/.
        /// </summary>
        /// <param name="hostBuilder"><see cref="IHostBuilder"/>.</param>
        /// <param name="hostConfigurationDelegate"><see cref="Action{HostBuilderContext, IServiceCollection, HostConfiguration}"/>.</param>
        public static IHostBuilder Configure{{apiName}}(this IHostBuilder hostBuilder, Action<HostBuilderContext, IServiceCollection, HostConfiguration> hostConfigurationDelegate)
        {
            hostBuilder.ConfigureServices((context, services) => 
            {
                HostConfiguration config = new HostConfiguration(services);

                hostConfigurationDelegate(context, services, config);

                ServiceCollectionExtensions.Add{{apiName}}Services(services, config, null, null);
            });

            return hostBuilder;
        }

        /// <summary>
        /// Add the {{apiName}} API services to <see cref="IHostBuilder"/>.
        /// Overloaded method to configure the <see cref="System.Net.Http.HttpClient"/> and <see cref="IHttpClientBuilder"/>.
        /// </summary>
        /// <param name="hostBuilder"><see cref="IHostBuilder"/>.</param>
        /// <param name="hostConfigurationDelegate"><see cref="Action{HostBuilderContext, IServiceCollection, HostConfiguration}"/>.</param>
        /// <param name="httpClientDelegate"><see cref="Action{HttpClient}"/>.</param>
        /// <param name="httpClientBuilderDelegate"><see cref="Action{IHttpClientBuilder}"/>.</param>
        public static IHostBuilder Configure{{apiName}}(this IHostBuilder hostBuilder, Action<HostBuilderContext, IServiceCollection, HostConfiguration> hostConfigurationDelegate, Action<System.Net.Http.HttpClient>? httpClientDelegate, Action<IHttpClientBuilder>? httpClientBuilderDelegate = null)
        {
            hostBuilder.ConfigureServices((context, services) => 
            {
                HostConfiguration config = new HostConfiguration(services);

                hostConfigurationDelegate(context, services, config);

                ServiceCollectionExtensions.Add{{apiName}}Services(services, config, httpClientDelegate, httpClientBuilderDelegate);
            });

            return hostBuilder;
        }
    }
}
