// <auto-generated>
/*
 * Management API
 *
 * Configure and manage your Adyen company and merchant accounts, stores, and payment terminals. ## Authentication Each request to the Management API must be signed with an API key. [Generate your API key](https://docs.adyen.com/development-resources/api-credentials#generate-api-key) in the Customer Area and then set this key to the `X-API-Key` header value.  To access the live endpoints, you need to generate a new API key in your live Customer Area. ## Versioning  Management API handles versioning as part of the endpoint URL. For example, to send a request to this version of the `/companies/{companyId}/webhooks` endpoint, use:  ```text https://management-test.adyen.com/v3/companies/{companyId}/webhooks ```  ## Going live  To access the live endpoints, you need an API key from your live Customer Area. Use this API key to make requests to:  ```text https://management-live.adyen.com/v3 ```  ## Release notes Have a look at the [release notes](https://docs.adyen.com/release-notes/management-api) to find out what changed in this version!
 *
 * The version of the OpenAPI document: 3
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Net;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using Adyen.Core;
using Adyen.Core.Auth;
using Adyen.Core.Client;
using Adyen.Management.Client;
using Adyen.Management.Models;
using System.Diagnostics.CodeAnalysis;

namespace Adyen.Management.Services
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// This class is registered as transient.
    /// </summary>
    public interface IAPICredentialsMerchantLevelService : IAdyenApiService
    {
        /// <summary>
        /// The class containing the events.
        /// </summary>
        APICredentialsMerchantLevelServiceEvents Events { get; }

        /// <summary>
        /// Create an API credential
        /// </summary>
        /// <remarks>
        /// Creates an [API credential](https://docs.adyen.com/development-resources/api-credentials) for the company account identified in the path. In the request, you can specify the roles and allowed origins for the new API credential.  The response includes the: * [API key](https://docs.adyen.com/development-resources/api-authentication#api-key-authentication): used for API request authentication. * [Client key](https://docs.adyen.com/development-resources/client-side-authentication#how-it-works): public key used for client-side authentication. * [Username and password](https://docs.adyen.com/development-resources/api-authentication#using-basic-authentication): used for basic authentication.  &gt; Make sure you store the API key securely in your system. You won&#39;t be able to retrieve it later.  If your API key is lost or compromised, you need to [generate a new API key](https://docs.adyen.com/api-explorer/#/ManagementService/v1/post/merchants/{merchantId}/apiCredentials/{apiCredentialId}/generateApiKey).  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="merchantId">The unique identifier of the merchant account.</param>
        /// <param name="createMerchantApiCredentialRequest"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ICreateApiCredentialApiResponse"/>&gt;</returns>
        Task<ICreateApiCredentialApiResponse> CreateApiCredentialAsync(string merchantId, Option<CreateMerchantApiCredentialRequest> createMerchantApiCredentialRequest = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get an API credential
        /// </summary>
        /// <remarks>
        /// Returns the [API credential](https://docs.adyen.com/development-resources/api-credentials) identified in the path.  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="merchantId">The unique identifier of the merchant account.</param>
        /// <param name="apiCredentialId">Unique identifier of the API credential.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetApiCredentialApiResponse"/>&gt;</returns>
        Task<IGetApiCredentialApiResponse> GetApiCredentialAsync(string merchantId, string apiCredentialId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get a list of API credentials
        /// </summary>
        /// <remarks>
        /// Returns the list of [API credentials](https://docs.adyen.com/development-resources/api-credentials) for the merchant account. The list is grouped into pages as defined by the query parameters.  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="merchantId">The unique identifier of the merchant account.</param>
        /// <param name="pageNumber">The number of the page to fetch. (optional)</param>
        /// <param name="pageSize">The number of items to have on a page, maximum 100. The default is 10 items on a page. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IListApiCredentialsApiResponse"/>&gt;</returns>
        Task<IListApiCredentialsApiResponse> ListApiCredentialsAsync(string merchantId, Option<int> pageNumber = default, Option<int> pageSize = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Update an API credential
        /// </summary>
        /// <remarks>
        /// Changes the API credential&#39;s roles, or allowed origins. The request has the new values for the fields you want to change. The response contains the full updated API credential, including the new values from the request.   To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="merchantId">The unique identifier of the merchant account.</param>
        /// <param name="apiCredentialId">Unique identifier of the API credential.</param>
        /// <param name="updateMerchantApiCredentialRequest"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IUpdateApiCredentialApiResponse"/>&gt;</returns>
        Task<IUpdateApiCredentialApiResponse> UpdateApiCredentialAsync(string merchantId, string apiCredentialId, Option<UpdateMerchantApiCredentialRequest> updateMerchantApiCredentialRequest = default, System.Threading.CancellationToken cancellationToken = default);

    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// </summary>
    public class APICredentialsMerchantLevelServiceEvents
    {
        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnCreateApiCredential;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorCreateApiCredential;

        internal void ExecuteOnCreateApiCredential(APICredentialsCompanyLevelService.CreateApiCredentialApiResponse apiResponse)
        {
            OnCreateApiCredential?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorCreateApiCredential(Exception exception)
        {
            OnErrorCreateApiCredential?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetApiCredential;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetApiCredential;

        internal void ExecuteOnGetApiCredential(APICredentialsCompanyLevelService.GetApiCredentialApiResponse apiResponse)
        {
            OnGetApiCredential?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetApiCredential(Exception exception)
        {
            OnErrorGetApiCredential?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnListApiCredentials;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorListApiCredentials;

        internal void ExecuteOnListApiCredentials(APICredentialsCompanyLevelService.ListApiCredentialsApiResponse apiResponse)
        {
            OnListApiCredentials?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorListApiCredentials(Exception exception)
        {
            OnErrorListApiCredentials?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnUpdateApiCredential;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorUpdateApiCredential;

        internal void ExecuteOnUpdateApiCredential(APICredentialsCompanyLevelService.UpdateApiCredentialApiResponse apiResponse)
        {
            OnUpdateApiCredential?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorUpdateApiCredential(Exception exception)
        {
            OnErrorUpdateApiCredential?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// </summary>
    public sealed partial class APICredentialsMerchantLevelService : IAPICredentialsMerchantLevelService
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory.
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger.
        /// </summary>
        public ILogger<APICredentialsMerchantLevelService> Logger { get; }

        /// <summary>
        /// The HttpClient.
        /// </summary>
        public System.Net.Http.HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events.
        /// </summary>
        public APICredentialsMerchantLevelServiceEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="ApiKeyProvider"/>.
        /// </summary>
        public ITokenProvider<ApiKeyToken> ApiKeyProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="APICredentialsMerchantLevelService"/> class.
        /// </summary>
        /// <returns></returns>
        public APICredentialsMerchantLevelService(ILogger<APICredentialsMerchantLevelService> logger, ILoggerFactory loggerFactory, System.Net.Http.HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, APICredentialsMerchantLevelServiceEvents aPICredentialsMerchantLevelServiceEvents,
            ITokenProvider<ApiKeyToken> apiKeyProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = LoggerFactory.CreateLogger<APICredentialsMerchantLevelService>();
            HttpClient = httpClient;
            Events = aPICredentialsMerchantLevelServiceEvents;
            ApiKeyProvider = apiKeyProvider;
        }

        partial void FormatCreateApiCredential(ref string merchantId, Option<CreateMerchantApiCredentialRequest> createMerchantApiCredentialRequest);

        /// <summary>
        /// Validates the request parameters.
        /// </summary>
        /// <param name="merchantId"></param>
        /// <param name="createMerchantApiCredentialRequest"></param>
        /// <returns></returns>
        private void ValidateCreateApiCredential(string merchantId, Option<CreateMerchantApiCredentialRequest> createMerchantApiCredentialRequest)
        {
            if (merchantId == null)
                throw new ArgumentNullException(nameof(merchantId));

            if (createMerchantApiCredentialRequest.IsSet && createMerchantApiCredentialRequest.Value == null)
                throw new ArgumentNullException(nameof(createMerchantApiCredentialRequest));
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="apiResponse"></param>
        /// <param name="merchantId"></param>
        /// <param name="createMerchantApiCredentialRequest"></param>
        private void AfterCreateApiCredentialDefaultImplementation(ICreateApiCredentialApiResponse apiResponse, string merchantId, Option<CreateMerchantApiCredentialRequest> createMerchantApiCredentialRequest)
        {
            bool suppressDefaultLog = false;
            AfterCreateApiCredential(ref suppressDefaultLog, apiResponse, merchantId, createMerchantApiCredentialRequest);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {3}", (apiResponse.DownloadedAt - apiResponse.RequestedAt).TotalSeconds, apiResponse.StatusCode, apiResponse.Path);
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponse"></param>
        /// <param name="merchantId"></param>
        /// <param name="createMerchantApiCredentialRequest"></param>
        partial void AfterCreateApiCredential(ref bool suppressDefaultLog, ICreateApiCredentialApiResponse apiResponse, string merchantId, Option<CreateMerchantApiCredentialRequest> createMerchantApiCredentialRequest);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response.
        /// </summary>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        /// <param name="merchantId"></param>
        /// <param name="createMerchantApiCredentialRequest"></param>
        private void OnErrorCreateApiCredentialDefaultImplementation(Exception exception, string pathFormat, string path, string merchantId, Option<CreateMerchantApiCredentialRequest> createMerchantApiCredentialRequest)
        {
            bool suppressDefaultLog = false;
            OnErrorCreateApiCredential(ref suppressDefaultLog, exception, pathFormat, path, merchantId, createMerchantApiCredentialRequest);
            if (!suppressDefaultLog)
                Logger.LogError(exception, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        /// <param name="merchantId"></param>
        /// <param name="createMerchantApiCredentialRequest"></param>
        partial void OnErrorCreateApiCredential(ref bool suppressDefaultLog, Exception exception, string pathFormat, string path, string merchantId, Option<CreateMerchantApiCredentialRequest> createMerchantApiCredentialRequest);

        /// <summary>
        /// Create an API credential Creates an [API credential](https://docs.adyen.com/development-resources/api-credentials) for the company account identified in the path. In the request, you can specify the roles and allowed origins for the new API credential.  The response includes the: * [API key](https://docs.adyen.com/development-resources/api-authentication#api-key-authentication): used for API request authentication. * [Client key](https://docs.adyen.com/development-resources/client-side-authentication#how-it-works): public key used for client-side authentication. * [Username and password](https://docs.adyen.com/development-resources/api-authentication#using-basic-authentication): used for basic authentication.  &gt; Make sure you store the API key securely in your system. You won&#39;t be able to retrieve it later.  If your API key is lost or compromised, you need to [generate a new API key](https://docs.adyen.com/api-explorer/#/ManagementService/v1/post/merchants/{merchantId}/apiCredentials/{apiCredentialId}/generateApiKey).  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="merchantId">The unique identifier of the merchant account.</param>
        /// <param name="createMerchantApiCredentialRequest"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="ICreateApiCredentialApiResponse"/>&gt;</returns>
        public async Task<ICreateApiCredentialApiResponse> CreateApiCredentialAsync(string merchantId, Option<CreateMerchantApiCredentialRequest> createMerchantApiCredentialRequest = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                ValidateCreateApiCredential(merchantId, createMerchantApiCredentialRequest);

                FormatCreateApiCredential(ref merchantId, createMerchantApiCredentialRequest);

                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/merchants/{merchantId}/apiCredentials"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/merchants/{merchantId}/apiCredentials");
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BmerchantId%7D", Uri.EscapeDataString(merchantId.ToString()));

                    if (createMerchantApiCredentialRequest.IsSet)
                        httpRequestMessage.Content = (createMerchantApiCredentialRequest.Value as object) is System.IO.Stream stream
                            ? httpRequestMessage.Content = new StreamContent(stream)
                            : httpRequestMessage.Content = new StringContent(JsonSerializer.Serialize(createMerchantApiCredentialRequest.Value, _jsonSerializerOptions));

                    ApiKeyToken apiKeyToken2 = (ApiKeyToken) ApiKeyProvider.Get();
                    apiKeyToken2.AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    string? contentType = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentType != null && httpRequestMessage.Content != null)
                        httpRequestMessage.Content.Headers.ContentType = new MediaTypeHeaderValue(contentType);

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));

                    httpRequestMessage.Method = HttpMethod.Post;

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<APICredentialsCompanyLevelService.CreateApiCredentialApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<APICredentialsCompanyLevelService.CreateApiCredentialApiResponse>();
                        APICredentialsCompanyLevelService.CreateApiCredentialApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/merchants/{merchantId}/apiCredentials", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterCreateApiCredentialDefaultImplementation(apiResponse, merchantId, createMerchantApiCredentialRequest);

                        Events.ExecuteOnCreateApiCredential(apiResponse);
                    
                        return apiResponse;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorCreateApiCredentialDefaultImplementation(e, "/merchants/{merchantId}/apiCredentials", uriBuilder.Path, merchantId, createMerchantApiCredentialRequest);
                Events.ExecuteOnErrorCreateApiCredential(e);
                throw;
            }
        }

        partial void FormatGetApiCredential(ref string merchantId, ref string apiCredentialId);

        /// <summary>
        /// Validates the request parameters.
        /// </summary>
        /// <param name="merchantId"></param>
        /// <param name="apiCredentialId"></param>
        /// <returns></returns>
        private void ValidateGetApiCredential(string merchantId, string apiCredentialId)
        {
            if (merchantId == null)
                throw new ArgumentNullException(nameof(merchantId));

            if (apiCredentialId == null)
                throw new ArgumentNullException(nameof(apiCredentialId));
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="apiResponse"></param>
        /// <param name="merchantId"></param>
        /// <param name="apiCredentialId"></param>
        private void AfterGetApiCredentialDefaultImplementation(IGetApiCredentialApiResponse apiResponse, string merchantId, string apiCredentialId)
        {
            bool suppressDefaultLog = false;
            AfterGetApiCredential(ref suppressDefaultLog, apiResponse, merchantId, apiCredentialId);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {3}", (apiResponse.DownloadedAt - apiResponse.RequestedAt).TotalSeconds, apiResponse.StatusCode, apiResponse.Path);
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponse"></param>
        /// <param name="merchantId"></param>
        /// <param name="apiCredentialId"></param>
        partial void AfterGetApiCredential(ref bool suppressDefaultLog, IGetApiCredentialApiResponse apiResponse, string merchantId, string apiCredentialId);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response.
        /// </summary>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        /// <param name="merchantId"></param>
        /// <param name="apiCredentialId"></param>
        private void OnErrorGetApiCredentialDefaultImplementation(Exception exception, string pathFormat, string path, string merchantId, string apiCredentialId)
        {
            bool suppressDefaultLog = false;
            OnErrorGetApiCredential(ref suppressDefaultLog, exception, pathFormat, path, merchantId, apiCredentialId);
            if (!suppressDefaultLog)
                Logger.LogError(exception, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        /// <param name="merchantId"></param>
        /// <param name="apiCredentialId"></param>
        partial void OnErrorGetApiCredential(ref bool suppressDefaultLog, Exception exception, string pathFormat, string path, string merchantId, string apiCredentialId);

        /// <summary>
        /// Get an API credential Returns the [API credential](https://docs.adyen.com/development-resources/api-credentials) identified in the path.  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="merchantId">The unique identifier of the merchant account.</param>
        /// <param name="apiCredentialId">Unique identifier of the API credential.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetApiCredentialApiResponse"/>&gt;</returns>
        public async Task<IGetApiCredentialApiResponse> GetApiCredentialAsync(string merchantId, string apiCredentialId, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                ValidateGetApiCredential(merchantId, apiCredentialId);

                FormatGetApiCredential(ref merchantId, ref apiCredentialId);

                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/merchants/{merchantId}/apiCredentials/{apiCredentialId}"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/merchants/{merchantId}/apiCredentials/{apiCredentialId}");
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BmerchantId%7D", Uri.EscapeDataString(merchantId.ToString()));
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BapiCredentialId%7D", Uri.EscapeDataString(apiCredentialId.ToString()));

                    ApiKeyToken apiKeyToken2 = (ApiKeyToken) ApiKeyProvider.Get();
                    apiKeyToken2.AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));

                    httpRequestMessage.Method = HttpMethod.Get;

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<APICredentialsCompanyLevelService.GetApiCredentialApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<APICredentialsCompanyLevelService.GetApiCredentialApiResponse>();
                        APICredentialsCompanyLevelService.GetApiCredentialApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/merchants/{merchantId}/apiCredentials/{apiCredentialId}", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGetApiCredentialDefaultImplementation(apiResponse, merchantId, apiCredentialId);

                        Events.ExecuteOnGetApiCredential(apiResponse);
                    
                        return apiResponse;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGetApiCredentialDefaultImplementation(e, "/merchants/{merchantId}/apiCredentials/{apiCredentialId}", uriBuilder.Path, merchantId, apiCredentialId);
                Events.ExecuteOnErrorGetApiCredential(e);
                throw;
            }
        }

        partial void FormatListApiCredentials(ref string merchantId, ref Option<int> pageNumber, ref Option<int> pageSize);

        /// <summary>
        /// Validates the request parameters.
        /// </summary>
        /// <param name="merchantId"></param>
        /// <returns></returns>
        private void ValidateListApiCredentials(string merchantId)
        {
            if (merchantId == null)
                throw new ArgumentNullException(nameof(merchantId));
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="apiResponse"></param>
        /// <param name="merchantId"></param>
        /// <param name="pageNumber"></param>
        /// <param name="pageSize"></param>
        private void AfterListApiCredentialsDefaultImplementation(IListApiCredentialsApiResponse apiResponse, string merchantId, Option<int> pageNumber, Option<int> pageSize)
        {
            bool suppressDefaultLog = false;
            AfterListApiCredentials(ref suppressDefaultLog, apiResponse, merchantId, pageNumber, pageSize);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {3}", (apiResponse.DownloadedAt - apiResponse.RequestedAt).TotalSeconds, apiResponse.StatusCode, apiResponse.Path);
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponse"></param>
        /// <param name="merchantId"></param>
        /// <param name="pageNumber"></param>
        /// <param name="pageSize"></param>
        partial void AfterListApiCredentials(ref bool suppressDefaultLog, IListApiCredentialsApiResponse apiResponse, string merchantId, Option<int> pageNumber, Option<int> pageSize);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response.
        /// </summary>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        /// <param name="merchantId"></param>
        /// <param name="pageNumber"></param>
        /// <param name="pageSize"></param>
        private void OnErrorListApiCredentialsDefaultImplementation(Exception exception, string pathFormat, string path, string merchantId, Option<int> pageNumber, Option<int> pageSize)
        {
            bool suppressDefaultLog = false;
            OnErrorListApiCredentials(ref suppressDefaultLog, exception, pathFormat, path, merchantId, pageNumber, pageSize);
            if (!suppressDefaultLog)
                Logger.LogError(exception, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        /// <param name="merchantId"></param>
        /// <param name="pageNumber"></param>
        /// <param name="pageSize"></param>
        partial void OnErrorListApiCredentials(ref bool suppressDefaultLog, Exception exception, string pathFormat, string path, string merchantId, Option<int> pageNumber, Option<int> pageSize);

        /// <summary>
        /// Get a list of API credentials Returns the list of [API credentials](https://docs.adyen.com/development-resources/api-credentials) for the merchant account. The list is grouped into pages as defined by the query parameters.  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="merchantId">The unique identifier of the merchant account.</param>
        /// <param name="pageNumber">The number of the page to fetch. (optional)</param>
        /// <param name="pageSize">The number of items to have on a page, maximum 100. The default is 10 items on a page. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IListApiCredentialsApiResponse"/>&gt;</returns>
        public async Task<IListApiCredentialsApiResponse> ListApiCredentialsAsync(string merchantId, Option<int> pageNumber = default, Option<int> pageSize = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                ValidateListApiCredentials(merchantId);

                FormatListApiCredentials(ref merchantId, ref pageNumber, ref pageSize);

                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/merchants/{merchantId}/apiCredentials"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/merchants/{merchantId}/apiCredentials");
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BmerchantId%7D", Uri.EscapeDataString(merchantId.ToString()));

                    System.Collections.Specialized.NameValueCollection parseQueryString = System.Web.HttpUtility.ParseQueryString(string.Empty);

                    if (pageNumber.IsSet)
                        parseQueryString["pageNumber"] = ClientUtils.ParameterToString(pageNumber.Value);

                    if (pageSize.IsSet)
                        parseQueryString["pageSize"] = ClientUtils.ParameterToString(pageSize.Value);

                    uriBuilder.Query = parseQueryString.ToString();

                    ApiKeyToken apiKeyToken2 = (ApiKeyToken) ApiKeyProvider.Get();
                    apiKeyToken2.AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));

                    httpRequestMessage.Method = HttpMethod.Get;

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<APICredentialsCompanyLevelService.ListApiCredentialsApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<APICredentialsCompanyLevelService.ListApiCredentialsApiResponse>();
                        APICredentialsCompanyLevelService.ListApiCredentialsApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/merchants/{merchantId}/apiCredentials", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterListApiCredentialsDefaultImplementation(apiResponse, merchantId, pageNumber, pageSize);

                        Events.ExecuteOnListApiCredentials(apiResponse);
                    
                        return apiResponse;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorListApiCredentialsDefaultImplementation(e, "/merchants/{merchantId}/apiCredentials", uriBuilder.Path, merchantId, pageNumber, pageSize);
                Events.ExecuteOnErrorListApiCredentials(e);
                throw;
            }
        }

        partial void FormatUpdateApiCredential(ref string merchantId, ref string apiCredentialId, Option<UpdateMerchantApiCredentialRequest> updateMerchantApiCredentialRequest);

        /// <summary>
        /// Validates the request parameters.
        /// </summary>
        /// <param name="merchantId"></param>
        /// <param name="apiCredentialId"></param>
        /// <param name="updateMerchantApiCredentialRequest"></param>
        /// <returns></returns>
        private void ValidateUpdateApiCredential(string merchantId, string apiCredentialId, Option<UpdateMerchantApiCredentialRequest> updateMerchantApiCredentialRequest)
        {
            if (merchantId == null)
                throw new ArgumentNullException(nameof(merchantId));

            if (apiCredentialId == null)
                throw new ArgumentNullException(nameof(apiCredentialId));

            if (updateMerchantApiCredentialRequest.IsSet && updateMerchantApiCredentialRequest.Value == null)
                throw new ArgumentNullException(nameof(updateMerchantApiCredentialRequest));
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="apiResponse"></param>
        /// <param name="merchantId"></param>
        /// <param name="apiCredentialId"></param>
        /// <param name="updateMerchantApiCredentialRequest"></param>
        private void AfterUpdateApiCredentialDefaultImplementation(IUpdateApiCredentialApiResponse apiResponse, string merchantId, string apiCredentialId, Option<UpdateMerchantApiCredentialRequest> updateMerchantApiCredentialRequest)
        {
            bool suppressDefaultLog = false;
            AfterUpdateApiCredential(ref suppressDefaultLog, apiResponse, merchantId, apiCredentialId, updateMerchantApiCredentialRequest);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {3}", (apiResponse.DownloadedAt - apiResponse.RequestedAt).TotalSeconds, apiResponse.StatusCode, apiResponse.Path);
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponse"></param>
        /// <param name="merchantId"></param>
        /// <param name="apiCredentialId"></param>
        /// <param name="updateMerchantApiCredentialRequest"></param>
        partial void AfterUpdateApiCredential(ref bool suppressDefaultLog, IUpdateApiCredentialApiResponse apiResponse, string merchantId, string apiCredentialId, Option<UpdateMerchantApiCredentialRequest> updateMerchantApiCredentialRequest);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response.
        /// </summary>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        /// <param name="merchantId"></param>
        /// <param name="apiCredentialId"></param>
        /// <param name="updateMerchantApiCredentialRequest"></param>
        private void OnErrorUpdateApiCredentialDefaultImplementation(Exception exception, string pathFormat, string path, string merchantId, string apiCredentialId, Option<UpdateMerchantApiCredentialRequest> updateMerchantApiCredentialRequest)
        {
            bool suppressDefaultLog = false;
            OnErrorUpdateApiCredential(ref suppressDefaultLog, exception, pathFormat, path, merchantId, apiCredentialId, updateMerchantApiCredentialRequest);
            if (!suppressDefaultLog)
                Logger.LogError(exception, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        /// <param name="merchantId"></param>
        /// <param name="apiCredentialId"></param>
        /// <param name="updateMerchantApiCredentialRequest"></param>
        partial void OnErrorUpdateApiCredential(ref bool suppressDefaultLog, Exception exception, string pathFormat, string path, string merchantId, string apiCredentialId, Option<UpdateMerchantApiCredentialRequest> updateMerchantApiCredentialRequest);

        /// <summary>
        /// Update an API credential Changes the API credential&#39;s roles, or allowed origins. The request has the new values for the fields you want to change. The response contains the full updated API credential, including the new values from the request.   To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="merchantId">The unique identifier of the merchant account.</param>
        /// <param name="apiCredentialId">Unique identifier of the API credential.</param>
        /// <param name="updateMerchantApiCredentialRequest"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IUpdateApiCredentialApiResponse"/>&gt;</returns>
        public async Task<IUpdateApiCredentialApiResponse> UpdateApiCredentialAsync(string merchantId, string apiCredentialId, Option<UpdateMerchantApiCredentialRequest> updateMerchantApiCredentialRequest = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                ValidateUpdateApiCredential(merchantId, apiCredentialId, updateMerchantApiCredentialRequest);

                FormatUpdateApiCredential(ref merchantId, ref apiCredentialId, updateMerchantApiCredentialRequest);

                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/merchants/{merchantId}/apiCredentials/{apiCredentialId}"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/merchants/{merchantId}/apiCredentials/{apiCredentialId}");
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BmerchantId%7D", Uri.EscapeDataString(merchantId.ToString()));
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BapiCredentialId%7D", Uri.EscapeDataString(apiCredentialId.ToString()));

                    if (updateMerchantApiCredentialRequest.IsSet)
                        httpRequestMessage.Content = (updateMerchantApiCredentialRequest.Value as object) is System.IO.Stream stream
                            ? httpRequestMessage.Content = new StreamContent(stream)
                            : httpRequestMessage.Content = new StringContent(JsonSerializer.Serialize(updateMerchantApiCredentialRequest.Value, _jsonSerializerOptions));

                    ApiKeyToken apiKeyToken2 = (ApiKeyToken) ApiKeyProvider.Get();
                    apiKeyToken2.AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    string? contentType = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentType != null && httpRequestMessage.Content != null)
                        httpRequestMessage.Content.Headers.ContentType = new MediaTypeHeaderValue(contentType);

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));

                    httpRequestMessage.Method = HttpMethod.Patch;

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<APICredentialsCompanyLevelService.UpdateApiCredentialApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<APICredentialsCompanyLevelService.UpdateApiCredentialApiResponse>();
                        APICredentialsCompanyLevelService.UpdateApiCredentialApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/merchants/{merchantId}/apiCredentials/{apiCredentialId}", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterUpdateApiCredentialDefaultImplementation(apiResponse, merchantId, apiCredentialId, updateMerchantApiCredentialRequest);

                        Events.ExecuteOnUpdateApiCredential(apiResponse);
                    
                        return apiResponse;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorUpdateApiCredentialDefaultImplementation(e, "/merchants/{merchantId}/apiCredentials/{apiCredentialId}", uriBuilder.Path, merchantId, apiCredentialId, updateMerchantApiCredentialRequest);
                Events.ExecuteOnErrorUpdateApiCredential(e);
                throw;
            }
        }
    }
}
