// <auto-generated>
/*
 * Management API
 *
 * Configure and manage your Adyen company and merchant accounts, stores, and payment terminals. ## Authentication Each request to the Management API must be signed with an API key. [Generate your API key](https://docs.adyen.com/development-resources/api-credentials#generate-api-key) in the Customer Area and then set this key to the `X-API-Key` header value.  To access the live endpoints, you need to generate a new API key in your live Customer Area. ## Versioning  Management API handles versioning as part of the endpoint URL. For example, to send a request to this version of the `/companies/{companyId}/webhooks` endpoint, use:  ```text https://management-test.adyen.com/v3/companies/{companyId}/webhooks ```  ## Going live  To access the live endpoints, you need an API key from your live Customer Area. Use this API key to make requests to:  ```text https://management-live.adyen.com/v3 ```  ## Release notes Have a look at the [release notes](https://docs.adyen.com/release-notes/management-api) to find out what changed in this version!
 *
 * The version of the OpenAPI document: 3
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Net;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using Adyen.Core;
using Adyen.Core.Auth;
using Adyen.Core.Client;
using Adyen.Core.Client.Extensions;
using Adyen.Management.Client;
using Adyen.Management.Models;
using System.Diagnostics.CodeAnalysis;

namespace Adyen.Management.Services
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// This class is registered as transient.
    /// </summary>
    public interface IAPICredentialsCompanyLevelService : IAdyenApiService
    {
        /// <summary>
        /// The class containing the events.
        /// </summary>
        APICredentialsCompanyLevelServiceEvents Events { get; }

        /// <summary>
        /// Create an API credential.
        /// </summary>
        /// <remarks>
        /// Creates an [API credential](https://docs.adyen.com/development-resources/api-credentials) for the company account identified in the path. In the request, you can specify which merchant accounts the new API credential will have access to, as well as its roles and allowed origins.  The response includes several types of authentication details: * [API key](https://docs.adyen.com/development-resources/api-authentication#api-key-authentication): used for API request authentication. * [Client key](https://docs.adyen.com/development-resources/client-side-authentication#how-it-works): public key used for client-side authentication. * [Username and password](https://docs.adyen.com/development-resources/api-authentication#using-basic-authentication): used for basic authentication.  &gt; Make sure you store the API key securely in your system. You won&#39;t be able to retrieve it later.  If your API key is lost or compromised, you need to [generate a new API key](https://docs.adyen.com/api-explorer/#/ManagementService/v1/post/companies/{companyId}/apiCredentials/{apiCredentialId}/generateApiKey).  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="companyId">The unique identifier of the company account.</param>
        /// <param name="createCompanyApiCredentialRequest"></param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="ICreateApiCredentialApiResponse"/>.</returns>
        Task<ICreateApiCredentialApiResponse> CreateApiCredentialAsync(string companyId, Option<CreateCompanyApiCredentialRequest> createCompanyApiCredentialRequest = default, RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get an API credential
        /// </summary>
        /// <remarks>
        /// Returns the [API credential](https://docs.adyen.com/development-resources/api-credentials) identified in the path.  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="companyId">The unique identifier of the company account.</param>
        /// <param name="apiCredentialId">Unique identifier of the API credential.</param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IGetApiCredentialApiResponse"/>.</returns>
        Task<IGetApiCredentialApiResponse> GetApiCredentialAsync(string companyId, string apiCredentialId, RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get a list of API credentials
        /// </summary>
        /// <remarks>
        /// Returns the list of [API credentials](https://docs.adyen.com/development-resources/api-credentials) for the company account. The list is grouped into pages as defined by the query parameters.  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="companyId">The unique identifier of the company account.</param>
        /// <param name="pageNumber">The number of the page to fetch.</param>
        /// <param name="pageSize">The number of items to have on a page, maximum 100. The default is 10 items on a page.</param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IListApiCredentialsApiResponse"/>.</returns>
        Task<IListApiCredentialsApiResponse> ListApiCredentialsAsync(string companyId, Option<int> pageNumber = default, Option<int> pageSize = default, RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Update an API credential.
        /// </summary>
        /// <remarks>
        /// Changes the API credential&#39;s roles, merchant account access, or allowed origins. The request has the new values for the fields you want to change. The response contains the full updated API credential, including the new values from the request.   To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="companyId">The unique identifier of the company account.</param>
        /// <param name="apiCredentialId">Unique identifier of the API credential.</param>
        /// <param name="updateCompanyApiCredentialRequest"></param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IUpdateApiCredentialApiResponse"/>.</returns>
        Task<IUpdateApiCredentialApiResponse> UpdateApiCredentialAsync(string companyId, string apiCredentialId, Option<UpdateCompanyApiCredentialRequest> updateCompanyApiCredentialRequest = default, RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default);

    }

    /// <summary>
    /// The <see cref="ICreateApiCredentialApiResponse"/>.
    /// // Usage: Use `TryDeserializeOk(out var result)` to get the result from the API:
    /// <see cref="Adyen.Management.Models.CreateCompanyApiCredentialResponse"/>.
    /// </summary>
    public interface ICreateApiCredentialApiResponse : Adyen.Core.Client.IApiResponse, IOk<Adyen.Management.Models.CreateCompanyApiCredentialResponse?>, IBadRequest<Adyen.Management.Models.RestServiceError?>, IUnauthorized<Adyen.Management.Models.RestServiceError?>, IForbidden<Adyen.Management.Models.RestServiceError?>, IUnprocessableContent<Adyen.Management.Models.RestServiceError?>, IInternalServerError<Adyen.Management.Models.RestServiceError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok.
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest.
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized.
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden.
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent.
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError.
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// The <see cref="IGetApiCredentialApiResponse"/>.
    /// // Usage: Use `TryDeserializeOk(out var result)` to get the result from the API:
    /// <see cref="Adyen.Management.Models.CompanyApiCredential"/>.
    /// </summary>
    public interface IGetApiCredentialApiResponse : Adyen.Core.Client.IApiResponse, IOk<Adyen.Management.Models.CompanyApiCredential?>, IBadRequest<Adyen.Management.Models.RestServiceError?>, IUnauthorized<Adyen.Management.Models.RestServiceError?>, IForbidden<Adyen.Management.Models.RestServiceError?>, IUnprocessableContent<Adyen.Management.Models.RestServiceError?>, IInternalServerError<Adyen.Management.Models.RestServiceError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok.
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest.
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized.
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden.
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent.
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError.
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// The <see cref="IListApiCredentialsApiResponse"/>.
    /// // Usage: Use `TryDeserializeOk(out var result)` to get the result from the API:
    /// <see cref="Adyen.Management.Models.ListCompanyApiCredentialsResponse"/>.
    /// </summary>
    public interface IListApiCredentialsApiResponse : Adyen.Core.Client.IApiResponse, IOk<Adyen.Management.Models.ListCompanyApiCredentialsResponse?>, IBadRequest<Adyen.Management.Models.RestServiceError?>, IUnauthorized<Adyen.Management.Models.RestServiceError?>, IForbidden<Adyen.Management.Models.RestServiceError?>, IUnprocessableContent<Adyen.Management.Models.RestServiceError?>, IInternalServerError<Adyen.Management.Models.RestServiceError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok.
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest.
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized.
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden.
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent.
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError.
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// The <see cref="IUpdateApiCredentialApiResponse"/>.
    /// // Usage: Use `TryDeserializeOk(out var result)` to get the result from the API:
    /// <see cref="Adyen.Management.Models.CompanyApiCredential"/>.
    /// </summary>
    public interface IUpdateApiCredentialApiResponse : Adyen.Core.Client.IApiResponse, IOk<Adyen.Management.Models.CompanyApiCredential?>, IBadRequest<Adyen.Management.Models.RestServiceError?>, IUnauthorized<Adyen.Management.Models.RestServiceError?>, IForbidden<Adyen.Management.Models.RestServiceError?>, IUnprocessableContent<Adyen.Management.Models.RestServiceError?>, IInternalServerError<Adyen.Management.Models.RestServiceError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok.
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest.
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized.
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden.
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent.
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError.
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// </summary>
    public class APICredentialsCompanyLevelServiceEvents
    {
        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnCreateApiCredential;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorCreateApiCredential;

        internal void ExecuteOnCreateApiCredential(APICredentialsCompanyLevelService.CreateApiCredentialApiResponse apiResponse)
        {
            OnCreateApiCredential?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorCreateApiCredential(Exception exception)
        {
            OnErrorCreateApiCredential?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetApiCredential;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetApiCredential;

        internal void ExecuteOnGetApiCredential(APICredentialsCompanyLevelService.GetApiCredentialApiResponse apiResponse)
        {
            OnGetApiCredential?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetApiCredential(Exception exception)
        {
            OnErrorGetApiCredential?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnListApiCredentials;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorListApiCredentials;

        internal void ExecuteOnListApiCredentials(APICredentialsCompanyLevelService.ListApiCredentialsApiResponse apiResponse)
        {
            OnListApiCredentials?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorListApiCredentials(Exception exception)
        {
            OnErrorListApiCredentials?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnUpdateApiCredential;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorUpdateApiCredential;

        internal void ExecuteOnUpdateApiCredential(APICredentialsCompanyLevelService.UpdateApiCredentialApiResponse apiResponse)
        {
            OnUpdateApiCredential?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorUpdateApiCredential(Exception exception)
        {
            OnErrorUpdateApiCredential?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// </summary>
    public sealed partial class APICredentialsCompanyLevelService : IAPICredentialsCompanyLevelService
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory.
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger.
        /// </summary>
        public ILogger<APICredentialsCompanyLevelService> Logger { get; }

        /// <summary>
        /// The HttpClient.
        /// </summary>
        public System.Net.Http.HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events.
        /// </summary>
        public APICredentialsCompanyLevelServiceEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="ApiKeyProvider"/>.
        /// </summary>
        public ITokenProvider<ApiKeyToken> ApiKeyProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="APICredentialsCompanyLevelService"/> class.
        /// </summary>
        public APICredentialsCompanyLevelService(ILogger<APICredentialsCompanyLevelService> logger, ILoggerFactory loggerFactory, System.Net.Http.HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, APICredentialsCompanyLevelServiceEvents aPICredentialsCompanyLevelServiceEvents,
            ITokenProvider<ApiKeyToken> apiKeyProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = logger == null ? LoggerFactory.CreateLogger<APICredentialsCompanyLevelService>() : logger;
            HttpClient = httpClient;
            Events = aPICredentialsCompanyLevelServiceEvents;
            ApiKeyProvider = apiKeyProvider;
        }
        
        /// <summary>
        /// Create an API credential. Creates an [API credential](https://docs.adyen.com/development-resources/api-credentials) for the company account identified in the path. In the request, you can specify which merchant accounts the new API credential will have access to, as well as its roles and allowed origins.  The response includes several types of authentication details: * [API key](https://docs.adyen.com/development-resources/api-authentication#api-key-authentication): used for API request authentication. * [Client key](https://docs.adyen.com/development-resources/client-side-authentication#how-it-works): public key used for client-side authentication. * [Username and password](https://docs.adyen.com/development-resources/api-authentication#using-basic-authentication): used for basic authentication.  &gt; Make sure you store the API key securely in your system. You won&#39;t be able to retrieve it later.  If your API key is lost or compromised, you need to [generate a new API key](https://docs.adyen.com/api-explorer/#/ManagementService/v1/post/companies/{companyId}/apiCredentials/{apiCredentialId}/generateApiKey).  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </summary>
        /// <example>
        /// Use TryDeserializeOk(out <see cref="Adyen.Management.Models.CreateCompanyApiCredentialResponse"/> result) to retrieve the API result, when 200 OK response.
        /// </example>
        /// <code>
        /// // Usage:
        /// var response = await CreateApiCredentialAsync(...);
        /// if (response.TryDeserializeOk(out <see cref="Adyen.Management.Models.CreateCompanyApiCredentialResponse"/> result));
        /// </code>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="companyId">The unique identifier of the company account.</param>
        /// <param name="createCompanyApiCredentialRequest"><see cref="CreateCompanyApiCredentialRequest"/> (optional)</param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="ICreateApiCredentialApiResponse"/> - If 200 OK response wraps the <see cref="Adyen.Management.Models.CreateCompanyApiCredentialResponse"/> when `TryDeserializeOk(...)` is called.</returns>
        public async Task<ICreateApiCredentialApiResponse> CreateApiCredentialAsync(string companyId, Option<CreateCompanyApiCredentialRequest> createCompanyApiCredentialRequest = default, RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/companies/{companyId}/apiCredentials"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/companies/{companyId}/apiCredentials");
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BcompanyId%7D", Uri.EscapeDataString(companyId.ToString()));

                    // Adds headers to the HttpRequestMessage header, these can be set in the RequestOptions (Idempotency-Key etc.)
                    requestOptions?.AddHeadersToHttpRequestMessage(httpRequestMessage);
                    if (createCompanyApiCredentialRequest.IsSet)
                        httpRequestMessage.Content = (createCompanyApiCredentialRequest.Value as object) is System.IO.Stream stream
                            ? httpRequestMessage.Content = new StreamContent(stream)
                            : httpRequestMessage.Content = new StringContent(JsonSerializer.Serialize(createCompanyApiCredentialRequest.Value, _jsonSerializerOptions));

                    // Add authorization token to the HttpRequestMessage header
                    ApiKeyProvider.Get().AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    httpRequestMessage.AddUserAgentToHeaders();
                    httpRequestMessage.AddLibraryNameToHeader();
                    httpRequestMessage.AddLibraryVersionToHeader();
                    
                    string? contentType = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentType != null && httpRequestMessage.Content != null)
                        httpRequestMessage.Content.Headers.ContentType = new MediaTypeHeaderValue(contentType);

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));

                    httpRequestMessage.Method = HttpMethod.Post;

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<CreateApiCredentialApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<CreateApiCredentialApiResponse>();
                        CreateApiCredentialApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/companies/{companyId}/apiCredentials", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }
                        
                        Events.ExecuteOnCreateApiCredential(apiResponse);
                        return apiResponse;
                    }
                }
            }
            catch(Exception exception)
            {
                Events.ExecuteOnErrorCreateApiCredential(exception);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="CreateApiCredentialApiResponse"/>.
        /// </summary>
        public partial class CreateApiCredentialApiResponse : Adyen.Core.Client.ApiResponse, ICreateApiCredentialApiResponse
        {
            /// <summary>
            /// The logger for <see cref="CreateApiCredentialApiResponse"/>.
            /// </summary>
            public ILogger<CreateApiCredentialApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="CreateApiCredentialApiResponse"/>.
            /// </summary>
            /// <param name="logger"><see cref="ILogger"/>.</param>
            /// <param name="httpRequestMessage"><see cref="System.Net.Http.HttpRequestMessage"/>.</param>
            /// <param name="httpResponseMessage"><see cref="System.Net.Http.HttpResponseMessage"/>.</param>
            /// <param name="rawContent">The raw data.</param>
            /// <param name="path">The path used when making the request.</param>
            /// <param name="requestedAt">The DateTime.UtcNow when the request was retrieved.</param>
            /// <param name="jsonSerializerOptions"><see cref="JsonSerializerOptionsProvider"/></param>
            public CreateApiCredentialApiResponse(ILogger<CreateApiCredentialApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="CreateApiCredentialApiResponse"/>.
            /// </summary>
            /// <param name="logger"><see cref="ILogger"/>.</param>
            /// <param name="httpRequestMessage"><see cref="System.Net.Http.HttpRequestMessage"/>.</param>
            /// <param name="httpResponseMessage"><see cref="System.Net.Http.HttpResponseMessage"/>.</param>
            /// <param name="contentStream">The raw binary stream (only set for binary responses).</param>
            /// <param name="path">The path used when making the request.</param>
            /// <param name="requestedAt">The DateTime.UtcNow when the request was retrieved.</param>
            /// <param name="jsonSerializerOptions"><see cref="JsonSerializerOptionsProvider"/></param>
            public CreateApiCredentialApiResponse(ILogger<CreateApiCredentialApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.CreateCompanyApiCredentialResponse? Ok()
            {
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.CreateCompanyApiCredentialResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeOkResponse([NotNullWhen(true)]out Adyen.Management.Models.CreateCompanyApiCredentialResponse? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? BadRequest()
            {
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeBadRequestResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Unauthorized()
            {
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnauthorizedResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)401);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public bool IsForbidden => 403 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Forbidden()
            {
                return IsForbidden
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeForbiddenResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Forbidden();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)403);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? UnprocessableContent()
            {
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnprocessableContentResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)422);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? InternalServerError()
            {
                return IsInternalServerError
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeInternalServerErrorResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = InternalServerError();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)500);
                }

                return result != null;
            }

            private void OnDeserializationError(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }
        
        /// <summary>
        /// Get an API credential Returns the [API credential](https://docs.adyen.com/development-resources/api-credentials) identified in the path.  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </summary>
        /// <example>
        /// Use TryDeserializeOk(out <see cref="Adyen.Management.Models.CompanyApiCredential"/> result) to retrieve the API result, when 200 OK response.
        /// </example>
        /// <code>
        /// // Usage:
        /// var response = await GetApiCredentialAsync(...);
        /// if (response.TryDeserializeOk(out <see cref="Adyen.Management.Models.CompanyApiCredential"/> result));
        /// </code>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="companyId">The unique identifier of the company account.</param>
        /// <param name="apiCredentialId">Unique identifier of the API credential.</param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IGetApiCredentialApiResponse"/> - If 200 OK response wraps the <see cref="Adyen.Management.Models.CompanyApiCredential"/> when `TryDeserializeOk(...)` is called.</returns>
        public async Task<IGetApiCredentialApiResponse> GetApiCredentialAsync(string companyId, string apiCredentialId, RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/companies/{companyId}/apiCredentials/{apiCredentialId}"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/companies/{companyId}/apiCredentials/{apiCredentialId}");
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BcompanyId%7D", Uri.EscapeDataString(companyId.ToString()));
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BapiCredentialId%7D", Uri.EscapeDataString(apiCredentialId.ToString()));

                    // Adds headers to the HttpRequestMessage header, these can be set in the RequestOptions (Idempotency-Key etc.)
                    requestOptions?.AddHeadersToHttpRequestMessage(httpRequestMessage);

                    // Add authorization token to the HttpRequestMessage header
                    ApiKeyProvider.Get().AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));

                    httpRequestMessage.Method = HttpMethod.Get;

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GetApiCredentialApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<GetApiCredentialApiResponse>();
                        GetApiCredentialApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/companies/{companyId}/apiCredentials/{apiCredentialId}", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }
                        
                        Events.ExecuteOnGetApiCredential(apiResponse);
                        return apiResponse;
                    }
                }
            }
            catch(Exception exception)
            {
                Events.ExecuteOnErrorGetApiCredential(exception);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GetApiCredentialApiResponse"/>.
        /// </summary>
        public partial class GetApiCredentialApiResponse : Adyen.Core.Client.ApiResponse, IGetApiCredentialApiResponse
        {
            /// <summary>
            /// The logger for <see cref="GetApiCredentialApiResponse"/>.
            /// </summary>
            public ILogger<GetApiCredentialApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GetApiCredentialApiResponse"/>.
            /// </summary>
            /// <param name="logger"><see cref="ILogger"/>.</param>
            /// <param name="httpRequestMessage"><see cref="System.Net.Http.HttpRequestMessage"/>.</param>
            /// <param name="httpResponseMessage"><see cref="System.Net.Http.HttpResponseMessage"/>.</param>
            /// <param name="rawContent">The raw data.</param>
            /// <param name="path">The path used when making the request.</param>
            /// <param name="requestedAt">The DateTime.UtcNow when the request was retrieved.</param>
            /// <param name="jsonSerializerOptions"><see cref="JsonSerializerOptionsProvider"/></param>
            public GetApiCredentialApiResponse(ILogger<GetApiCredentialApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GetApiCredentialApiResponse"/>.
            /// </summary>
            /// <param name="logger"><see cref="ILogger"/>.</param>
            /// <param name="httpRequestMessage"><see cref="System.Net.Http.HttpRequestMessage"/>.</param>
            /// <param name="httpResponseMessage"><see cref="System.Net.Http.HttpResponseMessage"/>.</param>
            /// <param name="contentStream">The raw binary stream (only set for binary responses).</param>
            /// <param name="path">The path used when making the request.</param>
            /// <param name="requestedAt">The DateTime.UtcNow when the request was retrieved.</param>
            /// <param name="jsonSerializerOptions"><see cref="JsonSerializerOptionsProvider"/></param>
            public GetApiCredentialApiResponse(ILogger<GetApiCredentialApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.CompanyApiCredential? Ok()
            {
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.CompanyApiCredential>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeOkResponse([NotNullWhen(true)]out Adyen.Management.Models.CompanyApiCredential? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? BadRequest()
            {
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeBadRequestResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Unauthorized()
            {
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnauthorizedResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)401);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public bool IsForbidden => 403 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Forbidden()
            {
                return IsForbidden
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeForbiddenResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Forbidden();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)403);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? UnprocessableContent()
            {
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnprocessableContentResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)422);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? InternalServerError()
            {
                return IsInternalServerError
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeInternalServerErrorResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = InternalServerError();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)500);
                }

                return result != null;
            }

            private void OnDeserializationError(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }
        
        /// <summary>
        /// Get a list of API credentials Returns the list of [API credentials](https://docs.adyen.com/development-resources/api-credentials) for the company account. The list is grouped into pages as defined by the query parameters.  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </summary>
        /// <example>
        /// Use TryDeserializeOk(out <see cref="Adyen.Management.Models.ListCompanyApiCredentialsResponse"/> result) to retrieve the API result, when 200 OK response.
        /// </example>
        /// <code>
        /// // Usage:
        /// var response = await ListApiCredentialsAsync(...);
        /// if (response.TryDeserializeOk(out <see cref="Adyen.Management.Models.ListCompanyApiCredentialsResponse"/> result));
        /// </code>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="companyId">The unique identifier of the company account.</param>
        /// <param name="pageNumber">The number of the page to fetch. (optional)</param>
        /// <param name="pageSize">The number of items to have on a page, maximum 100. The default is 10 items on a page. (optional)</param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IListApiCredentialsApiResponse"/> - If 200 OK response wraps the <see cref="Adyen.Management.Models.ListCompanyApiCredentialsResponse"/> when `TryDeserializeOk(...)` is called.</returns>
        public async Task<IListApiCredentialsApiResponse> ListApiCredentialsAsync(string companyId, Option<int> pageNumber = default, Option<int> pageSize = default, RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/companies/{companyId}/apiCredentials"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/companies/{companyId}/apiCredentials");
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BcompanyId%7D", Uri.EscapeDataString(companyId.ToString()));

                    System.Collections.Specialized.NameValueCollection parseQueryString = System.Web.HttpUtility.ParseQueryString(string.Empty);

                    if (pageNumber.IsSet)
                        parseQueryString["pageNumber"] = ClientUtils.ParameterToString(pageNumber.Value);

                    if (pageSize.IsSet)
                        parseQueryString["pageSize"] = ClientUtils.ParameterToString(pageSize.Value);

                    uriBuilder.Query = parseQueryString.ToString();

                    // Adds headers to the HttpRequestMessage header, these can be set in the RequestOptions (Idempotency-Key etc.)
                    requestOptions?.AddHeadersToHttpRequestMessage(httpRequestMessage);

                    // Add authorization token to the HttpRequestMessage header
                    ApiKeyProvider.Get().AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));

                    httpRequestMessage.Method = HttpMethod.Get;

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<ListApiCredentialsApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<ListApiCredentialsApiResponse>();
                        ListApiCredentialsApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/companies/{companyId}/apiCredentials", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }
                        
                        Events.ExecuteOnListApiCredentials(apiResponse);
                        return apiResponse;
                    }
                }
            }
            catch(Exception exception)
            {
                Events.ExecuteOnErrorListApiCredentials(exception);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="ListApiCredentialsApiResponse"/>.
        /// </summary>
        public partial class ListApiCredentialsApiResponse : Adyen.Core.Client.ApiResponse, IListApiCredentialsApiResponse
        {
            /// <summary>
            /// The logger for <see cref="ListApiCredentialsApiResponse"/>.
            /// </summary>
            public ILogger<ListApiCredentialsApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="ListApiCredentialsApiResponse"/>.
            /// </summary>
            /// <param name="logger"><see cref="ILogger"/>.</param>
            /// <param name="httpRequestMessage"><see cref="System.Net.Http.HttpRequestMessage"/>.</param>
            /// <param name="httpResponseMessage"><see cref="System.Net.Http.HttpResponseMessage"/>.</param>
            /// <param name="rawContent">The raw data.</param>
            /// <param name="path">The path used when making the request.</param>
            /// <param name="requestedAt">The DateTime.UtcNow when the request was retrieved.</param>
            /// <param name="jsonSerializerOptions"><see cref="JsonSerializerOptionsProvider"/></param>
            public ListApiCredentialsApiResponse(ILogger<ListApiCredentialsApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="ListApiCredentialsApiResponse"/>.
            /// </summary>
            /// <param name="logger"><see cref="ILogger"/>.</param>
            /// <param name="httpRequestMessage"><see cref="System.Net.Http.HttpRequestMessage"/>.</param>
            /// <param name="httpResponseMessage"><see cref="System.Net.Http.HttpResponseMessage"/>.</param>
            /// <param name="contentStream">The raw binary stream (only set for binary responses).</param>
            /// <param name="path">The path used when making the request.</param>
            /// <param name="requestedAt">The DateTime.UtcNow when the request was retrieved.</param>
            /// <param name="jsonSerializerOptions"><see cref="JsonSerializerOptionsProvider"/></param>
            public ListApiCredentialsApiResponse(ILogger<ListApiCredentialsApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.ListCompanyApiCredentialsResponse? Ok()
            {
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.ListCompanyApiCredentialsResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeOkResponse([NotNullWhen(true)]out Adyen.Management.Models.ListCompanyApiCredentialsResponse? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? BadRequest()
            {
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeBadRequestResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Unauthorized()
            {
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnauthorizedResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)401);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public bool IsForbidden => 403 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Forbidden()
            {
                return IsForbidden
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeForbiddenResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Forbidden();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)403);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? UnprocessableContent()
            {
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnprocessableContentResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)422);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? InternalServerError()
            {
                return IsInternalServerError
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeInternalServerErrorResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = InternalServerError();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)500);
                }

                return result != null;
            }

            private void OnDeserializationError(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }
        
        /// <summary>
        /// Update an API credential. Changes the API credential&#39;s roles, merchant account access, or allowed origins. The request has the new values for the fields you want to change. The response contains the full updated API credential, including the new values from the request.   To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </summary>
        /// <example>
        /// Use TryDeserializeOk(out <see cref="Adyen.Management.Models.CompanyApiCredential"/> result) to retrieve the API result, when 200 OK response.
        /// </example>
        /// <code>
        /// // Usage:
        /// var response = await UpdateApiCredentialAsync(...);
        /// if (response.TryDeserializeOk(out <see cref="Adyen.Management.Models.CompanyApiCredential"/> result));
        /// </code>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="companyId">The unique identifier of the company account.</param>
        /// <param name="apiCredentialId">Unique identifier of the API credential.</param>
        /// <param name="updateCompanyApiCredentialRequest"><see cref="UpdateCompanyApiCredentialRequest"/> (optional)</param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IUpdateApiCredentialApiResponse"/> - If 200 OK response wraps the <see cref="Adyen.Management.Models.CompanyApiCredential"/> when `TryDeserializeOk(...)` is called.</returns>
        public async Task<IUpdateApiCredentialApiResponse> UpdateApiCredentialAsync(string companyId, string apiCredentialId, Option<UpdateCompanyApiCredentialRequest> updateCompanyApiCredentialRequest = default, RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/companies/{companyId}/apiCredentials/{apiCredentialId}"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/companies/{companyId}/apiCredentials/{apiCredentialId}");
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BcompanyId%7D", Uri.EscapeDataString(companyId.ToString()));
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BapiCredentialId%7D", Uri.EscapeDataString(apiCredentialId.ToString()));

                    // Adds headers to the HttpRequestMessage header, these can be set in the RequestOptions (Idempotency-Key etc.)
                    requestOptions?.AddHeadersToHttpRequestMessage(httpRequestMessage);
                    if (updateCompanyApiCredentialRequest.IsSet)
                        httpRequestMessage.Content = (updateCompanyApiCredentialRequest.Value as object) is System.IO.Stream stream
                            ? httpRequestMessage.Content = new StreamContent(stream)
                            : httpRequestMessage.Content = new StringContent(JsonSerializer.Serialize(updateCompanyApiCredentialRequest.Value, _jsonSerializerOptions));

                    // Add authorization token to the HttpRequestMessage header
                    ApiKeyProvider.Get().AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    httpRequestMessage.AddUserAgentToHeaders();
                    httpRequestMessage.AddLibraryNameToHeader();
                    httpRequestMessage.AddLibraryVersionToHeader();
                    
                    string? contentType = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentType != null && httpRequestMessage.Content != null)
                        httpRequestMessage.Content.Headers.ContentType = new MediaTypeHeaderValue(contentType);

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));

                    httpRequestMessage.Method = HttpMethod.Patch;

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<UpdateApiCredentialApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<UpdateApiCredentialApiResponse>();
                        UpdateApiCredentialApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/companies/{companyId}/apiCredentials/{apiCredentialId}", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }
                        
                        Events.ExecuteOnUpdateApiCredential(apiResponse);
                        return apiResponse;
                    }
                }
            }
            catch(Exception exception)
            {
                Events.ExecuteOnErrorUpdateApiCredential(exception);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="UpdateApiCredentialApiResponse"/>.
        /// </summary>
        public partial class UpdateApiCredentialApiResponse : Adyen.Core.Client.ApiResponse, IUpdateApiCredentialApiResponse
        {
            /// <summary>
            /// The logger for <see cref="UpdateApiCredentialApiResponse"/>.
            /// </summary>
            public ILogger<UpdateApiCredentialApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="UpdateApiCredentialApiResponse"/>.
            /// </summary>
            /// <param name="logger"><see cref="ILogger"/>.</param>
            /// <param name="httpRequestMessage"><see cref="System.Net.Http.HttpRequestMessage"/>.</param>
            /// <param name="httpResponseMessage"><see cref="System.Net.Http.HttpResponseMessage"/>.</param>
            /// <param name="rawContent">The raw data.</param>
            /// <param name="path">The path used when making the request.</param>
            /// <param name="requestedAt">The DateTime.UtcNow when the request was retrieved.</param>
            /// <param name="jsonSerializerOptions"><see cref="JsonSerializerOptionsProvider"/></param>
            public UpdateApiCredentialApiResponse(ILogger<UpdateApiCredentialApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="UpdateApiCredentialApiResponse"/>.
            /// </summary>
            /// <param name="logger"><see cref="ILogger"/>.</param>
            /// <param name="httpRequestMessage"><see cref="System.Net.Http.HttpRequestMessage"/>.</param>
            /// <param name="httpResponseMessage"><see cref="System.Net.Http.HttpResponseMessage"/>.</param>
            /// <param name="contentStream">The raw binary stream (only set for binary responses).</param>
            /// <param name="path">The path used when making the request.</param>
            /// <param name="requestedAt">The DateTime.UtcNow when the request was retrieved.</param>
            /// <param name="jsonSerializerOptions"><see cref="JsonSerializerOptionsProvider"/></param>
            public UpdateApiCredentialApiResponse(ILogger<UpdateApiCredentialApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.CompanyApiCredential? Ok()
            {
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.CompanyApiCredential>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeOkResponse([NotNullWhen(true)]out Adyen.Management.Models.CompanyApiCredential? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? BadRequest()
            {
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeBadRequestResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Unauthorized()
            {
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnauthorizedResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)401);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public bool IsForbidden => 403 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Forbidden()
            {
                return IsForbidden
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeForbiddenResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Forbidden();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)403);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? UnprocessableContent()
            {
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnprocessableContentResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)422);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? InternalServerError()
            {
                return IsInternalServerError
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeInternalServerErrorResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = InternalServerError();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)500);
                }

                return result != null;
            }

            private void OnDeserializationError(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }
        
    }
}
