// <auto-generated>
/*
 * Management API
 *
 * Configure and manage your Adyen company and merchant accounts, stores, and payment terminals. ## Authentication Each request to the Management API must be signed with an API key. [Generate your API key](https://docs.adyen.com/development-resources/api-credentials#generate-api-key) in the Customer Area and then set this key to the `X-API-Key` header value.  To access the live endpoints, you need to generate a new API key in your live Customer Area. ## Versioning  Management API handles versioning as part of the endpoint URL. For example, to send a request to this version of the `/companies/{companyId}/webhooks` endpoint, use:  ```text https://management-test.adyen.com/v3/companies/{companyId}/webhooks ```  ## Going live  To access the live endpoints, you need an API key from your live Customer Area. Use this API key to make requests to:  ```text https://management-live.adyen.com/v3 ```  ## Release notes Have a look at the [release notes](https://docs.adyen.com/release-notes/management-api) to find out what changed in this version!
 *
 * The version of the OpenAPI document: 3
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Net;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using Adyen.Core;
using Adyen.Core.Auth;
using Adyen.Core.Client;
using Adyen.Core.Client.Extensions;
using Adyen.Core.Options;
using Adyen.Management.Client;
using Adyen.Management.Models;
using System.Diagnostics.CodeAnalysis;

namespace Adyen.Management.Services
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// This class is registered as transient.
    /// </summary>
    public interface IAPICredentialsMerchantLevelService : IAdyenApiService
    {
        /// <summary>
        /// The class containing the events.
        /// </summary>
        APICredentialsMerchantLevelServiceEvents? Events { get; }

        /// <summary>
        /// Create an API credential
        /// </summary>
        /// <remarks>
        /// Creates an [API credential](https://docs.adyen.com/development-resources/api-credentials) for the company account identified in the path. In the request, you can specify the roles and allowed origins for the new API credential.  The response includes the: * [API key](https://docs.adyen.com/development-resources/api-authentication#api-key-authentication): used for API request authentication. * [Client key](https://docs.adyen.com/development-resources/client-side-authentication#how-it-works): public key used for client-side authentication. * [Username and password](https://docs.adyen.com/development-resources/api-authentication#using-basic-authentication): used for basic authentication.  &gt; Make sure you store the API key securely in your system. You won&#39;t be able to retrieve it later.  If your API key is lost or compromised, you need to [generate a new API key](https://docs.adyen.com/api-explorer/#/ManagementService/v1/post/merchants/{merchantId}/apiCredentials/{apiCredentialId}/generateApiKey).  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="merchantId">The unique identifier of the merchant account.</param>
        /// <param name="createMerchantApiCredentialRequest"></param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="ICreateApiCredentialApiResponse"/>.</returns>
        Task<ICreateApiCredentialApiResponse> CreateApiCredentialAsync(string merchantId, CreateMerchantApiCredentialRequest createMerchantApiCredentialRequest,  RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get an API credential
        /// </summary>
        /// <remarks>
        /// Returns the [API credential](https://docs.adyen.com/development-resources/api-credentials) identified in the path.  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="merchantId">The unique identifier of the merchant account.</param>
        /// <param name="apiCredentialId">Unique identifier of the API credential.</param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IGetApiCredentialApiResponse"/>.</returns>
        Task<IGetApiCredentialApiResponse> GetApiCredentialAsync(string merchantId, string apiCredentialId,  RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get a list of API credentials
        /// </summary>
        /// <remarks>
        /// Returns the list of [API credentials](https://docs.adyen.com/development-resources/api-credentials) for the merchant account. The list is grouped into pages as defined by the query parameters.  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="merchantId">The unique identifier of the merchant account.</param>
        /// <param name="pageNumber">The number of the page to fetch.</param>
        /// <param name="pageSize">The number of items to have on a page, maximum 100. The default is 10 items on a page.</param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IListApiCredentialsApiResponse"/>.</returns>
        Task<IListApiCredentialsApiResponse> ListApiCredentialsAsync(string merchantId, Option<int> pageNumber = default, Option<int> pageSize = default,  RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Update an API credential
        /// </summary>
        /// <remarks>
        /// Changes the API credential&#39;s roles, or allowed origins. The request has the new values for the fields you want to change. The response contains the full updated API credential, including the new values from the request.   To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="merchantId">The unique identifier of the merchant account.</param>
        /// <param name="apiCredentialId">Unique identifier of the API credential.</param>
        /// <param name="updateMerchantApiCredentialRequest"></param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IUpdateApiCredentialApiResponse"/>.</returns>
        Task<IUpdateApiCredentialApiResponse> UpdateApiCredentialAsync(string merchantId, string apiCredentialId, UpdateMerchantApiCredentialRequest updateMerchantApiCredentialRequest,  RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default);

    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// </summary>
    public class APICredentialsMerchantLevelServiceEvents
    {
        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnCreateApiCredential;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorCreateApiCredential;

        internal void ExecuteOnCreateApiCredential(APICredentialsCompanyLevelService.CreateApiCredentialApiResponse apiResponse)
        {
            OnCreateApiCredential?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorCreateApiCredential(Exception exception)
        {
            OnErrorCreateApiCredential?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetApiCredential;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetApiCredential;

        internal void ExecuteOnGetApiCredential(APICredentialsCompanyLevelService.GetApiCredentialApiResponse apiResponse)
        {
            OnGetApiCredential?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetApiCredential(Exception exception)
        {
            OnErrorGetApiCredential?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnListApiCredentials;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorListApiCredentials;

        internal void ExecuteOnListApiCredentials(APICredentialsCompanyLevelService.ListApiCredentialsApiResponse apiResponse)
        {
            OnListApiCredentials?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorListApiCredentials(Exception exception)
        {
            OnErrorListApiCredentials?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnUpdateApiCredential;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorUpdateApiCredential;

        internal void ExecuteOnUpdateApiCredential(APICredentialsCompanyLevelService.UpdateApiCredentialApiResponse apiResponse)
        {
            OnUpdateApiCredential?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorUpdateApiCredential(Exception exception)
        {
            OnErrorUpdateApiCredential?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// </summary>
    public sealed partial class APICredentialsMerchantLevelService : IAPICredentialsMerchantLevelService
    {

        /// <summary>
        /// The base path of the API, it includes the http(s)-scheme, the host domain name, and the base path.
        /// This value will be used to construct the URL in <see cref="System.Net.Http.HttpClient.BaseAddress"/> based on the Environment value set in <see cref="AdyenOptions.Environment"/>.
        /// </summary>
        private const string BASE_URL = "https://management-test.adyen.com/v3";
            
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory.
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger.
        /// </summary>
        public ILogger<APICredentialsMerchantLevelService> Logger { get; }

        /// <summary>
        /// The HttpClient.
        /// </summary>
        public System.Net.Http.HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events.
        /// </summary>
        public APICredentialsMerchantLevelServiceEvents? Events { get; }

        /// <summary>
        /// A token provider of type <see cref="ApiKeyProvider"/>.
        /// </summary>
        public ITokenProvider<ApiKeyToken> ApiKeyProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="APICredentialsMerchantLevelService"/> class.
        /// </summary>
        public APICredentialsMerchantLevelService(AdyenOptionsProvider adyenOptionsProvider, ILogger<APICredentialsMerchantLevelService> logger, ILoggerFactory loggerFactory, System.Net.Http.HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, ITokenProvider<ApiKeyToken> apiKeyProvider, APICredentialsMerchantLevelServiceEvents aPICredentialsMerchantLevelServiceEvents = null)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = logger == null ? LoggerFactory.CreateLogger<APICredentialsMerchantLevelService>() : logger;
            // Set BaseAddress if it's not set.
            if (httpClient.BaseAddress == null)
                httpClient.BaseAddress = new Uri(UrlBuilderExtensions.ConstructHostUrl(adyenOptionsProvider.Options, BASE_URL));
            HttpClient = httpClient;
            Events = aPICredentialsMerchantLevelServiceEvents;
            ApiKeyProvider = apiKeyProvider;
        }
        
        /// <summary>
        /// Create an API credential Creates an [API credential](https://docs.adyen.com/development-resources/api-credentials) for the company account identified in the path. In the request, you can specify the roles and allowed origins for the new API credential.  The response includes the: * [API key](https://docs.adyen.com/development-resources/api-authentication#api-key-authentication): used for API request authentication. * [Client key](https://docs.adyen.com/development-resources/client-side-authentication#how-it-works): public key used for client-side authentication. * [Username and password](https://docs.adyen.com/development-resources/api-authentication#using-basic-authentication): used for basic authentication.  &gt; Make sure you store the API key securely in your system. You won&#39;t be able to retrieve it later.  If your API key is lost or compromised, you need to [generate a new API key](https://docs.adyen.com/api-explorer/#/ManagementService/v1/post/merchants/{merchantId}/apiCredentials/{apiCredentialId}/generateApiKey).  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="merchantId">The unique identifier of the merchant account.</param>
        /// <param name="createMerchantApiCredentialRequest"><see cref="CreateMerchantApiCredentialRequest"/> ()</param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="ICreateApiCredentialApiResponse"/> - If 200 OK response, wraps the <see cref="Adyen.Management.Models.CreateApiCredentialResponse"/> when `TryDeserializeOk(...)` is called.</returns>
        public async Task<ICreateApiCredentialApiResponse> CreateApiCredentialAsync(string merchantId, CreateMerchantApiCredentialRequest createMerchantApiCredentialRequest,  RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/merchants/{merchantId}/apiCredentials"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/merchants/{merchantId}/apiCredentials");
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BmerchantId%7D", Uri.EscapeDataString(merchantId.ToString()));

                    // Adds headers to the HttpRequestMessage header, these can be set in the RequestOptions (Idempotency-Key etc.)
                    requestOptions?.AddHeadersToHttpRequestMessage(httpRequestMessage);
                    httpRequestMessage.Content = (createMerchantApiCredentialRequest as object) is System.IO.Stream stream
                        ? httpRequestMessage.Content = new StreamContent(stream)
                        : httpRequestMessage.Content = new StringContent(JsonSerializer.Serialize(createMerchantApiCredentialRequest, _jsonSerializerOptions));

                    // Add authorization token to the HttpRequestMessage header
                    ApiKeyProvider.Get().AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    httpRequestMessage.AddUserAgentToHeaders();
                    httpRequestMessage.AddLibraryNameToHeader();
                    httpRequestMessage.AddLibraryVersionToHeader();
                    
                    string? contentType = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentType != null && httpRequestMessage.Content != null)
                        httpRequestMessage.Content.Headers.ContentType = new MediaTypeHeaderValue(contentType);

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));
#if NET462 || NETSTANDARD2_0
                    httpRequestMessage.Method = new HttpMethod("POST");
#else
                    httpRequestMessage.Method = HttpMethod.Post;
#endif

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<APICredentialsCompanyLevelService.CreateApiCredentialApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<APICredentialsCompanyLevelService.CreateApiCredentialApiResponse>();
                        APICredentialsCompanyLevelService.CreateApiCredentialApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
#if NET462 || NETSTANDARD2_0
                                // `HttpContent.ReadAsStringAsync(cancellationToken)` doesn't exist in .NET Standard 2.0. Instead, we cancel one-level above in `HttpClient.SendAsync(httpRequestMessage, cancellationToken)`.
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync().ConfigureAwait(false);
#else
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
#endif
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/merchants/{merchantId}/apiCredentials", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }
                        
                        Events?.ExecuteOnCreateApiCredential(apiResponse);
                        return apiResponse;
                    }
                }
            }
            catch(Exception exception)
            {
                Events?.ExecuteOnErrorCreateApiCredential(exception);
                throw;
            }
        }
        /// <summary>
        /// Get an API credential Returns the [API credential](https://docs.adyen.com/development-resources/api-credentials) identified in the path.  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="merchantId">The unique identifier of the merchant account.</param>
        /// <param name="apiCredentialId">Unique identifier of the API credential.</param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IGetApiCredentialApiResponse"/> - If 200 OK response, wraps the <see cref="Adyen.Management.Models.ApiCredential"/> when `TryDeserializeOk(...)` is called.</returns>
        public async Task<IGetApiCredentialApiResponse> GetApiCredentialAsync(string merchantId, string apiCredentialId,  RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/merchants/{merchantId}/apiCredentials/{apiCredentialId}"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/merchants/{merchantId}/apiCredentials/{apiCredentialId}");
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BmerchantId%7D", Uri.EscapeDataString(merchantId.ToString()));
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BapiCredentialId%7D", Uri.EscapeDataString(apiCredentialId.ToString()));

                    // Adds headers to the HttpRequestMessage header, these can be set in the RequestOptions (Idempotency-Key etc.)
                    requestOptions?.AddHeadersToHttpRequestMessage(httpRequestMessage);

                    // Add authorization token to the HttpRequestMessage header
                    ApiKeyProvider.Get().AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));
#if NET462 || NETSTANDARD2_0
                    httpRequestMessage.Method = new HttpMethod("GET");
#else
                    httpRequestMessage.Method = HttpMethod.Get;
#endif

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<APICredentialsCompanyLevelService.GetApiCredentialApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<APICredentialsCompanyLevelService.GetApiCredentialApiResponse>();
                        APICredentialsCompanyLevelService.GetApiCredentialApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
#if NET462 || NETSTANDARD2_0
                                // `HttpContent.ReadAsStringAsync(cancellationToken)` doesn't exist in .NET Standard 2.0. Instead, we cancel one-level above in `HttpClient.SendAsync(httpRequestMessage, cancellationToken)`.
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync().ConfigureAwait(false);
#else
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
#endif
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/merchants/{merchantId}/apiCredentials/{apiCredentialId}", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }
                        
                        Events?.ExecuteOnGetApiCredential(apiResponse);
                        return apiResponse;
                    }
                }
            }
            catch(Exception exception)
            {
                Events?.ExecuteOnErrorGetApiCredential(exception);
                throw;
            }
        }
        /// <summary>
        /// Get a list of API credentials Returns the list of [API credentials](https://docs.adyen.com/development-resources/api-credentials) for the merchant account. The list is grouped into pages as defined by the query parameters.  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="merchantId">The unique identifier of the merchant account.</param>
        /// <param name="pageNumber">The number of the page to fetch. ()</param>
        /// <param name="pageSize">The number of items to have on a page, maximum 100. The default is 10 items on a page. ()</param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IListApiCredentialsApiResponse"/> - If 200 OK response, wraps the <see cref="Adyen.Management.Models.ListMerchantApiCredentialsResponse"/> when `TryDeserializeOk(...)` is called.</returns>
        public async Task<IListApiCredentialsApiResponse> ListApiCredentialsAsync(string merchantId, Option<int> pageNumber = default, Option<int> pageSize = default,  RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/merchants/{merchantId}/apiCredentials"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/merchants/{merchantId}/apiCredentials");
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BmerchantId%7D", Uri.EscapeDataString(merchantId.ToString()));

                    System.Collections.Specialized.NameValueCollection parseQueryString = System.Web.HttpUtility.ParseQueryString(string.Empty);

                    if (pageNumber.IsSet)
                        parseQueryString["pageNumber"] = ClientUtils.ParameterToString(pageNumber.Value);

                    if (pageSize.IsSet)
                        parseQueryString["pageSize"] = ClientUtils.ParameterToString(pageSize.Value);

                    uriBuilder.Query = parseQueryString.ToString();

                    // Adds headers to the HttpRequestMessage header, these can be set in the RequestOptions (Idempotency-Key etc.)
                    requestOptions?.AddHeadersToHttpRequestMessage(httpRequestMessage);

                    // Add authorization token to the HttpRequestMessage header
                    ApiKeyProvider.Get().AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));
#if NET462 || NETSTANDARD2_0
                    httpRequestMessage.Method = new HttpMethod("GET");
#else
                    httpRequestMessage.Method = HttpMethod.Get;
#endif

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<APICredentialsCompanyLevelService.ListApiCredentialsApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<APICredentialsCompanyLevelService.ListApiCredentialsApiResponse>();
                        APICredentialsCompanyLevelService.ListApiCredentialsApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
#if NET462 || NETSTANDARD2_0
                                // `HttpContent.ReadAsStringAsync(cancellationToken)` doesn't exist in .NET Standard 2.0. Instead, we cancel one-level above in `HttpClient.SendAsync(httpRequestMessage, cancellationToken)`.
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync().ConfigureAwait(false);
#else
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
#endif
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/merchants/{merchantId}/apiCredentials", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }
                        
                        Events?.ExecuteOnListApiCredentials(apiResponse);
                        return apiResponse;
                    }
                }
            }
            catch(Exception exception)
            {
                Events?.ExecuteOnErrorListApiCredentials(exception);
                throw;
            }
        }
        /// <summary>
        /// Update an API credential Changes the API credential&#39;s roles, or allowed origins. The request has the new values for the fields you want to change. The response contains the full updated API credential, including the new values from the request.   To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="merchantId">The unique identifier of the merchant account.</param>
        /// <param name="apiCredentialId">Unique identifier of the API credential.</param>
        /// <param name="updateMerchantApiCredentialRequest"><see cref="UpdateMerchantApiCredentialRequest"/> ()</param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IUpdateApiCredentialApiResponse"/> - If 200 OK response, wraps the <see cref="Adyen.Management.Models.ApiCredential"/> when `TryDeserializeOk(...)` is called.</returns>
        public async Task<IUpdateApiCredentialApiResponse> UpdateApiCredentialAsync(string merchantId, string apiCredentialId, UpdateMerchantApiCredentialRequest updateMerchantApiCredentialRequest,  RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/merchants/{merchantId}/apiCredentials/{apiCredentialId}"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/merchants/{merchantId}/apiCredentials/{apiCredentialId}");
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BmerchantId%7D", Uri.EscapeDataString(merchantId.ToString()));
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BapiCredentialId%7D", Uri.EscapeDataString(apiCredentialId.ToString()));

                    // Adds headers to the HttpRequestMessage header, these can be set in the RequestOptions (Idempotency-Key etc.)
                    requestOptions?.AddHeadersToHttpRequestMessage(httpRequestMessage);
                    httpRequestMessage.Content = (updateMerchantApiCredentialRequest as object) is System.IO.Stream stream
                        ? httpRequestMessage.Content = new StreamContent(stream)
                        : httpRequestMessage.Content = new StringContent(JsonSerializer.Serialize(updateMerchantApiCredentialRequest, _jsonSerializerOptions));

                    // Add authorization token to the HttpRequestMessage header
                    ApiKeyProvider.Get().AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    httpRequestMessage.AddUserAgentToHeaders();
                    httpRequestMessage.AddLibraryNameToHeader();
                    httpRequestMessage.AddLibraryVersionToHeader();
                    
                    string? contentType = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentType != null && httpRequestMessage.Content != null)
                        httpRequestMessage.Content.Headers.ContentType = new MediaTypeHeaderValue(contentType);

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));
#if NET462 || NETSTANDARD2_0
                    httpRequestMessage.Method = new HttpMethod("PATCH");
#else
                    httpRequestMessage.Method = HttpMethod.Patch;
#endif

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<APICredentialsCompanyLevelService.UpdateApiCredentialApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<APICredentialsCompanyLevelService.UpdateApiCredentialApiResponse>();
                        APICredentialsCompanyLevelService.UpdateApiCredentialApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
#if NET462 || NETSTANDARD2_0
                                // `HttpContent.ReadAsStringAsync(cancellationToken)` doesn't exist in .NET Standard 2.0. Instead, we cancel one-level above in `HttpClient.SendAsync(httpRequestMessage, cancellationToken)`.
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync().ConfigureAwait(false);
#else
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
#endif
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/merchants/{merchantId}/apiCredentials/{apiCredentialId}", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }
                        
                        Events?.ExecuteOnUpdateApiCredential(apiResponse);
                        return apiResponse;
                    }
                }
            }
            catch(Exception exception)
            {
                Events?.ExecuteOnErrorUpdateApiCredential(exception);
                throw;
            }
        }
    }
}
