// <auto-generated>
/*
 * Management API
 *
 * Configure and manage your Adyen company and merchant accounts, stores, and payment terminals. ## Authentication Each request to the Management API must be signed with an API key. [Generate your API key](https://docs.adyen.com/development-resources/api-credentials#generate-api-key) in the Customer Area and then set this key to the `X-API-Key` header value.  To access the live endpoints, you need to generate a new API key in your live Customer Area. ## Versioning  Management API handles versioning as part of the endpoint URL. For example, to send a request to this version of the `/companies/{companyId}/webhooks` endpoint, use:  ```text https://management-test.adyen.com/v3/companies/{companyId}/webhooks ```  ## Going live  To access the live endpoints, you need an API key from your live Customer Area. Use this API key to make requests to:  ```text https://management-live.adyen.com/v3 ```  ## Release notes Have a look at the [release notes](https://docs.adyen.com/release-notes/management-api) to find out what changed in this version!
 *
 * The version of the OpenAPI document: 3
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Net;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using Adyen.Core;
using Adyen.Core.Auth;
using Adyen.Core.Client;
using Adyen.Core.Client.Extensions;
using Adyen.Management.Client;
using Adyen.Management.Models;
using System.Diagnostics.CodeAnalysis;

namespace Adyen.Management.Services
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// This class is registered as transient.
    /// </summary>
    public interface IAPIKeyMerchantLevelService : IAdyenApiService
    {
        /// <summary>
        /// The class containing the events.
        /// </summary>
        APIKeyMerchantLevelServiceEvents Events { get; }

        /// <summary>
        /// Generate new API key
        /// </summary>
        /// <remarks>
        /// Returns a new API key for the API credential. You can use the new API key a few minutes after generating it. The old API key stops working 24 hours after generating a new one.  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="merchantId">The unique identifier of the merchant account.</param>
        /// <param name="apiCredentialId">Unique identifier of the API credential.</param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IGenerateNewApiKeyApiResponse"/>.</returns>
        Task<IGenerateNewApiKeyApiResponse> GenerateNewApiKeyAsync(string merchantId, string apiCredentialId, RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default);

    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// </summary>
    public class APIKeyMerchantLevelServiceEvents
    {
        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGenerateNewApiKey;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGenerateNewApiKey;

        internal void ExecuteOnGenerateNewApiKey(APIKeyCompanyLevelService.GenerateNewApiKeyApiResponse apiResponse)
        {
            OnGenerateNewApiKey?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGenerateNewApiKey(Exception exception)
        {
            OnErrorGenerateNewApiKey?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// </summary>
    public sealed partial class APIKeyMerchantLevelService : IAPIKeyMerchantLevelService
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory.
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger.
        /// </summary>
        public ILogger<APIKeyMerchantLevelService> Logger { get; }

        /// <summary>
        /// The HttpClient.
        /// </summary>
        public System.Net.Http.HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events.
        /// </summary>
        public APIKeyMerchantLevelServiceEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="ApiKeyProvider"/>.
        /// </summary>
        public ITokenProvider<ApiKeyToken> ApiKeyProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="APIKeyMerchantLevelService"/> class.
        /// </summary>
        public APIKeyMerchantLevelService(ILogger<APIKeyMerchantLevelService> logger, ILoggerFactory loggerFactory, System.Net.Http.HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, APIKeyMerchantLevelServiceEvents aPIKeyMerchantLevelServiceEvents,
            ITokenProvider<ApiKeyToken> apiKeyProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = logger == null ? LoggerFactory.CreateLogger<APIKeyMerchantLevelService>() : logger;
            HttpClient = httpClient;
            Events = aPIKeyMerchantLevelServiceEvents;
            ApiKeyProvider = apiKeyProvider;
        }
        
        /// <summary>
        /// Generate new API key Returns a new API key for the API credential. You can use the new API key a few minutes after generating it. The old API key stops working 24 hours after generating a new one.  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </summary>
        /// <example>
        /// Use TryDeserializeOk(out <see cref="Adyen.Management.Models.GenerateApiKeyResponse"/> result) to retrieve the API result, when 200 OK response.
        /// </example>
        /// <code>
        /// // Usage:
        /// var response = await GenerateNewApiKeyAsync(...);
        /// if (response.TryDeserializeOk(out <see cref="Adyen.Management.Models.GenerateApiKeyResponse"/> result));
        /// </code>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="merchantId">The unique identifier of the merchant account.</param>
        /// <param name="apiCredentialId">Unique identifier of the API credential.</param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IGenerateNewApiKeyApiResponse"/> - If 200 OK response wraps the <see cref="Adyen.Management.Models.GenerateApiKeyResponse"/> when `TryDeserializeOk(...)` is called.</returns>
        public async Task<IGenerateNewApiKeyApiResponse> GenerateNewApiKeyAsync(string merchantId, string apiCredentialId, RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/merchants/{merchantId}/apiCredentials/{apiCredentialId}/generateApiKey"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/merchants/{merchantId}/apiCredentials/{apiCredentialId}/generateApiKey");
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BmerchantId%7D", Uri.EscapeDataString(merchantId.ToString()));
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BapiCredentialId%7D", Uri.EscapeDataString(apiCredentialId.ToString()));

                    // Adds headers to the HttpRequestMessage header, these can be set in the RequestOptions (Idempotency-Key etc.)
                    requestOptions?.AddHeadersToHttpRequestMessage(httpRequestMessage);

                    // Add authorization token to the HttpRequestMessage header
                    ApiKeyProvider.Get().AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));

                    httpRequestMessage.Method = HttpMethod.Post;

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<APIKeyCompanyLevelService.GenerateNewApiKeyApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<APIKeyCompanyLevelService.GenerateNewApiKeyApiResponse>();
                        APIKeyCompanyLevelService.GenerateNewApiKeyApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/merchants/{merchantId}/apiCredentials/{apiCredentialId}/generateApiKey", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }
                        
                        Events.ExecuteOnGenerateNewApiKey(apiResponse);
                        return apiResponse;
                    }
                }
            }
            catch(Exception exception)
            {
                Events.ExecuteOnErrorGenerateNewApiKey(exception);
                throw;
            }
        }
    }
}
