// <auto-generated>
/*
 * Management API
 *
 * Configure and manage your Adyen company and merchant accounts, stores, and payment terminals. ## Authentication Each request to the Management API must be signed with an API key. [Generate your API key](https://docs.adyen.com/development-resources/api-credentials#generate-api-key) in the Customer Area and then set this key to the `X-API-Key` header value.  To access the live endpoints, you need to generate a new API key in your live Customer Area. ## Versioning  Management API handles versioning as part of the endpoint URL. For example, to send a request to this version of the `/companies/{companyId}/webhooks` endpoint, use:  ```text https://management-test.adyen.com/v3/companies/{companyId}/webhooks ```  ## Going live  To access the live endpoints, you need an API key from your live Customer Area. Use this API key to make requests to:  ```text https://management-live.adyen.com/v3 ```  ## Release notes Have a look at the [release notes](https://docs.adyen.com/release-notes/management-api) to find out what changed in this version!
 *
 * The version of the OpenAPI document: 3
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Net;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using Adyen.Core;
using Adyen.Core.Auth;
using Adyen.Core.Client;
using Adyen.Core.Client.Extensions;
using Adyen.Core.Options;
using Adyen.Management.Client;
using Adyen.Management.Models;
using System.Diagnostics.CodeAnalysis;

namespace Adyen.Management.Services
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// This class is registered as transient.
    /// </summary>
    public interface IClientKeyMerchantLevelService : IAdyenApiService
    {
        /// <summary>
        /// The class containing the events.
        /// </summary>
        ClientKeyMerchantLevelServiceEvents? Events { get; }

        /// <summary>
        /// Generate new client key
        /// </summary>
        /// <remarks>
        /// Returns a new [client key](https://docs.adyen.com/development-resources/client-side-authentication#how-it-works) for the API credential identified in the path. You can use the new client key a few minutes after generating it. The old client key stops working 24 hours after generating a new one.  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="merchantId">The unique identifier of the merchant account.</param>
        /// <param name="apiCredentialId">Unique identifier of the API credential.</param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IGenerateNewClientKeyApiResponse"/>.</returns>
        Task<IGenerateNewClientKeyApiResponse> GenerateNewClientKeyAsync(string merchantId, string apiCredentialId,  RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default);

    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// </summary>
    public class ClientKeyMerchantLevelServiceEvents
    {
        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGenerateNewClientKey;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGenerateNewClientKey;

        internal void ExecuteOnGenerateNewClientKey(ClientKeyCompanyLevelService.GenerateNewClientKeyApiResponse apiResponse)
        {
            OnGenerateNewClientKey?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGenerateNewClientKey(Exception exception)
        {
            OnErrorGenerateNewClientKey?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// </summary>
    public sealed partial class ClientKeyMerchantLevelService : IClientKeyMerchantLevelService
    {

        /// <summary>
        /// The base path of the API, it includes the http(s)-scheme, the host domain name, and the base path.
        /// This value will be used to construct the URL in <see cref="System.Net.Http.HttpClient.BaseAddress"/> based on the Environment value set in <see cref="AdyenOptions.Environment"/>.
        /// </summary>
        private const string BASE_URL = "https://management-test.adyen.com/v3";
            
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory.
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger.
        /// </summary>
        public ILogger<ClientKeyMerchantLevelService> Logger { get; }

        /// <summary>
        /// The HttpClient.
        /// </summary>
        public System.Net.Http.HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events.
        /// </summary>
        public ClientKeyMerchantLevelServiceEvents? Events { get; }

        /// <summary>
        /// A token provider of type <see cref="ApiKeyProvider"/>.
        /// </summary>
        public ITokenProvider<ApiKeyToken> ApiKeyProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="ClientKeyMerchantLevelService"/> class.
        /// </summary>
        public ClientKeyMerchantLevelService(AdyenOptionsProvider adyenOptionsProvider, ILogger<ClientKeyMerchantLevelService> logger, ILoggerFactory loggerFactory, System.Net.Http.HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, ITokenProvider<ApiKeyToken> apiKeyProvider, ClientKeyMerchantLevelServiceEvents clientKeyMerchantLevelServiceEvents = null)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = logger == null ? LoggerFactory.CreateLogger<ClientKeyMerchantLevelService>() : logger;
            // Set BaseAddress if it's not set.
            if (httpClient.BaseAddress == null)
                httpClient.BaseAddress = new Uri(UrlBuilderExtensions.ConstructHostUrl(adyenOptionsProvider.Options, BASE_URL));
            HttpClient = httpClient;
            Events = clientKeyMerchantLevelServiceEvents;
            ApiKeyProvider = apiKeyProvider;
        }
        
        /// <summary>
        /// Generate new client key Returns a new [client key](https://docs.adyen.com/development-resources/client-side-authentication#how-it-works) for the API credential identified in the path. You can use the new client key a few minutes after generating it. The old client key stops working 24 hours after generating a new one.  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="merchantId">The unique identifier of the merchant account.</param>
        /// <param name="apiCredentialId">Unique identifier of the API credential.</param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IGenerateNewClientKeyApiResponse"/> - If 200 OK response, wraps the <see cref="Adyen.Management.Models.GenerateClientKeyResponse"/> when `TryDeserializeOk(...)` is called.</returns>
        public async Task<IGenerateNewClientKeyApiResponse> GenerateNewClientKeyAsync(string merchantId, string apiCredentialId,  RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/merchants/{merchantId}/apiCredentials/{apiCredentialId}/generateClientKey"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/merchants/{merchantId}/apiCredentials/{apiCredentialId}/generateClientKey");
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BmerchantId%7D", Uri.EscapeDataString(merchantId.ToString()));
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BapiCredentialId%7D", Uri.EscapeDataString(apiCredentialId.ToString()));

                    // Adds headers to the HttpRequestMessage header, these can be set in the RequestOptions (Idempotency-Key etc.)
                    requestOptions?.AddHeadersToHttpRequestMessage(httpRequestMessage);

                    // Add authorization token to the HttpRequestMessage header
                    ApiKeyProvider.Get().AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));
#if NET462 || NETSTANDARD2_0
                    httpRequestMessage.Method = new HttpMethod("POST");
#else
                    httpRequestMessage.Method = HttpMethod.Post;
#endif

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<ClientKeyCompanyLevelService.GenerateNewClientKeyApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<ClientKeyCompanyLevelService.GenerateNewClientKeyApiResponse>();
                        ClientKeyCompanyLevelService.GenerateNewClientKeyApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
#if NET462 || NETSTANDARD2_0
                                // `HttpContent.ReadAsStringAsync(cancellationToken)` doesn't exist in .NET Standard 2.0. Instead, we cancel one-level above in `HttpClient.SendAsync(httpRequestMessage, cancellationToken)`.
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync().ConfigureAwait(false);
#else
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
#endif
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/merchants/{merchantId}/apiCredentials/{apiCredentialId}/generateClientKey", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }
                        
                        Events?.ExecuteOnGenerateNewClientKey(apiResponse);
                        return apiResponse;
                    }
                }
            }
            catch(Exception exception)
            {
                Events?.ExecuteOnErrorGenerateNewClientKey(exception);
                throw;
            }
        }
    }
}
