// <auto-generated>
/*
 * Management API
 *
 * Configure and manage your Adyen company and merchant accounts, stores, and payment terminals. ## Authentication Each request to the Management API must be signed with an API key. [Generate your API key](https://docs.adyen.com/development-resources/api-credentials#generate-api-key) in the Customer Area and then set this key to the `X-API-Key` header value.  To access the live endpoints, you need to generate a new API key in your live Customer Area. ## Versioning  Management API handles versioning as part of the endpoint URL. For example, to send a request to this version of the `/companies/{companyId}/webhooks` endpoint, use:  ```text https://management-test.adyen.com/v3/companies/{companyId}/webhooks ```  ## Going live  To access the live endpoints, you need an API key from your live Customer Area. Use this API key to make requests to:  ```text https://management-live.adyen.com/v3 ```  ## Release notes Have a look at the [release notes](https://docs.adyen.com/release-notes/management-api) to find out what changed in this version!
 *
 * The version of the OpenAPI document: 3
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Net;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using Adyen.Core;
using Adyen.Core.Auth;
using Adyen.Core.Client;
using Adyen.Management.Client;
using Adyen.Management.Models;
using System.Diagnostics.CodeAnalysis;

namespace Adyen.Management.Services
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// This class is registered as transient.
    /// </summary>
    public interface IClientKeyMerchantLevelService : IAdyenApiService
    {
        /// <summary>
        /// The class containing the events.
        /// </summary>
        ClientKeyMerchantLevelServiceEvents Events { get; }

        /// <summary>
        /// Generate new client key
        /// </summary>
        /// <remarks>
        /// Returns a new [client key](https://docs.adyen.com/development-resources/client-side-authentication#how-it-works) for the API credential identified in the path. You can use the new client key a few minutes after generating it. The old client key stops working 24 hours after generating a new one.  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="merchantId">The unique identifier of the merchant account.</param>
        /// <param name="apiCredentialId">Unique identifier of the API credential.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateNewClientKeyApiResponse"/>&gt;</returns>
        Task<IGenerateNewClientKeyApiResponse> GenerateNewClientKeyAsync(string merchantId, string apiCredentialId, System.Threading.CancellationToken cancellationToken = default);

    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// </summary>
    public class ClientKeyMerchantLevelServiceEvents
    {
        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGenerateNewClientKey;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGenerateNewClientKey;

        internal void ExecuteOnGenerateNewClientKey(ClientKeyCompanyLevelService.GenerateNewClientKeyApiResponse apiResponse)
        {
            OnGenerateNewClientKey?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGenerateNewClientKey(Exception exception)
        {
            OnErrorGenerateNewClientKey?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// </summary>
    public sealed partial class ClientKeyMerchantLevelService : IClientKeyMerchantLevelService
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory.
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger.
        /// </summary>
        public ILogger<ClientKeyMerchantLevelService> Logger { get; }

        /// <summary>
        /// The HttpClient.
        /// </summary>
        public System.Net.Http.HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events.
        /// </summary>
        public ClientKeyMerchantLevelServiceEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="ApiKeyProvider"/>.
        /// </summary>
        public ITokenProvider<ApiKeyToken> ApiKeyProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="ClientKeyMerchantLevelService"/> class.
        /// </summary>
        /// <returns></returns>
        public ClientKeyMerchantLevelService(ILogger<ClientKeyMerchantLevelService> logger, ILoggerFactory loggerFactory, System.Net.Http.HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, ClientKeyMerchantLevelServiceEvents clientKeyMerchantLevelServiceEvents,
            ITokenProvider<ApiKeyToken> apiKeyProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = LoggerFactory.CreateLogger<ClientKeyMerchantLevelService>();
            HttpClient = httpClient;
            Events = clientKeyMerchantLevelServiceEvents;
            ApiKeyProvider = apiKeyProvider;
        }

        partial void FormatGenerateNewClientKey(ref string merchantId, ref string apiCredentialId);

        /// <summary>
        /// Validates the request parameters.
        /// </summary>
        /// <param name="merchantId"></param>
        /// <param name="apiCredentialId"></param>
        /// <returns></returns>
        private void ValidateGenerateNewClientKey(string merchantId, string apiCredentialId)
        {
            if (merchantId == null)
                throw new ArgumentNullException(nameof(merchantId));

            if (apiCredentialId == null)
                throw new ArgumentNullException(nameof(apiCredentialId));
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="apiResponse"></param>
        /// <param name="merchantId"></param>
        /// <param name="apiCredentialId"></param>
        private void AfterGenerateNewClientKeyDefaultImplementation(IGenerateNewClientKeyApiResponse apiResponse, string merchantId, string apiCredentialId)
        {
            bool suppressDefaultLog = false;
            AfterGenerateNewClientKey(ref suppressDefaultLog, apiResponse, merchantId, apiCredentialId);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {3}", (apiResponse.DownloadedAt - apiResponse.RequestedAt).TotalSeconds, apiResponse.StatusCode, apiResponse.Path);
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponse"></param>
        /// <param name="merchantId"></param>
        /// <param name="apiCredentialId"></param>
        partial void AfterGenerateNewClientKey(ref bool suppressDefaultLog, IGenerateNewClientKeyApiResponse apiResponse, string merchantId, string apiCredentialId);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response.
        /// </summary>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        /// <param name="merchantId"></param>
        /// <param name="apiCredentialId"></param>
        private void OnErrorGenerateNewClientKeyDefaultImplementation(Exception exception, string pathFormat, string path, string merchantId, string apiCredentialId)
        {
            bool suppressDefaultLog = false;
            OnErrorGenerateNewClientKey(ref suppressDefaultLog, exception, pathFormat, path, merchantId, apiCredentialId);
            if (!suppressDefaultLog)
                Logger.LogError(exception, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        /// <param name="merchantId"></param>
        /// <param name="apiCredentialId"></param>
        partial void OnErrorGenerateNewClientKey(ref bool suppressDefaultLog, Exception exception, string pathFormat, string path, string merchantId, string apiCredentialId);

        /// <summary>
        /// Generate new client key Returns a new [client key](https://docs.adyen.com/development-resources/client-side-authentication#how-it-works) for the API credential identified in the path. You can use the new client key a few minutes after generating it. The old client key stops working 24 hours after generating a new one.  To make this request, your API credential must have the following [roles](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="merchantId">The unique identifier of the merchant account.</param>
        /// <param name="apiCredentialId">Unique identifier of the API credential.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateNewClientKeyApiResponse"/>&gt;</returns>
        public async Task<IGenerateNewClientKeyApiResponse> GenerateNewClientKeyAsync(string merchantId, string apiCredentialId, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                ValidateGenerateNewClientKey(merchantId, apiCredentialId);

                FormatGenerateNewClientKey(ref merchantId, ref apiCredentialId);

                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/merchants/{merchantId}/apiCredentials/{apiCredentialId}/generateClientKey"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/merchants/{merchantId}/apiCredentials/{apiCredentialId}/generateClientKey");
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BmerchantId%7D", Uri.EscapeDataString(merchantId.ToString()));
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BapiCredentialId%7D", Uri.EscapeDataString(apiCredentialId.ToString()));

                    ApiKeyToken apiKeyToken2 = (ApiKeyToken) ApiKeyProvider.Get();
                    apiKeyToken2.AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));

                    httpRequestMessage.Method = HttpMethod.Post;

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<ClientKeyCompanyLevelService.GenerateNewClientKeyApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<ClientKeyCompanyLevelService.GenerateNewClientKeyApiResponse>();
                        ClientKeyCompanyLevelService.GenerateNewClientKeyApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/merchants/{merchantId}/apiCredentials/{apiCredentialId}/generateClientKey", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGenerateNewClientKeyDefaultImplementation(apiResponse, merchantId, apiCredentialId);

                        Events.ExecuteOnGenerateNewClientKey(apiResponse);
                    
                        return apiResponse;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGenerateNewClientKeyDefaultImplementation(e, "/merchants/{merchantId}/apiCredentials/{apiCredentialId}/generateClientKey", uriBuilder.Path, merchantId, apiCredentialId);
                Events.ExecuteOnErrorGenerateNewClientKey(e);
                throw;
            }
        }
    }
}
