// <auto-generated>
/*
 * Management API
 *
 * Configure and manage your Adyen company and merchant accounts, stores, and payment terminals. ## Authentication Each request to the Management API must be signed with an API key. [Generate your API key](https://docs.adyen.com/development-resources/api-credentials#generate-api-key) in the Customer Area and then set this key to the `X-API-Key` header value.  To access the live endpoints, you need to generate a new API key in your live Customer Area. ## Versioning  Management API handles versioning as part of the endpoint URL. For example, to send a request to this version of the `/companies/{companyId}/webhooks` endpoint, use:  ```text https://management-test.adyen.com/v3/companies/{companyId}/webhooks ```  ## Going live  To access the live endpoints, you need an API key from your live Customer Area. Use this API key to make requests to:  ```text https://management-live.adyen.com/v3 ```  ## Release notes Have a look at the [release notes](https://docs.adyen.com/release-notes/management-api) to find out what changed in this version!
 *
 * The version of the OpenAPI document: 3
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Net;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using Adyen.Core;
using Adyen.Core.Auth;
using Adyen.Core.Client;
using Adyen.Core.Client.Extensions;
using Adyen.Core.Options;
using Adyen.Management.Client;
using Adyen.Management.Models;
using System.Diagnostics.CodeAnalysis;

namespace Adyen.Management.Services
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// This class is registered as transient.
    /// </summary>
    public interface IMyAPICredentialService : IAdyenApiService
    {
        /// <summary>
        /// The class containing the events.
        /// </summary>
        MyAPICredentialServiceEvents? Events { get; }

        /// <summary>
        /// Add allowed origin
        /// </summary>
        /// <remarks>
        /// Adds an allowed origin to the list of [allowed origins](https://docs.adyen.com/development-resources/client-side-authentication#allowed-origins) of your API credential. The API key from the request is used to identify the [API credential](https://docs.adyen.com/development-resources/api-credentials).  You can make this request with any of the Management API roles.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="createAllowedOriginRequest"></param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IAddAllowedOriginApiResponse"/>.</returns>
        Task<IAddAllowedOriginApiResponse> AddAllowedOriginAsync(CreateAllowedOriginRequest createAllowedOriginRequest,  RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Generate a client key
        /// </summary>
        /// <remarks>
        /// Generates a new [client key](https://docs.adyen.com/development-resources/client-side-authentication/) used to authenticate requests from your payment environment. You can use the new client key a few minutes after generating it. The old client key stops working 24 hours after generating a new one.  To make this request, your API credential must have the following [role](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IGenerateClientKeyApiResponse"/>.</returns>
        Task<IGenerateClientKeyApiResponse> GenerateClientKeyAsync( RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get allowed origin details
        /// </summary>
        /// <remarks>
        /// Returns the details of the [allowed origin](https://docs.adyen.com/development-resources/client-side-authentication#allowed-origins) specified in the path. The API key from the request is used to identify the [API credential](https://docs.adyen.com/development-resources/api-credentials).  You can make this request with any of the Management API roles.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="originId">Unique identifier of the allowed origin.</param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IGetAllowedOriginDetailsApiResponse"/>.</returns>
        Task<IGetAllowedOriginDetailsApiResponse> GetAllowedOriginDetailsAsync(string originId,  RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get allowed origins
        /// </summary>
        /// <remarks>
        /// Returns the list of [allowed origins](https://docs.adyen.com/development-resources/client-side-authentication#allowed-origins) of your [API credential](https://docs.adyen.com/development-resources/api-credentials) based on the API key you used in the request.  You can make this request with any of the Management API roles.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IGetAllowedOriginsApiResponse"/>.</returns>
        Task<IGetAllowedOriginsApiResponse> GetAllowedOriginsAsync( RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get API credential details
        /// </summary>
        /// <remarks>
        /// Returns your [API credential](https://docs.adyen.com/development-resources/api-credentials) details based on the API Key you used in the request.  You can make this request with any of the Management API roles.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IGetApiCredentialDetailsApiResponse"/>.</returns>
        Task<IGetApiCredentialDetailsApiResponse> GetApiCredentialDetailsAsync( RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Remove allowed origin
        /// </summary>
        /// <remarks>
        /// Removes the [allowed origin](https://docs.adyen.com/development-resources/client-side-authentication#allowed-origins) specified in the path. The API key from the request is used to identify the [API credential](https://docs.adyen.com/development-resources/api-credentials).  You can make this request with any of the Management API roles.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="originId">Unique identifier of the allowed origin.</param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IRemoveAllowedOriginApiResponse"/>.</returns>
        Task<IRemoveAllowedOriginApiResponse> RemoveAllowedOriginAsync(string originId,  RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default);

    }

    /// <summary>
    /// The <see cref="IAddAllowedOriginApiResponse"/>, wraps <see cref="Adyen.Management.Models.AllowedOrigin"/>.
    /// </summary>
    public interface IAddAllowedOriginApiResponse : Adyen.Core.Client.IApiResponse, IOk<Adyen.Management.Models.AllowedOrigin?>, IBadRequest<Adyen.Management.Models.RestServiceError?>, IUnauthorized<Adyen.Management.Models.RestServiceError?>, IForbidden<Adyen.Management.Models.RestServiceError?>, IUnprocessableContent<Adyen.Management.Models.RestServiceError?>, IInternalServerError<Adyen.Management.Models.RestServiceError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok.
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest.
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized.
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden.
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent.
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError.
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// The <see cref="IGenerateClientKeyApiResponse"/>, wraps <see cref="Adyen.Management.Models.GenerateClientKeyResponse"/>.
    /// </summary>
    public interface IGenerateClientKeyApiResponse : Adyen.Core.Client.IApiResponse, IOk<Adyen.Management.Models.GenerateClientKeyResponse?>, IBadRequest<Adyen.Management.Models.RestServiceError?>, IUnauthorized<Adyen.Management.Models.RestServiceError?>, IForbidden<Adyen.Management.Models.RestServiceError?>, IUnprocessableContent<Adyen.Management.Models.RestServiceError?>, IInternalServerError<Adyen.Management.Models.RestServiceError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok.
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest.
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized.
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden.
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent.
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError.
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// The <see cref="IGetAllowedOriginDetailsApiResponse"/>, wraps <see cref="Adyen.Management.Models.AllowedOrigin"/>.
    /// </summary>
    public interface IGetAllowedOriginDetailsApiResponse : Adyen.Core.Client.IApiResponse, IOk<Adyen.Management.Models.AllowedOrigin?>, IBadRequest<Adyen.Management.Models.RestServiceError?>, IUnauthorized<Adyen.Management.Models.RestServiceError?>, IForbidden<Adyen.Management.Models.RestServiceError?>, IUnprocessableContent<Adyen.Management.Models.RestServiceError?>, IInternalServerError<Adyen.Management.Models.RestServiceError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok.
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest.
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized.
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden.
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent.
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError.
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// The <see cref="IGetAllowedOriginsApiResponse"/>, wraps <see cref="Adyen.Management.Models.AllowedOriginsResponse"/>.
    /// </summary>
    public interface IGetAllowedOriginsApiResponse : Adyen.Core.Client.IApiResponse, IOk<Adyen.Management.Models.AllowedOriginsResponse?>, IBadRequest<Adyen.Management.Models.RestServiceError?>, IUnauthorized<Adyen.Management.Models.RestServiceError?>, IForbidden<Adyen.Management.Models.RestServiceError?>, IUnprocessableContent<Adyen.Management.Models.RestServiceError?>, IInternalServerError<Adyen.Management.Models.RestServiceError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok.
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest.
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized.
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden.
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent.
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError.
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// The <see cref="IGetApiCredentialDetailsApiResponse"/>, wraps <see cref="Adyen.Management.Models.MeApiCredential"/>.
    /// </summary>
    public interface IGetApiCredentialDetailsApiResponse : Adyen.Core.Client.IApiResponse, IOk<Adyen.Management.Models.MeApiCredential?>, IBadRequest<Adyen.Management.Models.RestServiceError?>, IUnauthorized<Adyen.Management.Models.RestServiceError?>, IForbidden<Adyen.Management.Models.RestServiceError?>, IUnprocessableContent<Adyen.Management.Models.RestServiceError?>, IInternalServerError<Adyen.Management.Models.RestServiceError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok.
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest.
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized.
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden.
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent.
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError.
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// The <see cref="IRemoveAllowedOriginApiResponse"/>, wraps <see cref=""/>.
    /// </summary>
    public interface IRemoveAllowedOriginApiResponse : Adyen.Core.Client.IApiResponse, IBadRequest<Adyen.Management.Models.RestServiceError?>, IUnauthorized<Adyen.Management.Models.RestServiceError?>, IForbidden<Adyen.Management.Models.RestServiceError?>, IUnprocessableContent<Adyen.Management.Models.RestServiceError?>, IInternalServerError<Adyen.Management.Models.RestServiceError?>
    {
        /// <summary>
        /// Returns true if the response is 204 NoContent.
        /// </summary>
        /// <returns></returns>
        bool IsNoContent { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest.
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized.
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden.
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent.
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError.
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// </summary>
    public class MyAPICredentialServiceEvents
    {
        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnAddAllowedOrigin;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorAddAllowedOrigin;

        internal void ExecuteOnAddAllowedOrigin(MyAPICredentialService.AddAllowedOriginApiResponse apiResponse)
        {
            OnAddAllowedOrigin?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorAddAllowedOrigin(Exception exception)
        {
            OnErrorAddAllowedOrigin?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGenerateClientKey;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGenerateClientKey;

        internal void ExecuteOnGenerateClientKey(MyAPICredentialService.GenerateClientKeyApiResponse apiResponse)
        {
            OnGenerateClientKey?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGenerateClientKey(Exception exception)
        {
            OnErrorGenerateClientKey?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetAllowedOriginDetails;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetAllowedOriginDetails;

        internal void ExecuteOnGetAllowedOriginDetails(MyAPICredentialService.GetAllowedOriginDetailsApiResponse apiResponse)
        {
            OnGetAllowedOriginDetails?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetAllowedOriginDetails(Exception exception)
        {
            OnErrorGetAllowedOriginDetails?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetAllowedOrigins;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetAllowedOrigins;

        internal void ExecuteOnGetAllowedOrigins(MyAPICredentialService.GetAllowedOriginsApiResponse apiResponse)
        {
            OnGetAllowedOrigins?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetAllowedOrigins(Exception exception)
        {
            OnErrorGetAllowedOrigins?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetApiCredentialDetails;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetApiCredentialDetails;

        internal void ExecuteOnGetApiCredentialDetails(MyAPICredentialService.GetApiCredentialDetailsApiResponse apiResponse)
        {
            OnGetApiCredentialDetails?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetApiCredentialDetails(Exception exception)
        {
            OnErrorGetApiCredentialDetails?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnRemoveAllowedOrigin;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorRemoveAllowedOrigin;

        internal void ExecuteOnRemoveAllowedOrigin(MyAPICredentialService.RemoveAllowedOriginApiResponse apiResponse)
        {
            OnRemoveAllowedOrigin?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorRemoveAllowedOrigin(Exception exception)
        {
            OnErrorRemoveAllowedOrigin?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// </summary>
    public sealed partial class MyAPICredentialService : IMyAPICredentialService
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory.
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger.
        /// </summary>
        public ILogger<MyAPICredentialService> Logger { get; }

        /// <summary>
        /// The HttpClient.
        /// </summary>
        public System.Net.Http.HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events.
        /// </summary>
        public MyAPICredentialServiceEvents? Events { get; }

        /// <summary>
        /// A token provider of type <see cref="ApiKeyProvider"/>.
        /// </summary>
        public ITokenProvider<ApiKeyToken> ApiKeyProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="MyAPICredentialService"/> class.
        /// </summary>
        public MyAPICredentialService(AdyenOptionsProvider adyenOptionsProvider, ILogger<MyAPICredentialService> logger, ILoggerFactory loggerFactory, System.Net.Http.HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, ITokenProvider<ApiKeyToken> apiKeyProvider, MyAPICredentialServiceEvents myAPICredentialServiceEvents = null)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = logger == null ? LoggerFactory.CreateLogger<MyAPICredentialService>() : logger;
            // Set BaseAddress if it's not set.
            if (httpClient.BaseAddress == null)
                httpClient.BaseAddress = new Uri(UrlBuilderExtensions.ConstructHostUrl(adyenOptionsProvider.Options, "https://management-test.adyen.com/v3"));
            HttpClient = httpClient;
            Events = myAPICredentialServiceEvents;
            ApiKeyProvider = apiKeyProvider;
        }
        
        /// <summary>
        /// Add allowed origin Adds an allowed origin to the list of [allowed origins](https://docs.adyen.com/development-resources/client-side-authentication#allowed-origins) of your API credential. The API key from the request is used to identify the [API credential](https://docs.adyen.com/development-resources/api-credentials).  You can make this request with any of the Management API roles.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="createAllowedOriginRequest"><see cref="CreateAllowedOriginRequest"/> ()</param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IAddAllowedOriginApiResponse"/> - If 200 OK response, wraps the <see cref="Adyen.Management.Models.AllowedOrigin"/> when `TryDeserializeOk(...)` is called.</returns>
        public async Task<IAddAllowedOriginApiResponse> AddAllowedOriginAsync(CreateAllowedOriginRequest createAllowedOriginRequest,  RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/me/allowedOrigins"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/me/allowedOrigins");

                    // Adds headers to the HttpRequestMessage header, these can be set in the RequestOptions (Idempotency-Key etc.)
                    requestOptions?.AddHeadersToHttpRequestMessage(httpRequestMessage);
                    httpRequestMessage.Content = (createAllowedOriginRequest as object) is System.IO.Stream stream
                        ? httpRequestMessage.Content = new StreamContent(stream)
                        : httpRequestMessage.Content = new StringContent(JsonSerializer.Serialize(createAllowedOriginRequest, _jsonSerializerOptions));

                    // Add authorization token to the HttpRequestMessage header
                    ApiKeyProvider.Get().AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    httpRequestMessage.AddUserAgentToHeaders();
                    httpRequestMessage.AddLibraryNameToHeader();
                    httpRequestMessage.AddLibraryVersionToHeader();
                    
                    string? contentType = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentType != null && httpRequestMessage.Content != null)
                        httpRequestMessage.Content.Headers.ContentType = new MediaTypeHeaderValue(contentType);

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));
#if NET462 || NETSTANDARD2_0
                    httpRequestMessage.Method = new HttpMethod("POST");
#else
                    httpRequestMessage.Method = HttpMethod.Post;
#endif

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<AddAllowedOriginApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<AddAllowedOriginApiResponse>();
                        AddAllowedOriginApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
#if NET462 || NETSTANDARD2_0
                                // `HttpContent.ReadAsStringAsync(cancellationToken)` doesn't exist in .NET Standard 2.0. Instead, we cancel one-level above in `HttpClient.SendAsync(httpRequestMessage, cancellationToken)`.
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync().ConfigureAwait(false);
#else
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
#endif
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/me/allowedOrigins", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }
                        
                        Events?.ExecuteOnAddAllowedOrigin(apiResponse);
                        return apiResponse;
                    }
                }
            }
            catch(Exception exception)
            {
                Events?.ExecuteOnErrorAddAllowedOrigin(exception);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="AddAllowedOriginApiResponse"/>.
        /// </summary>
        public partial class AddAllowedOriginApiResponse : Adyen.Core.Client.ApiResponse, IAddAllowedOriginApiResponse
        {
            /// <summary>
            /// The logger for <see cref="AddAllowedOriginApiResponse"/>.
            /// </summary>
            public ILogger<AddAllowedOriginApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="AddAllowedOriginApiResponse"/>.
            /// </summary>
            /// <param name="logger"><see cref="ILogger"/>.</param>
            /// <param name="httpRequestMessage"><see cref="System.Net.Http.HttpRequestMessage"/>.</param>
            /// <param name="httpResponseMessage"><see cref="System.Net.Http.HttpResponseMessage"/>.</param>
            /// <param name="rawContent">The raw data.</param>
            /// <param name="path">The path used when making the request.</param>
            /// <param name="requestedAt">The DateTime.UtcNow when the request was retrieved.</param>
            /// <param name="jsonSerializerOptions"><see cref="JsonSerializerOptionsProvider"/></param>
            public AddAllowedOriginApiResponse(ILogger<AddAllowedOriginApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="AddAllowedOriginApiResponse"/>.
            /// </summary>
            /// <param name="logger"><see cref="ILogger"/>.</param>
            /// <param name="httpRequestMessage"><see cref="System.Net.Http.HttpRequestMessage"/>.</param>
            /// <param name="httpResponseMessage"><see cref="System.Net.Http.HttpResponseMessage"/>.</param>
            /// <param name="contentStream">The raw binary stream (only set for binary responses).</param>
            /// <param name="path">The path used when making the request.</param>
            /// <param name="requestedAt">The DateTime.UtcNow when the request was retrieved.</param>
            /// <param name="jsonSerializerOptions"><see cref="JsonSerializerOptionsProvider"/></param>
            public AddAllowedOriginApiResponse(ILogger<AddAllowedOriginApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.AllowedOrigin? Ok()
            {
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.AllowedOrigin>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeOkResponse([NotNullWhen(true)]out Adyen.Management.Models.AllowedOrigin? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? BadRequest()
            {
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeBadRequestResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Unauthorized()
            {
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnauthorizedResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)401);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public bool IsForbidden => 403 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Forbidden()
            {
                return IsForbidden
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeForbiddenResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Forbidden();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)403);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? UnprocessableContent()
            {
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnprocessableContentResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)422);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? InternalServerError()
            {
                return IsInternalServerError
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeInternalServerErrorResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = InternalServerError();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)500);
                }

                return result != null;
            }

            private void OnDeserializationError(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }
        
        /// <summary>
        /// Generate a client key Generates a new [client key](https://docs.adyen.com/development-resources/client-side-authentication/) used to authenticate requests from your payment environment. You can use the new client key a few minutes after generating it. The old client key stops working 24 hours after generating a new one.  To make this request, your API credential must have the following [role](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IGenerateClientKeyApiResponse"/> - If 200 OK response, wraps the <see cref="Adyen.Management.Models.GenerateClientKeyResponse"/> when `TryDeserializeOk(...)` is called.</returns>
        public async Task<IGenerateClientKeyApiResponse> GenerateClientKeyAsync( RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/me/generateClientKey"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/me/generateClientKey");

                    // Adds headers to the HttpRequestMessage header, these can be set in the RequestOptions (Idempotency-Key etc.)
                    requestOptions?.AddHeadersToHttpRequestMessage(httpRequestMessage);

                    // Add authorization token to the HttpRequestMessage header
                    ApiKeyProvider.Get().AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));
#if NET462 || NETSTANDARD2_0
                    httpRequestMessage.Method = new HttpMethod("POST");
#else
                    httpRequestMessage.Method = HttpMethod.Post;
#endif

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GenerateClientKeyApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<GenerateClientKeyApiResponse>();
                        GenerateClientKeyApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
#if NET462 || NETSTANDARD2_0
                                // `HttpContent.ReadAsStringAsync(cancellationToken)` doesn't exist in .NET Standard 2.0. Instead, we cancel one-level above in `HttpClient.SendAsync(httpRequestMessage, cancellationToken)`.
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync().ConfigureAwait(false);
#else
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
#endif
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/me/generateClientKey", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }
                        
                        Events?.ExecuteOnGenerateClientKey(apiResponse);
                        return apiResponse;
                    }
                }
            }
            catch(Exception exception)
            {
                Events?.ExecuteOnErrorGenerateClientKey(exception);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GenerateClientKeyApiResponse"/>.
        /// </summary>
        public partial class GenerateClientKeyApiResponse : Adyen.Core.Client.ApiResponse, IGenerateClientKeyApiResponse
        {
            /// <summary>
            /// The logger for <see cref="GenerateClientKeyApiResponse"/>.
            /// </summary>
            public ILogger<GenerateClientKeyApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GenerateClientKeyApiResponse"/>.
            /// </summary>
            /// <param name="logger"><see cref="ILogger"/>.</param>
            /// <param name="httpRequestMessage"><see cref="System.Net.Http.HttpRequestMessage"/>.</param>
            /// <param name="httpResponseMessage"><see cref="System.Net.Http.HttpResponseMessage"/>.</param>
            /// <param name="rawContent">The raw data.</param>
            /// <param name="path">The path used when making the request.</param>
            /// <param name="requestedAt">The DateTime.UtcNow when the request was retrieved.</param>
            /// <param name="jsonSerializerOptions"><see cref="JsonSerializerOptionsProvider"/></param>
            public GenerateClientKeyApiResponse(ILogger<GenerateClientKeyApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GenerateClientKeyApiResponse"/>.
            /// </summary>
            /// <param name="logger"><see cref="ILogger"/>.</param>
            /// <param name="httpRequestMessage"><see cref="System.Net.Http.HttpRequestMessage"/>.</param>
            /// <param name="httpResponseMessage"><see cref="System.Net.Http.HttpResponseMessage"/>.</param>
            /// <param name="contentStream">The raw binary stream (only set for binary responses).</param>
            /// <param name="path">The path used when making the request.</param>
            /// <param name="requestedAt">The DateTime.UtcNow when the request was retrieved.</param>
            /// <param name="jsonSerializerOptions"><see cref="JsonSerializerOptionsProvider"/></param>
            public GenerateClientKeyApiResponse(ILogger<GenerateClientKeyApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.GenerateClientKeyResponse? Ok()
            {
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.GenerateClientKeyResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeOkResponse([NotNullWhen(true)]out Adyen.Management.Models.GenerateClientKeyResponse? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? BadRequest()
            {
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeBadRequestResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Unauthorized()
            {
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnauthorizedResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)401);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public bool IsForbidden => 403 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Forbidden()
            {
                return IsForbidden
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeForbiddenResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Forbidden();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)403);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? UnprocessableContent()
            {
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnprocessableContentResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)422);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? InternalServerError()
            {
                return IsInternalServerError
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeInternalServerErrorResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = InternalServerError();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)500);
                }

                return result != null;
            }

            private void OnDeserializationError(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }
        
        /// <summary>
        /// Get allowed origin details Returns the details of the [allowed origin](https://docs.adyen.com/development-resources/client-side-authentication#allowed-origins) specified in the path. The API key from the request is used to identify the [API credential](https://docs.adyen.com/development-resources/api-credentials).  You can make this request with any of the Management API roles.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="originId">Unique identifier of the allowed origin.</param>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IGetAllowedOriginDetailsApiResponse"/> - If 200 OK response, wraps the <see cref="Adyen.Management.Models.AllowedOrigin"/> when `TryDeserializeOk(...)` is called.</returns>
        public async Task<IGetAllowedOriginDetailsApiResponse> GetAllowedOriginDetailsAsync(string originId,  RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/me/allowedOrigins/{originId}"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/me/allowedOrigins/{originId}");
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BoriginId%7D", Uri.EscapeDataString(originId.ToString()));

                    // Adds headers to the HttpRequestMessage header, these can be set in the RequestOptions (Idempotency-Key etc.)
                    requestOptions?.AddHeadersToHttpRequestMessage(httpRequestMessage);

                    // Add authorization token to the HttpRequestMessage header
                    ApiKeyProvider.Get().AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));
#if NET462 || NETSTANDARD2_0
                    httpRequestMessage.Method = new HttpMethod("GET");
#else
                    httpRequestMessage.Method = HttpMethod.Get;
#endif

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GetAllowedOriginDetailsApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<GetAllowedOriginDetailsApiResponse>();
                        GetAllowedOriginDetailsApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
#if NET462 || NETSTANDARD2_0
                                // `HttpContent.ReadAsStringAsync(cancellationToken)` doesn't exist in .NET Standard 2.0. Instead, we cancel one-level above in `HttpClient.SendAsync(httpRequestMessage, cancellationToken)`.
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync().ConfigureAwait(false);
#else
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
#endif
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/me/allowedOrigins/{originId}", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }
                        
                        Events?.ExecuteOnGetAllowedOriginDetails(apiResponse);
                        return apiResponse;
                    }
                }
            }
            catch(Exception exception)
            {
                Events?.ExecuteOnErrorGetAllowedOriginDetails(exception);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GetAllowedOriginDetailsApiResponse"/>.
        /// </summary>
        public partial class GetAllowedOriginDetailsApiResponse : Adyen.Core.Client.ApiResponse, IGetAllowedOriginDetailsApiResponse
        {
            /// <summary>
            /// The logger for <see cref="GetAllowedOriginDetailsApiResponse"/>.
            /// </summary>
            public ILogger<GetAllowedOriginDetailsApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GetAllowedOriginDetailsApiResponse"/>.
            /// </summary>
            /// <param name="logger"><see cref="ILogger"/>.</param>
            /// <param name="httpRequestMessage"><see cref="System.Net.Http.HttpRequestMessage"/>.</param>
            /// <param name="httpResponseMessage"><see cref="System.Net.Http.HttpResponseMessage"/>.</param>
            /// <param name="rawContent">The raw data.</param>
            /// <param name="path">The path used when making the request.</param>
            /// <param name="requestedAt">The DateTime.UtcNow when the request was retrieved.</param>
            /// <param name="jsonSerializerOptions"><see cref="JsonSerializerOptionsProvider"/></param>
            public GetAllowedOriginDetailsApiResponse(ILogger<GetAllowedOriginDetailsApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GetAllowedOriginDetailsApiResponse"/>.
            /// </summary>
            /// <param name="logger"><see cref="ILogger"/>.</param>
            /// <param name="httpRequestMessage"><see cref="System.Net.Http.HttpRequestMessage"/>.</param>
            /// <param name="httpResponseMessage"><see cref="System.Net.Http.HttpResponseMessage"/>.</param>
            /// <param name="contentStream">The raw binary stream (only set for binary responses).</param>
            /// <param name="path">The path used when making the request.</param>
            /// <param name="requestedAt">The DateTime.UtcNow when the request was retrieved.</param>
            /// <param name="jsonSerializerOptions"><see cref="JsonSerializerOptionsProvider"/></param>
            public GetAllowedOriginDetailsApiResponse(ILogger<GetAllowedOriginDetailsApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.AllowedOrigin? Ok()
            {
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.AllowedOrigin>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeOkResponse([NotNullWhen(true)]out Adyen.Management.Models.AllowedOrigin? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? BadRequest()
            {
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeBadRequestResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Unauthorized()
            {
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnauthorizedResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)401);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public bool IsForbidden => 403 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Forbidden()
            {
                return IsForbidden
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeForbiddenResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Forbidden();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)403);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? UnprocessableContent()
            {
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnprocessableContentResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)422);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? InternalServerError()
            {
                return IsInternalServerError
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeInternalServerErrorResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = InternalServerError();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)500);
                }

                return result != null;
            }

            private void OnDeserializationError(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }
        
        /// <summary>
        /// Get allowed origins Returns the list of [allowed origins](https://docs.adyen.com/development-resources/client-side-authentication#allowed-origins) of your [API credential](https://docs.adyen.com/development-resources/api-credentials) based on the API key you used in the request.  You can make this request with any of the Management API roles.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IGetAllowedOriginsApiResponse"/> - If 200 OK response, wraps the <see cref="Adyen.Management.Models.AllowedOriginsResponse"/> when `TryDeserializeOk(...)` is called.</returns>
        public async Task<IGetAllowedOriginsApiResponse> GetAllowedOriginsAsync( RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/me/allowedOrigins"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/me/allowedOrigins");

                    // Adds headers to the HttpRequestMessage header, these can be set in the RequestOptions (Idempotency-Key etc.)
                    requestOptions?.AddHeadersToHttpRequestMessage(httpRequestMessage);

                    // Add authorization token to the HttpRequestMessage header
                    ApiKeyProvider.Get().AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));
#if NET462 || NETSTANDARD2_0
                    httpRequestMessage.Method = new HttpMethod("GET");
#else
                    httpRequestMessage.Method = HttpMethod.Get;
#endif

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GetAllowedOriginsApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<GetAllowedOriginsApiResponse>();
                        GetAllowedOriginsApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
#if NET462 || NETSTANDARD2_0
                                // `HttpContent.ReadAsStringAsync(cancellationToken)` doesn't exist in .NET Standard 2.0. Instead, we cancel one-level above in `HttpClient.SendAsync(httpRequestMessage, cancellationToken)`.
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync().ConfigureAwait(false);
#else
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
#endif
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/me/allowedOrigins", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }
                        
                        Events?.ExecuteOnGetAllowedOrigins(apiResponse);
                        return apiResponse;
                    }
                }
            }
            catch(Exception exception)
            {
                Events?.ExecuteOnErrorGetAllowedOrigins(exception);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GetAllowedOriginsApiResponse"/>.
        /// </summary>
        public partial class GetAllowedOriginsApiResponse : Adyen.Core.Client.ApiResponse, IGetAllowedOriginsApiResponse
        {
            /// <summary>
            /// The logger for <see cref="GetAllowedOriginsApiResponse"/>.
            /// </summary>
            public ILogger<GetAllowedOriginsApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GetAllowedOriginsApiResponse"/>.
            /// </summary>
            /// <param name="logger"><see cref="ILogger"/>.</param>
            /// <param name="httpRequestMessage"><see cref="System.Net.Http.HttpRequestMessage"/>.</param>
            /// <param name="httpResponseMessage"><see cref="System.Net.Http.HttpResponseMessage"/>.</param>
            /// <param name="rawContent">The raw data.</param>
            /// <param name="path">The path used when making the request.</param>
            /// <param name="requestedAt">The DateTime.UtcNow when the request was retrieved.</param>
            /// <param name="jsonSerializerOptions"><see cref="JsonSerializerOptionsProvider"/></param>
            public GetAllowedOriginsApiResponse(ILogger<GetAllowedOriginsApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GetAllowedOriginsApiResponse"/>.
            /// </summary>
            /// <param name="logger"><see cref="ILogger"/>.</param>
            /// <param name="httpRequestMessage"><see cref="System.Net.Http.HttpRequestMessage"/>.</param>
            /// <param name="httpResponseMessage"><see cref="System.Net.Http.HttpResponseMessage"/>.</param>
            /// <param name="contentStream">The raw binary stream (only set for binary responses).</param>
            /// <param name="path">The path used when making the request.</param>
            /// <param name="requestedAt">The DateTime.UtcNow when the request was retrieved.</param>
            /// <param name="jsonSerializerOptions"><see cref="JsonSerializerOptionsProvider"/></param>
            public GetAllowedOriginsApiResponse(ILogger<GetAllowedOriginsApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.AllowedOriginsResponse? Ok()
            {
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.AllowedOriginsResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeOkResponse([NotNullWhen(true)]out Adyen.Management.Models.AllowedOriginsResponse? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? BadRequest()
            {
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeBadRequestResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Unauthorized()
            {
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnauthorizedResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)401);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public bool IsForbidden => 403 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Forbidden()
            {
                return IsForbidden
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeForbiddenResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Forbidden();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)403);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? UnprocessableContent()
            {
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnprocessableContentResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)422);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? InternalServerError()
            {
                return IsInternalServerError
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeInternalServerErrorResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = InternalServerError();
                } 
                catch (Exception exception)
                {
                    OnDeserializationError(exception, (HttpStatusCode)500);
                }

                return result != null;
            }

            private void OnDeserializationError(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }
        
        /// <summary>
        /// Get API credential details Returns your [API credential](https://docs.adyen.com/development-resources/api-credentials) details based on the API Key you used in the request.  You can make this request with any of the Management API roles.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="requestOptions"><see cref="RequestOptions"/>.</param>
        /// <param name="cancellationToken"><see cref="CancellationToken"/>.</param>
        /// <returns><see cref="Task"/> of <see cref="IGetApiCredentialDetailsApiResponse"/> - If 200 OK response, wraps the <see cref="Adyen.Management.Models.MeApiCredential"/> when `TryDeserializeOk(...)` is called.</returns>
        public async Task<IGetApiCredentialDetailsApiResponse> GetApiCredentialDetailsAsync( RequestOptions? requestOptions = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/me"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/me");

                    // Adds headers to the HttpRequestMessage header, these can be set in the RequestOptions (Idempotency-Key etc.)
                    requestOptions?.AddHeadersToHttpRequestMessage(httpRequestMessage);

                    // Add authorization token to the HttpRequestMessage header
                    ApiKeyProvider.Get().AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));
#if NET462 || NETSTANDARD2_0
                    httpRequestMessage.Method = new HttpMethod("GET");
#else
                    httpRequestMessage.Method = HttpMethod.Get;
#endif

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GetApiCredentialDetailsApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<GetApiCredentialDetailsApiResponse>();
                        GetApiCredentialDetailsApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
#if NET462 || NETSTANDARD2_0
                                // `HttpContent.ReadAsStringAsync(cancellationToken)` doesn't exist in .NET Standard 2.0. Instead, we cancel one-level above in `HttpClient.SendAsync(httpRequestMessage, cancellationToken)`.
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync().ConfigureAwait(false);
#else
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
#endif
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/me", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }
                        
                        Events?.ExecuteOnGetApiCredentialDetails(apiResponse);
                        return apiResponse;
                    }
                }
            }
            catch(Exception exception)
            {
                Events?.ExecuteOnErrorGetApiCredentialDetails(exception);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GetApiCredentialDetailsApiResponse"/>.
        /// </summary>
        public partial class GetApiCredentialDetailsApiResponse : Adyen.Core.Client.ApiResponse, IGetApiCredentialDetailsApiResponse
        {
            /// <summary>
            /// The logger for <see cref="GetApiCredentialDetailsApiResponse"/>.
            /// </summary>
[...]
