// <auto-generated>
/*
 * Management API
 *
 * Configure and manage your Adyen company and merchant accounts, stores, and payment terminals. ## Authentication Each request to the Management API must be signed with an API key. [Generate your API key](https://docs.adyen.com/development-resources/api-credentials#generate-api-key) in the Customer Area and then set this key to the `X-API-Key` header value.  To access the live endpoints, you need to generate a new API key in your live Customer Area. ## Versioning  Management API handles versioning as part of the endpoint URL. For example, to send a request to this version of the `/companies/{companyId}/webhooks` endpoint, use:  ```text https://management-test.adyen.com/v3/companies/{companyId}/webhooks ```  ## Going live  To access the live endpoints, you need an API key from your live Customer Area. Use this API key to make requests to:  ```text https://management-live.adyen.com/v3 ```  ## Release notes Have a look at the [release notes](https://docs.adyen.com/release-notes/management-api) to find out what changed in this version!
 *
 * The version of the OpenAPI document: 3
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Net;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using Adyen.Core;
using Adyen.Core.Auth;
using Adyen.Core.Client;
using Adyen.Management.Client;
using Adyen.Management.Models;
using System.Diagnostics.CodeAnalysis;

namespace Adyen.Management.Services
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// This class is registered as transient.
    /// </summary>
    public interface IMyAPICredentialService : IAdyenApiService
    {
        /// <summary>
        /// The class containing the events.
        /// </summary>
        MyAPICredentialServiceEvents Events { get; }

        /// <summary>
        /// Add allowed origin
        /// </summary>
        /// <remarks>
        /// Adds an allowed origin to the list of [allowed origins](https://docs.adyen.com/development-resources/client-side-authentication#allowed-origins) of your API credential. The API key from the request is used to identify the [API credential](https://docs.adyen.com/development-resources/api-credentials).  You can make this request with any of the Management API roles.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="createAllowedOriginRequest"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IAddAllowedOriginApiResponse"/>&gt;</returns>
        Task<IAddAllowedOriginApiResponse> AddAllowedOriginAsync(Option<CreateAllowedOriginRequest> createAllowedOriginRequest = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Generate a client key
        /// </summary>
        /// <remarks>
        /// Generates a new [client key](https://docs.adyen.com/development-resources/client-side-authentication/) used to authenticate requests from your payment environment. You can use the new client key a few minutes after generating it. The old client key stops working 24 hours after generating a new one.  To make this request, your API credential must have the following [role](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateClientKeyApiResponse"/>&gt;</returns>
        Task<IGenerateClientKeyApiResponse> GenerateClientKeyAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get allowed origin details
        /// </summary>
        /// <remarks>
        /// Returns the details of the [allowed origin](https://docs.adyen.com/development-resources/client-side-authentication#allowed-origins) specified in the path. The API key from the request is used to identify the [API credential](https://docs.adyen.com/development-resources/api-credentials).  You can make this request with any of the Management API roles.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="originId">Unique identifier of the allowed origin.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetAllowedOriginDetailsApiResponse"/>&gt;</returns>
        Task<IGetAllowedOriginDetailsApiResponse> GetAllowedOriginDetailsAsync(string originId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get allowed origins
        /// </summary>
        /// <remarks>
        /// Returns the list of [allowed origins](https://docs.adyen.com/development-resources/client-side-authentication#allowed-origins) of your [API credential](https://docs.adyen.com/development-resources/api-credentials) based on the API key you used in the request.  You can make this request with any of the Management API roles.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetAllowedOriginsApiResponse"/>&gt;</returns>
        Task<IGetAllowedOriginsApiResponse> GetAllowedOriginsAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get API credential details
        /// </summary>
        /// <remarks>
        /// Returns your [API credential](https://docs.adyen.com/development-resources/api-credentials) details based on the API Key you used in the request.  You can make this request with any of the Management API roles.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetApiCredentialDetailsApiResponse"/>&gt;</returns>
        Task<IGetApiCredentialDetailsApiResponse> GetApiCredentialDetailsAsync(System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Remove allowed origin
        /// </summary>
        /// <remarks>
        /// Removes the [allowed origin](https://docs.adyen.com/development-resources/client-side-authentication#allowed-origins) specified in the path. The API key from the request is used to identify the [API credential](https://docs.adyen.com/development-resources/api-credentials).  You can make this request with any of the Management API roles.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="originId">Unique identifier of the allowed origin.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IRemoveAllowedOriginApiResponse"/>&gt;</returns>
        Task<IRemoveAllowedOriginApiResponse> RemoveAllowedOriginAsync(string originId, System.Threading.CancellationToken cancellationToken = default);

    }

    /// <summary>
    /// The <see cref="IAddAllowedOriginApiResponse"/>.
    /// </summary>
    public interface IAddAllowedOriginApiResponse : Adyen.Core.Client.IApiResponse, IOk<Adyen.Management.Models.AllowedOrigin?>, IBadRequest<Adyen.Management.Models.RestServiceError?>, IUnauthorized<Adyen.Management.Models.RestServiceError?>, IForbidden<Adyen.Management.Models.RestServiceError?>, IUnprocessableContent<Adyen.Management.Models.RestServiceError?>, IInternalServerError<Adyen.Management.Models.RestServiceError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok.
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest.
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized.
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden.
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent.
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError.
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// The <see cref="IGenerateClientKeyApiResponse"/>.
    /// </summary>
    public interface IGenerateClientKeyApiResponse : Adyen.Core.Client.IApiResponse, IOk<Adyen.Management.Models.GenerateClientKeyResponse?>, IBadRequest<Adyen.Management.Models.RestServiceError?>, IUnauthorized<Adyen.Management.Models.RestServiceError?>, IForbidden<Adyen.Management.Models.RestServiceError?>, IUnprocessableContent<Adyen.Management.Models.RestServiceError?>, IInternalServerError<Adyen.Management.Models.RestServiceError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok.
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest.
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized.
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden.
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent.
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError.
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// The <see cref="IGetAllowedOriginDetailsApiResponse"/>.
    /// </summary>
    public interface IGetAllowedOriginDetailsApiResponse : Adyen.Core.Client.IApiResponse, IOk<Adyen.Management.Models.AllowedOrigin?>, IBadRequest<Adyen.Management.Models.RestServiceError?>, IUnauthorized<Adyen.Management.Models.RestServiceError?>, IForbidden<Adyen.Management.Models.RestServiceError?>, IUnprocessableContent<Adyen.Management.Models.RestServiceError?>, IInternalServerError<Adyen.Management.Models.RestServiceError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok.
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest.
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized.
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden.
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent.
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError.
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// The <see cref="IGetAllowedOriginsApiResponse"/>.
    /// </summary>
    public interface IGetAllowedOriginsApiResponse : Adyen.Core.Client.IApiResponse, IOk<Adyen.Management.Models.AllowedOriginsResponse?>, IBadRequest<Adyen.Management.Models.RestServiceError?>, IUnauthorized<Adyen.Management.Models.RestServiceError?>, IForbidden<Adyen.Management.Models.RestServiceError?>, IUnprocessableContent<Adyen.Management.Models.RestServiceError?>, IInternalServerError<Adyen.Management.Models.RestServiceError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok.
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest.
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized.
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden.
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent.
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError.
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// The <see cref="IGetApiCredentialDetailsApiResponse"/>.
    /// </summary>
    public interface IGetApiCredentialDetailsApiResponse : Adyen.Core.Client.IApiResponse, IOk<Adyen.Management.Models.MeApiCredential?>, IBadRequest<Adyen.Management.Models.RestServiceError?>, IUnauthorized<Adyen.Management.Models.RestServiceError?>, IForbidden<Adyen.Management.Models.RestServiceError?>, IUnprocessableContent<Adyen.Management.Models.RestServiceError?>, IInternalServerError<Adyen.Management.Models.RestServiceError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok.
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest.
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized.
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden.
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent.
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError.
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// The <see cref="IRemoveAllowedOriginApiResponse"/>.
    /// </summary>
    public interface IRemoveAllowedOriginApiResponse : Adyen.Core.Client.IApiResponse, IBadRequest<Adyen.Management.Models.RestServiceError?>, IUnauthorized<Adyen.Management.Models.RestServiceError?>, IForbidden<Adyen.Management.Models.RestServiceError?>, IUnprocessableContent<Adyen.Management.Models.RestServiceError?>, IInternalServerError<Adyen.Management.Models.RestServiceError?>
    {
        /// <summary>
        /// Returns true if the response is 204 NoContent.
        /// </summary>
        /// <returns></returns>
        bool IsNoContent { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest.
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized.
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden.
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent.
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError.
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// </summary>
    public class MyAPICredentialServiceEvents
    {
        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnAddAllowedOrigin;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorAddAllowedOrigin;

        internal void ExecuteOnAddAllowedOrigin(MyAPICredentialService.AddAllowedOriginApiResponse apiResponse)
        {
            OnAddAllowedOrigin?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorAddAllowedOrigin(Exception exception)
        {
            OnErrorAddAllowedOrigin?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGenerateClientKey;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGenerateClientKey;

        internal void ExecuteOnGenerateClientKey(MyAPICredentialService.GenerateClientKeyApiResponse apiResponse)
        {
            OnGenerateClientKey?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGenerateClientKey(Exception exception)
        {
            OnErrorGenerateClientKey?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetAllowedOriginDetails;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetAllowedOriginDetails;

        internal void ExecuteOnGetAllowedOriginDetails(MyAPICredentialService.GetAllowedOriginDetailsApiResponse apiResponse)
        {
            OnGetAllowedOriginDetails?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetAllowedOriginDetails(Exception exception)
        {
            OnErrorGetAllowedOriginDetails?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetAllowedOrigins;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetAllowedOrigins;

        internal void ExecuteOnGetAllowedOrigins(MyAPICredentialService.GetAllowedOriginsApiResponse apiResponse)
        {
            OnGetAllowedOrigins?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetAllowedOrigins(Exception exception)
        {
            OnErrorGetAllowedOrigins?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetApiCredentialDetails;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetApiCredentialDetails;

        internal void ExecuteOnGetApiCredentialDetails(MyAPICredentialService.GetApiCredentialDetailsApiResponse apiResponse)
        {
            OnGetApiCredentialDetails?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetApiCredentialDetails(Exception exception)
        {
            OnErrorGetApiCredentialDetails?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnRemoveAllowedOrigin;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorRemoveAllowedOrigin;

        internal void ExecuteOnRemoveAllowedOrigin(MyAPICredentialService.RemoveAllowedOriginApiResponse apiResponse)
        {
            OnRemoveAllowedOrigin?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorRemoveAllowedOrigin(Exception exception)
        {
            OnErrorRemoveAllowedOrigin?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// </summary>
    public sealed partial class MyAPICredentialService : IMyAPICredentialService
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory.
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger.
        /// </summary>
        public ILogger<MyAPICredentialService> Logger { get; }

        /// <summary>
        /// The HttpClient.
        /// </summary>
        public System.Net.Http.HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events.
        /// </summary>
        public MyAPICredentialServiceEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="ApiKeyProvider"/>.
        /// </summary>
        public ITokenProvider<ApiKeyToken> ApiKeyProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="MyAPICredentialService"/> class.
        /// </summary>
        /// <returns></returns>
        public MyAPICredentialService(ILogger<MyAPICredentialService> logger, ILoggerFactory loggerFactory, System.Net.Http.HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, MyAPICredentialServiceEvents myAPICredentialServiceEvents,
            ITokenProvider<ApiKeyToken> apiKeyProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = LoggerFactory.CreateLogger<MyAPICredentialService>();
            HttpClient = httpClient;
            Events = myAPICredentialServiceEvents;
            ApiKeyProvider = apiKeyProvider;
        }

        partial void FormatAddAllowedOrigin(Option<CreateAllowedOriginRequest> createAllowedOriginRequest);

        /// <summary>
        /// Validates the request parameters.
        /// </summary>
        /// <param name="createAllowedOriginRequest"></param>
        /// <returns></returns>
        private void ValidateAddAllowedOrigin(Option<CreateAllowedOriginRequest> createAllowedOriginRequest)
        {
            if (createAllowedOriginRequest.IsSet && createAllowedOriginRequest.Value == null)
                throw new ArgumentNullException(nameof(createAllowedOriginRequest));
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="apiResponse"></param>
        /// <param name="createAllowedOriginRequest"></param>
        private void AfterAddAllowedOriginDefaultImplementation(IAddAllowedOriginApiResponse apiResponse, Option<CreateAllowedOriginRequest> createAllowedOriginRequest)
        {
            bool suppressDefaultLog = false;
            AfterAddAllowedOrigin(ref suppressDefaultLog, apiResponse, createAllowedOriginRequest);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {3}", (apiResponse.DownloadedAt - apiResponse.RequestedAt).TotalSeconds, apiResponse.StatusCode, apiResponse.Path);
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponse"></param>
        /// <param name="createAllowedOriginRequest"></param>
        partial void AfterAddAllowedOrigin(ref bool suppressDefaultLog, IAddAllowedOriginApiResponse apiResponse, Option<CreateAllowedOriginRequest> createAllowedOriginRequest);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response.
        /// </summary>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        /// <param name="createAllowedOriginRequest"></param>
        private void OnErrorAddAllowedOriginDefaultImplementation(Exception exception, string pathFormat, string path, Option<CreateAllowedOriginRequest> createAllowedOriginRequest)
        {
            bool suppressDefaultLog = false;
            OnErrorAddAllowedOrigin(ref suppressDefaultLog, exception, pathFormat, path, createAllowedOriginRequest);
            if (!suppressDefaultLog)
                Logger.LogError(exception, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        /// <param name="createAllowedOriginRequest"></param>
        partial void OnErrorAddAllowedOrigin(ref bool suppressDefaultLog, Exception exception, string pathFormat, string path, Option<CreateAllowedOriginRequest> createAllowedOriginRequest);

        /// <summary>
        /// Add allowed origin Adds an allowed origin to the list of [allowed origins](https://docs.adyen.com/development-resources/client-side-authentication#allowed-origins) of your API credential. The API key from the request is used to identify the [API credential](https://docs.adyen.com/development-resources/api-credentials).  You can make this request with any of the Management API roles.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="createAllowedOriginRequest"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IAddAllowedOriginApiResponse"/>&gt;</returns>
        public async Task<IAddAllowedOriginApiResponse> AddAllowedOriginAsync(Option<CreateAllowedOriginRequest> createAllowedOriginRequest = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                ValidateAddAllowedOrigin(createAllowedOriginRequest);

                FormatAddAllowedOrigin(createAllowedOriginRequest);

                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/me/allowedOrigins"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/me/allowedOrigins");

                    if (createAllowedOriginRequest.IsSet)
                        httpRequestMessage.Content = (createAllowedOriginRequest.Value as object) is System.IO.Stream stream
                            ? httpRequestMessage.Content = new StreamContent(stream)
                            : httpRequestMessage.Content = new StringContent(JsonSerializer.Serialize(createAllowedOriginRequest.Value, _jsonSerializerOptions));

                    ApiKeyToken apiKeyToken2 = (ApiKeyToken) ApiKeyProvider.Get();
                    apiKeyToken2.AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    string? contentType = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentType != null && httpRequestMessage.Content != null)
                        httpRequestMessage.Content.Headers.ContentType = new MediaTypeHeaderValue(contentType);

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));

                    httpRequestMessage.Method = HttpMethod.Post;

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<AddAllowedOriginApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<AddAllowedOriginApiResponse>();
                        AddAllowedOriginApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/me/allowedOrigins", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterAddAllowedOriginDefaultImplementation(apiResponse, createAllowedOriginRequest);

                        Events.ExecuteOnAddAllowedOrigin(apiResponse);
                    
                        return apiResponse;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorAddAllowedOriginDefaultImplementation(e, "/me/allowedOrigins", uriBuilder.Path, createAllowedOriginRequest);
                Events.ExecuteOnErrorAddAllowedOrigin(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="AddAllowedOriginApiResponse"/>.
        /// </summary>
        public partial class AddAllowedOriginApiResponse : Adyen.Core.Client.ApiResponse, IAddAllowedOriginApiResponse
        {
            /// <summary>
            /// The logger for <see cref="AddAllowedOriginApiResponse"/>.
            /// </summary>
            public ILogger<AddAllowedOriginApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="AddAllowedOriginApiResponse"/>.
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public AddAllowedOriginApiResponse(ILogger<AddAllowedOriginApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="AddAllowedOriginApiResponse"/>.
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public AddAllowedOriginApiResponse(ILogger<AddAllowedOriginApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.AllowedOrigin? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.AllowedOrigin>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeOkResponse([NotNullWhen(true)]out Adyen.Management.Models.AllowedOrigin? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? BadRequest()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeBadRequestResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Unauthorized()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnauthorizedResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)401);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public bool IsForbidden => 403 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Forbidden()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsForbidden
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeForbiddenResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Forbidden();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)403);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnprocessableContentResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? InternalServerError()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsInternalServerError
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeInternalServerErrorResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = InternalServerError();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)500);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="apiResponse"></param>
        private void AfterGenerateClientKeyDefaultImplementation(IGenerateClientKeyApiResponse apiResponse)
        {
            bool suppressDefaultLog = false;
            AfterGenerateClientKey(ref suppressDefaultLog, apiResponse);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {3}", (apiResponse.DownloadedAt - apiResponse.RequestedAt).TotalSeconds, apiResponse.StatusCode, apiResponse.Path);
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponse"></param>
        partial void AfterGenerateClientKey(ref bool suppressDefaultLog, IGenerateClientKeyApiResponse apiResponse);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response.
        /// </summary>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        private void OnErrorGenerateClientKeyDefaultImplementation(Exception exception, string pathFormat, string path)
        {
            bool suppressDefaultLog = false;
            OnErrorGenerateClientKey(ref suppressDefaultLog, exception, pathFormat, path);
            if (!suppressDefaultLog)
                Logger.LogError(exception, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        partial void OnErrorGenerateClientKey(ref bool suppressDefaultLog, Exception exception, string pathFormat, string path);

        /// <summary>
        /// Generate a client key Generates a new [client key](https://docs.adyen.com/development-resources/client-side-authentication/) used to authenticate requests from your payment environment. You can use the new client key a few minutes after generating it. The old client key stops working 24 hours after generating a new one.  To make this request, your API credential must have the following [role](https://docs.adyen.com/development-resources/api-credentials#api-permissions): * Management API—API credentials read and write
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGenerateClientKeyApiResponse"/>&gt;</returns>
        public async Task<IGenerateClientKeyApiResponse> GenerateClientKeyAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/me/generateClientKey"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/me/generateClientKey");

                    ApiKeyToken apiKeyToken2 = (ApiKeyToken) ApiKeyProvider.Get();
                    apiKeyToken2.AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));

                    httpRequestMessage.Method = HttpMethod.Post;

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GenerateClientKeyApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<GenerateClientKeyApiResponse>();
                        GenerateClientKeyApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/me/generateClientKey", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGenerateClientKeyDefaultImplementation(apiResponse);

                        Events.ExecuteOnGenerateClientKey(apiResponse);
                    
                        return apiResponse;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGenerateClientKeyDefaultImplementation(e, "/me/generateClientKey", uriBuilder.Path);
                Events.ExecuteOnErrorGenerateClientKey(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GenerateClientKeyApiResponse"/>.
        /// </summary>
        public partial class GenerateClientKeyApiResponse : Adyen.Core.Client.ApiResponse, IGenerateClientKeyApiResponse
        {
            /// <summary>
            /// The logger for <see cref="GenerateClientKeyApiResponse"/>.
            /// </summary>
            public ILogger<GenerateClientKeyApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GenerateClientKeyApiResponse"/>.
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GenerateClientKeyApiResponse(ILogger<GenerateClientKeyApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GenerateClientKeyApiResponse"/>.
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GenerateClientKeyApiResponse(ILogger<GenerateClientKeyApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.GenerateClientKeyResponse? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.GenerateClientKeyResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeOkResponse([NotNullWhen(true)]out Adyen.Management.Models.GenerateClientKeyResponse? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? BadRequest()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeBadRequestResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Unauthorized()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnauthorizedResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)401);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public bool IsForbidden => 403 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Forbidden()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsForbidden
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeForbiddenResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Forbidden();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)403);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnprocessableContentResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? InternalServerError()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsInternalServerError
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeInternalServerErrorResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = InternalServerError();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)500);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatGetAllowedOriginDetails(ref string originId);

        /// <summary>
        /// Validates the request parameters.
        /// </summary>
        /// <param name="originId"></param>
        /// <returns></returns>
        private void ValidateGetAllowedOriginDetails(string originId)
        {
            if (originId == null)
                throw new ArgumentNullException(nameof(originId));
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="apiResponse"></param>
        /// <param name="originId"></param>
        private void AfterGetAllowedOriginDetailsDefaultImplementation(IGetAllowedOriginDetailsApiResponse apiResponse, string originId)
        {
            bool suppressDefaultLog = false;
            AfterGetAllowedOriginDetails(ref suppressDefaultLog, apiResponse, originId);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {3}", (apiResponse.DownloadedAt - apiResponse.RequestedAt).TotalSeconds, apiResponse.StatusCode, apiResponse.Path);
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponse"></param>
        /// <param name="originId"></param>
        partial void AfterGetAllowedOriginDetails(ref bool suppressDefaultLog, IGetAllowedOriginDetailsApiResponse apiResponse, string originId);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response.
        /// </summary>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        /// <param name="originId"></param>
        private void OnErrorGetAllowedOriginDetailsDefaultImplementation(Exception exception, string pathFormat, string path, string originId)
        {
            bool suppressDefaultLog = false;
            OnErrorGetAllowedOriginDetails(ref suppressDefaultLog, exception, pathFormat, path, originId);
            if (!suppressDefaultLog)
                Logger.LogError(exception, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        /// <param name="originId"></param>
        partial void OnErrorGetAllowedOriginDetails(ref bool suppressDefaultLog, Exception exception, string pathFormat, string path, string originId);

        /// <summary>
        /// Get allowed origin details Returns the details of the [allowed origin](https://docs.adyen.com/development-resources/client-side-authentication#allowed-origins) specified in the path. The API key from the request is used to identify the [API credential](https://docs.adyen.com/development-resources/api-credentials).  You can make this request with any of the Management API roles.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="originId">Unique identifier of the allowed origin.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetAllowedOriginDetailsApiResponse"/>&gt;</returns>
        public async Task<IGetAllowedOriginDetailsApiResponse> GetAllowedOriginDetailsAsync(string originId, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                ValidateGetAllowedOriginDetails(originId);

                FormatGetAllowedOriginDetails(ref originId);

                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/me/allowedOrigins/{originId}"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/me/allowedOrigins/{originId}");
                    uriBuilder.Path = uriBuilder.Path.Replace("%7BoriginId%7D", Uri.EscapeDataString(originId.ToString()));

                    ApiKeyToken apiKeyToken2 = (ApiKeyToken) ApiKeyProvider.Get();
                    apiKeyToken2.AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));

                    httpRequestMessage.Method = HttpMethod.Get;

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GetAllowedOriginDetailsApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<GetAllowedOriginDetailsApiResponse>();
                        GetAllowedOriginDetailsApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/me/allowedOrigins/{originId}", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGetAllowedOriginDetailsDefaultImplementation(apiResponse, originId);

                        Events.ExecuteOnGetAllowedOriginDetails(apiResponse);
                    
                        return apiResponse;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGetAllowedOriginDetailsDefaultImplementation(e, "/me/allowedOrigins/{originId}", uriBuilder.Path, originId);
                Events.ExecuteOnErrorGetAllowedOriginDetails(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GetAllowedOriginDetailsApiResponse"/>.
        /// </summary>
        public partial class GetAllowedOriginDetailsApiResponse : Adyen.Core.Client.ApiResponse, IGetAllowedOriginDetailsApiResponse
        {
            /// <summary>
            /// The logger for <see cref="GetAllowedOriginDetailsApiResponse"/>.
            /// </summary>
            public ILogger<GetAllowedOriginDetailsApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GetAllowedOriginDetailsApiResponse"/>.
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetAllowedOriginDetailsApiResponse(ILogger<GetAllowedOriginDetailsApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GetAllowedOriginDetailsApiResponse"/>.
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetAllowedOriginDetailsApiResponse(ILogger<GetAllowedOriginDetailsApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.AllowedOrigin? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.AllowedOrigin>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeOkResponse([NotNullWhen(true)]out Adyen.Management.Models.AllowedOrigin? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? BadRequest()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeBadRequestResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Unauthorized()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnauthorizedResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)401);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public bool IsForbidden => 403 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Forbidden()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsForbidden
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeForbiddenResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Forbidden();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)403);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnprocessableContentResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? InternalServerError()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsInternalServerError
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeInternalServerErrorResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = InternalServerError();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)500);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="apiResponse"></param>
        private void AfterGetAllowedOriginsDefaultImplementation(IGetAllowedOriginsApiResponse apiResponse)
        {
            bool suppressDefaultLog = false;
            AfterGetAllowedOrigins(ref suppressDefaultLog, apiResponse);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {3}", (apiResponse.DownloadedAt - apiResponse.RequestedAt).TotalSeconds, apiResponse.StatusCode, apiResponse.Path);
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponse"></param>
        partial void AfterGetAllowedOrigins(ref bool suppressDefaultLog, IGetAllowedOriginsApiResponse apiResponse);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response.
        /// </summary>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        private void OnErrorGetAllowedOriginsDefaultImplementation(Exception exception, string pathFormat, string path)
        {
            bool suppressDefaultLog = false;
            OnErrorGetAllowedOrigins(ref suppressDefaultLog, exception, pathFormat, path);
            if (!suppressDefaultLog)
                Logger.LogError(exception, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        partial void OnErrorGetAllowedOrigins(ref bool suppressDefaultLog, Exception exception, string pathFormat, string path);

        /// <summary>
        /// Get allowed origins Returns the list of [allowed origins](https://docs.adyen.com/development-resources/client-side-authentication#allowed-origins) of your [API credential](https://docs.adyen.com/development-resources/api-credentials) based on the API key you used in the request.  You can make this request with any of the Management API roles.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetAllowedOriginsApiResponse"/>&gt;</returns>
        public async Task<IGetAllowedOriginsApiResponse> GetAllowedOriginsAsync(System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/me/allowedOrigins"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/me/allowedOrigins");

                    ApiKeyToken apiKeyToken2 = (ApiKeyToken) ApiKeyProvider.Get();
                    apiKeyToken2.AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));

                    httpRequestMessage.Method = HttpMethod.Get;

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GetAllowedOriginsApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<GetAllowedOriginsApiResponse>();
                        GetAllowedOriginsApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/me/allowedOrigins", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGetAllowedOriginsDefaultImplementation(apiResponse);

                        Events.ExecuteOnGetAllowedOrigins(apiResponse);
                    
                        return apiResponse;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGetAllowedOriginsDefaultImplementation(e, "/me/allowedOrigins", uriBuilder.Path);
                Events.ExecuteOnErrorGetAllowedOrigins(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GetAllowedOriginsApiResponse"/>.
        /// </summary>
        public partial class GetAllowedOriginsApiResponse : Adyen.Core.Client.ApiResponse, IGetAllowedOriginsApiResponse
        {
            /// <summary>
            /// The logger for <see cref="GetAllowedOriginsApiResponse"/>.
            /// </summary>
            public ILogger<GetAllowedOriginsApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GetAllowedOriginsApiResponse"/>.
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetAllowedOriginsApiResponse(ILogger<GetAllowedOriginsApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GetAllowedOriginsApiResponse"/>.
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetAllowedOriginsApiResponse(ILogger<GetAllowedOriginsApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.AllowedOriginsResponse? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.AllowedOriginsResponse>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeOkResponse([NotNullWhen(true)]out Adyen.Management.Models.AllowedOriginsResponse? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? BadRequest()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeBadRequestResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Unauthorized()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnauthorizedResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)401);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public bool IsForbidden => 403 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? Forbidden()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsForbidden
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeForbiddenResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Forbidden();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)403);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnprocessableContentResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public Adyen.Management.Models.RestServiceError? InternalServerError()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsInternalServerError
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Management.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeInternalServerErrorResponse([NotNullWhen(true)]out Adyen.Management.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = InternalServerError();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)500);
                }

                return result != null;
            }

[...]
