// <auto-generated>
/*
 * Transfers API
 *
 * >Versions 1 and 2 of the Transfers API are deprecated. If you are just starting your implementation, use the latest version.  The Transfers API provides endpoints that you can use to transfer funds, whether when paying out to a transfer instrument for [marketplaces](https://docs.adyen.com/marketplaces/payout-to-users/on-demand-payouts) or [platforms](https://docs.adyen.com/platforms/payout-to-users/on-demand-payouts), [sending funds to third parties](https://docs.adyen.com/platforms/business-accounts/send-receive-funds) for users with business bank accounts, or to [request a payout for a grant offer](https://docs.adyen.com/platforms/capital). The API also supports use cases for [getting transactions for business bank accounts](https://docs.adyen.com/platforms/business-accounts/transactions-api) and getting [outstanding balances](https://docs.adyen.com/platforms/capital#get-balances) for one or more grants on your platform.   ## Authentication Each request to the Transfers API must be signed with an API key. Generate an API key in your Customer Area if you have a [platform setup](https://docs.adyen.com/platforms/manage-access/api-credentials-web-service/#generate-api-key) or [marketplace setup](https://docs.adyen.com/marketplaces/manage-access/api-credentials-web-service/#generate-api-key).  If you have an Adyen Issuing integration, [generate an API key](https://docs.adyen.com/issuing/manage-access/api-credentials-web-service/#generate-api-key) in your Balance Platform Customer Area.  To connect to the API, add an `X-API-Key` header with the API key as the value, for example:   ``` curl -H \"Content-Type: application/json\" \\ -H \"X-API-Key: YOUR_API_KEY\" \\ ... ```  ## Roles and permissions To use the Transfers API, you need an additional role for your API credential. Transfers must also be enabled for the source balance account. Your Adyen contact will set up the roles and permissions for you. ## Versioning The Transfers API supports [versioning](https://docs.adyen.com/development-resources/versioning) using a version suffix in the endpoint URL. This suffix has the following format: \"vXX\", where XX is the version number.  For example: ``` https://balanceplatform-api-test.adyen.com/btl/v4/transfers ``` ## Going live When going live, generate an API key in your [live Customer Area](https://ca-live.adyen.com/ca/) if you have an Adyen for Platforms integration or [live Balance Platform Customer Area](https://balanceplatform-live.adyen.com/balanceplatform/) if you have an Adyen Issuing integration. You can then use the API key to send requests to `https://balanceplatform-api-live.adyen.com/btl/v4`.  
 *
 * The version of the OpenAPI document: 4
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.Collections.Generic;
using System.Net;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Text.Json;
using Adyen.Core;
using Adyen.Core.Auth;
using Adyen.Core.Client;
using Adyen.Transfers.Client;
using Adyen.Transfers.Models;
using System.Diagnostics.CodeAnalysis;

namespace Adyen.Transfers.Services
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// This class is registered as transient.
    /// </summary>
    public interface ICapitalService : IAdyenApiService
    {
        /// <summary>
        /// The class containing the events.
        /// </summary>
        CapitalServiceEvents Events { get; }

        /// <summary>
        /// Get a capital account
        /// </summary>
        /// <remarks>
        /// Returns a list of grants with status and outstanding balances.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="counterpartyAccountHolderId">The counterparty account holder id. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetCapitalAccountApiResponse"/>&gt;</returns>
        [Obsolete("Deprecated since Transfers API v4. Use the `/grants` endpoint from the [Capital API](https://docs.adyen.com/api-explorer/capital/latest/get/grants) instead.")]
        Task<IGetCapitalAccountApiResponse> GetCapitalAccountAsync(Option<string> counterpartyAccountHolderId = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get grant reference details
        /// </summary>
        /// <remarks>
        /// Returns the details of a capital account specified in the path.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="id">The unique identifier of the grant.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetGrantReferenceDetailsApiResponse"/>&gt;</returns>
        [Obsolete("Deprecated since Transfers API v4. Use the `/grants/{grantId}` endpoint from the [Capital API](https://docs.adyen.com/api-explorer/capital/latest/get/grants/(grantId)) instead.")]
        Task<IGetGrantReferenceDetailsApiResponse> GetGrantReferenceDetailsAsync(string id, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Request a grant payout
        /// </summary>
        /// <remarks>
        /// Requests the payout of the selected grant offer.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="idempotencyKey">A unique identifier for the message with a maximum of 64 characters (we recommend a UUID). (optional)</param>
        /// <param name="capitalGrantInfo"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IRequestGrantPayoutApiResponse"/>&gt;</returns>
        [Obsolete("Deprecated since Transfers API v4. Use the `/grants` endpoint from the [Capital API](https://docs.adyen.com/api-explorer/capital/latest/post/grants) instead.")]
        Task<IRequestGrantPayoutApiResponse> RequestGrantPayoutAsync(Option<string> idempotencyKey = default, Option<CapitalGrantInfo> capitalGrantInfo = default, System.Threading.CancellationToken cancellationToken = default);

    }

    /// <summary>
    /// The <see cref="IGetCapitalAccountApiResponse"/>.
    /// </summary>
    public interface IGetCapitalAccountApiResponse : Adyen.Core.Client.IApiResponse, IOk<Adyen.Transfers.Models.CapitalGrants?>, IBadRequest<Adyen.Transfers.Models.RestServiceError?>, IUnauthorized<Adyen.Transfers.Models.RestServiceError?>, IForbidden<Adyen.Transfers.Models.RestServiceError?>, INotFound<Adyen.Transfers.Models.RestServiceError?>, IUnprocessableContent<Adyen.Transfers.Models.RestServiceError?>, IInternalServerError<Adyen.Transfers.Models.RestServiceError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok.
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest.
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized.
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden.
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound.
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent.
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError.
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// The <see cref="IGetGrantReferenceDetailsApiResponse"/>.
    /// </summary>
    public interface IGetGrantReferenceDetailsApiResponse : Adyen.Core.Client.IApiResponse, IOk<Adyen.Transfers.Models.CapitalGrant?>, IBadRequest<Adyen.Transfers.Models.RestServiceError?>, IUnauthorized<Adyen.Transfers.Models.RestServiceError?>, IForbidden<Adyen.Transfers.Models.RestServiceError?>, INotFound<Adyen.Transfers.Models.RestServiceError?>, IUnprocessableContent<Adyen.Transfers.Models.RestServiceError?>, IInternalServerError<Adyen.Transfers.Models.RestServiceError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok.
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest.
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized.
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden.
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound.
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent.
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError.
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// The <see cref="IRequestGrantPayoutApiResponse"/>.
    /// </summary>
    public interface IRequestGrantPayoutApiResponse : Adyen.Core.Client.IApiResponse, IOk<Adyen.Transfers.Models.CapitalGrant?>, IBadRequest<Adyen.Transfers.Models.RestServiceError?>, IUnauthorized<Adyen.Transfers.Models.RestServiceError?>, IForbidden<Adyen.Transfers.Models.RestServiceError?>, INotFound<Adyen.Transfers.Models.RestServiceError?>, IUnprocessableContent<Adyen.Transfers.Models.RestServiceError?>, IInternalServerError<Adyen.Transfers.Models.RestServiceError?>
    {
        /// <summary>
        /// Returns true if the response is 200 Ok.
        /// </summary>
        /// <returns></returns>
        bool IsOk { get; }

        /// <summary>
        /// Returns true if the response is 400 BadRequest.
        /// </summary>
        /// <returns></returns>
        bool IsBadRequest { get; }

        /// <summary>
        /// Returns true if the response is 401 Unauthorized.
        /// </summary>
        /// <returns></returns>
        bool IsUnauthorized { get; }

        /// <summary>
        /// Returns true if the response is 403 Forbidden.
        /// </summary>
        /// <returns></returns>
        bool IsForbidden { get; }

        /// <summary>
        /// Returns true if the response is 404 NotFound.
        /// </summary>
        /// <returns></returns>
        bool IsNotFound { get; }

        /// <summary>
        /// Returns true if the response is 422 UnprocessableContent.
        /// </summary>
        /// <returns></returns>
        bool IsUnprocessableContent { get; }

        /// <summary>
        /// Returns true if the response is 500 InternalServerError.
        /// </summary>
        /// <returns></returns>
        bool IsInternalServerError { get; }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// </summary>
    public class CapitalServiceEvents
    {
        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetCapitalAccount;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetCapitalAccount;

        internal void ExecuteOnGetCapitalAccount(CapitalService.GetCapitalAccountApiResponse apiResponse)
        {
            OnGetCapitalAccount?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetCapitalAccount(Exception exception)
        {
            OnErrorGetCapitalAccount?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnGetGrantReferenceDetails;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorGetGrantReferenceDetails;

        internal void ExecuteOnGetGrantReferenceDetails(CapitalService.GetGrantReferenceDetailsApiResponse apiResponse)
        {
            OnGetGrantReferenceDetails?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorGetGrantReferenceDetails(Exception exception)
        {
            OnErrorGetGrantReferenceDetails?.Invoke(this, new ExceptionEventArgs(exception));
        }

        /// <summary>
        /// The event raised after the server response.
        /// </summary>
        public event EventHandler<ApiResponseEventArgs>? OnRequestGrantPayout;

        /// <summary>
        /// The event raised after an error querying the server.
        /// </summary>
        public event EventHandler<ExceptionEventArgs>? OnErrorRequestGrantPayout;

        internal void ExecuteOnRequestGrantPayout(CapitalService.RequestGrantPayoutApiResponse apiResponse)
        {
            OnRequestGrantPayout?.Invoke(this, new ApiResponseEventArgs(apiResponse));
        }

        internal void ExecuteOnErrorRequestGrantPayout(Exception exception)
        {
            OnErrorRequestGrantPayout?.Invoke(this, new ExceptionEventArgs(exception));
        }
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints.
    /// </summary>
    public sealed partial class CapitalService : ICapitalService
    {
        private JsonSerializerOptions _jsonSerializerOptions;

        /// <summary>
        /// The logger factory.
        /// </summary>
        public ILoggerFactory LoggerFactory { get; }

        /// <summary>
        /// The logger.
        /// </summary>
        public ILogger<CapitalService> Logger { get; }

        /// <summary>
        /// The HttpClient.
        /// </summary>
        public System.Net.Http.HttpClient HttpClient { get; }

        /// <summary>
        /// The class containing the events.
        /// </summary>
        public CapitalServiceEvents Events { get; }

        /// <summary>
        /// A token provider of type <see cref="ApiKeyProvider"/>.
        /// </summary>
        public ITokenProvider<ApiKeyToken> ApiKeyProvider { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="CapitalService"/> class.
        /// </summary>
        /// <returns></returns>
        public CapitalService(ILogger<CapitalService> logger, ILoggerFactory loggerFactory, System.Net.Http.HttpClient httpClient, JsonSerializerOptionsProvider jsonSerializerOptionsProvider, CapitalServiceEvents capitalServiceEvents,
            ITokenProvider<ApiKeyToken> apiKeyProvider)
        {
            _jsonSerializerOptions = jsonSerializerOptionsProvider.Options;
            LoggerFactory = loggerFactory;
            Logger = LoggerFactory.CreateLogger<CapitalService>();
            HttpClient = httpClient;
            Events = capitalServiceEvents;
            ApiKeyProvider = apiKeyProvider;
        }

        partial void FormatGetCapitalAccount(ref Option<string> counterpartyAccountHolderId);

        /// <summary>
        /// Validates the request parameters.
        /// </summary>
        /// <param name="counterpartyAccountHolderId"></param>
        /// <returns></returns>
        private void ValidateGetCapitalAccount(Option<string> counterpartyAccountHolderId)
        {
            if (counterpartyAccountHolderId.IsSet && counterpartyAccountHolderId.Value == null)
                throw new ArgumentNullException(nameof(counterpartyAccountHolderId));
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="apiResponse"></param>
        /// <param name="counterpartyAccountHolderId"></param>
        private void AfterGetCapitalAccountDefaultImplementation(IGetCapitalAccountApiResponse apiResponse, Option<string> counterpartyAccountHolderId)
        {
            bool suppressDefaultLog = false;
            AfterGetCapitalAccount(ref suppressDefaultLog, apiResponse, counterpartyAccountHolderId);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {3}", (apiResponse.DownloadedAt - apiResponse.RequestedAt).TotalSeconds, apiResponse.StatusCode, apiResponse.Path);
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponse"></param>
        /// <param name="counterpartyAccountHolderId"></param>
        partial void AfterGetCapitalAccount(ref bool suppressDefaultLog, IGetCapitalAccountApiResponse apiResponse, Option<string> counterpartyAccountHolderId);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response.
        /// </summary>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        /// <param name="counterpartyAccountHolderId"></param>
        private void OnErrorGetCapitalAccountDefaultImplementation(Exception exception, string pathFormat, string path, Option<string> counterpartyAccountHolderId)
        {
            bool suppressDefaultLog = false;
            OnErrorGetCapitalAccount(ref suppressDefaultLog, exception, pathFormat, path, counterpartyAccountHolderId);
            if (!suppressDefaultLog)
                Logger.LogError(exception, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        /// <param name="counterpartyAccountHolderId"></param>
        partial void OnErrorGetCapitalAccount(ref bool suppressDefaultLog, Exception exception, string pathFormat, string path, Option<string> counterpartyAccountHolderId);

        /// <summary>
        /// Get a capital account Returns a list of grants with status and outstanding balances.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="counterpartyAccountHolderId">The counterparty account holder id. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetCapitalAccountApiResponse"/>&gt;</returns>
        public async Task<IGetCapitalAccountApiResponse> GetCapitalAccountAsync(Option<string> counterpartyAccountHolderId = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                ValidateGetCapitalAccount(counterpartyAccountHolderId);

                FormatGetCapitalAccount(ref counterpartyAccountHolderId);

                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/grants"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/grants");

                    System.Collections.Specialized.NameValueCollection parseQueryString = System.Web.HttpUtility.ParseQueryString(string.Empty);

                    if (counterpartyAccountHolderId.IsSet)
                        parseQueryString["counterpartyAccountHolderId"] = ClientUtils.ParameterToString(counterpartyAccountHolderId.Value);

                    uriBuilder.Query = parseQueryString.ToString();

                    ApiKeyToken apiKeyToken3 = (ApiKeyToken) ApiKeyProvider.Get();
                    apiKeyToken3.AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));

                    httpRequestMessage.Method = HttpMethod.Get;

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GetCapitalAccountApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<GetCapitalAccountApiResponse>();
                        GetCapitalAccountApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/grants", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGetCapitalAccountDefaultImplementation(apiResponse, counterpartyAccountHolderId);

                        Events.ExecuteOnGetCapitalAccount(apiResponse);
                    
                        return apiResponse;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGetCapitalAccountDefaultImplementation(e, "/grants", uriBuilder.Path, counterpartyAccountHolderId);
                Events.ExecuteOnErrorGetCapitalAccount(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GetCapitalAccountApiResponse"/>.
        /// </summary>
        public partial class GetCapitalAccountApiResponse : Adyen.Core.Client.ApiResponse, IGetCapitalAccountApiResponse
        {
            /// <summary>
            /// The logger for <see cref="GetCapitalAccountApiResponse"/>.
            /// </summary>
            public ILogger<GetCapitalAccountApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GetCapitalAccountApiResponse"/>.
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetCapitalAccountApiResponse(ILogger<GetCapitalAccountApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GetCapitalAccountApiResponse"/>.
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetCapitalAccountApiResponse(ILogger<GetCapitalAccountApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public Adyen.Transfers.Models.CapitalGrants? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Transfers.Models.CapitalGrants>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeOkResponse([NotNullWhen(true)]out Adyen.Transfers.Models.CapitalGrants? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public Adyen.Transfers.Models.RestServiceError? BadRequest()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Transfers.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeBadRequestResponse([NotNullWhen(true)]out Adyen.Transfers.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public Adyen.Transfers.Models.RestServiceError? Unauthorized()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Transfers.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnauthorizedResponse([NotNullWhen(true)]out Adyen.Transfers.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)401);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public bool IsForbidden => 403 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public Adyen.Transfers.Models.RestServiceError? Forbidden()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsForbidden
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Transfers.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeForbiddenResponse([NotNullWhen(true)]out Adyen.Transfers.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Forbidden();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)403);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 404 NotFound.
            /// </summary>
            /// <returns></returns>
            public bool IsNotFound => 404 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 404 NotFound.
            /// </summary>
            /// <returns></returns>
            public Adyen.Transfers.Models.RestServiceError? NotFound()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsNotFound
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Transfers.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 404 NotFound and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeNotFoundResponse([NotNullWhen(true)]out Adyen.Transfers.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = NotFound();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)404);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public Adyen.Transfers.Models.RestServiceError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Transfers.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnprocessableContentResponse([NotNullWhen(true)]out Adyen.Transfers.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public Adyen.Transfers.Models.RestServiceError? InternalServerError()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsInternalServerError
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Transfers.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeInternalServerErrorResponse([NotNullWhen(true)]out Adyen.Transfers.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = InternalServerError();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)500);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatGetGrantReferenceDetails(ref string id);

        /// <summary>
        /// Validates the request parameters.
        /// </summary>
        /// <param name="id"></param>
        /// <returns></returns>
        private void ValidateGetGrantReferenceDetails(string id)
        {
            if (id == null)
                throw new ArgumentNullException(nameof(id));
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="apiResponse"></param>
        /// <param name="id"></param>
        private void AfterGetGrantReferenceDetailsDefaultImplementation(IGetGrantReferenceDetailsApiResponse apiResponse, string id)
        {
            bool suppressDefaultLog = false;
            AfterGetGrantReferenceDetails(ref suppressDefaultLog, apiResponse, id);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {3}", (apiResponse.DownloadedAt - apiResponse.RequestedAt).TotalSeconds, apiResponse.StatusCode, apiResponse.Path);
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponse"></param>
        /// <param name="id"></param>
        partial void AfterGetGrantReferenceDetails(ref bool suppressDefaultLog, IGetGrantReferenceDetailsApiResponse apiResponse, string id);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response.
        /// </summary>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        /// <param name="id"></param>
        private void OnErrorGetGrantReferenceDetailsDefaultImplementation(Exception exception, string pathFormat, string path, string id)
        {
            bool suppressDefaultLog = false;
            OnErrorGetGrantReferenceDetails(ref suppressDefaultLog, exception, pathFormat, path, id);
            if (!suppressDefaultLog)
                Logger.LogError(exception, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        /// <param name="id"></param>
        partial void OnErrorGetGrantReferenceDetails(ref bool suppressDefaultLog, Exception exception, string pathFormat, string path, string id);

        /// <summary>
        /// Get grant reference details Returns the details of a capital account specified in the path.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="id">The unique identifier of the grant.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IGetGrantReferenceDetailsApiResponse"/>&gt;</returns>
        public async Task<IGetGrantReferenceDetailsApiResponse> GetGrantReferenceDetailsAsync(string id, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                ValidateGetGrantReferenceDetails(id);

                FormatGetGrantReferenceDetails(ref id);

                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/grants/{id}"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/grants/{id}");
                    uriBuilder.Path = uriBuilder.Path.Replace("%7Bid%7D", Uri.EscapeDataString(id.ToString()));

                    System.Collections.Specialized.NameValueCollection parseQueryString = System.Web.HttpUtility.ParseQueryString(string.Empty);

                    ApiKeyToken apiKeyToken3 = (ApiKeyToken) ApiKeyProvider.Get();
                    apiKeyToken3.AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));

                    httpRequestMessage.Method = HttpMethod.Get;

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<GetGrantReferenceDetailsApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<GetGrantReferenceDetailsApiResponse>();
                        GetGrantReferenceDetailsApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/grants/{id}", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterGetGrantReferenceDetailsDefaultImplementation(apiResponse, id);

                        Events.ExecuteOnGetGrantReferenceDetails(apiResponse);
                    
                        return apiResponse;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorGetGrantReferenceDetailsDefaultImplementation(e, "/grants/{id}", uriBuilder.Path, id);
                Events.ExecuteOnErrorGetGrantReferenceDetails(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="GetGrantReferenceDetailsApiResponse"/>.
        /// </summary>
        public partial class GetGrantReferenceDetailsApiResponse : Adyen.Core.Client.ApiResponse, IGetGrantReferenceDetailsApiResponse
        {
            /// <summary>
            /// The logger for <see cref="GetGrantReferenceDetailsApiResponse"/>.
            /// </summary>
            public ILogger<GetGrantReferenceDetailsApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="GetGrantReferenceDetailsApiResponse"/>.
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetGrantReferenceDetailsApiResponse(ILogger<GetGrantReferenceDetailsApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="GetGrantReferenceDetailsApiResponse"/>.
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public GetGrantReferenceDetailsApiResponse(ILogger<GetGrantReferenceDetailsApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public Adyen.Transfers.Models.CapitalGrant? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Transfers.Models.CapitalGrant>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeOkResponse([NotNullWhen(true)]out Adyen.Transfers.Models.CapitalGrant? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public Adyen.Transfers.Models.RestServiceError? BadRequest()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Transfers.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeBadRequestResponse([NotNullWhen(true)]out Adyen.Transfers.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public Adyen.Transfers.Models.RestServiceError? Unauthorized()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Transfers.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnauthorizedResponse([NotNullWhen(true)]out Adyen.Transfers.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)401);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public bool IsForbidden => 403 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public Adyen.Transfers.Models.RestServiceError? Forbidden()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsForbidden
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Transfers.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeForbiddenResponse([NotNullWhen(true)]out Adyen.Transfers.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Forbidden();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)403);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 404 NotFound.
            /// </summary>
            /// <returns></returns>
            public bool IsNotFound => 404 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 404 NotFound.
            /// </summary>
            /// <returns></returns>
            public Adyen.Transfers.Models.RestServiceError? NotFound()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsNotFound
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Transfers.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 404 NotFound and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeNotFoundResponse([NotNullWhen(true)]out Adyen.Transfers.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = NotFound();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)404);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public Adyen.Transfers.Models.RestServiceError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Transfers.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnprocessableContentResponse([NotNullWhen(true)]out Adyen.Transfers.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public Adyen.Transfers.Models.RestServiceError? InternalServerError()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsInternalServerError
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Transfers.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeInternalServerErrorResponse([NotNullWhen(true)]out Adyen.Transfers.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = InternalServerError();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)500);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }

        partial void FormatRequestGrantPayout(ref Option<string> idempotencyKey, Option<CapitalGrantInfo> capitalGrantInfo);

        /// <summary>
        /// Validates the request parameters.
        /// </summary>
        /// <param name="idempotencyKey"></param>
        /// <param name="capitalGrantInfo"></param>
        /// <returns></returns>
        private void ValidateRequestGrantPayout(Option<string> idempotencyKey, Option<CapitalGrantInfo> capitalGrantInfo)
        {
            if (idempotencyKey.IsSet && idempotencyKey.Value == null)
                throw new ArgumentNullException(nameof(idempotencyKey));

            if (capitalGrantInfo.IsSet && capitalGrantInfo.Value == null)
                throw new ArgumentNullException(nameof(capitalGrantInfo));
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="apiResponse"></param>
        /// <param name="idempotencyKey"></param>
        /// <param name="capitalGrantInfo"></param>
        private void AfterRequestGrantPayoutDefaultImplementation(IRequestGrantPayoutApiResponse apiResponse, Option<string> idempotencyKey, Option<CapitalGrantInfo> capitalGrantInfo)
        {
            bool suppressDefaultLog = false;
            AfterRequestGrantPayout(ref suppressDefaultLog, apiResponse, idempotencyKey, capitalGrantInfo);
            if (!suppressDefaultLog)
                Logger.LogInformation("{0,-9} | {1} | {3}", (apiResponse.DownloadedAt - apiResponse.RequestedAt).TotalSeconds, apiResponse.StatusCode, apiResponse.Path);
        }

        /// <summary>
        /// Processes the server response.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="apiResponse"></param>
        /// <param name="idempotencyKey"></param>
        /// <param name="capitalGrantInfo"></param>
        partial void AfterRequestGrantPayout(ref bool suppressDefaultLog, IRequestGrantPayoutApiResponse apiResponse, Option<string> idempotencyKey, Option<CapitalGrantInfo> capitalGrantInfo);

        /// <summary>
        /// Logs exceptions that occur while retrieving the server response.
        /// </summary>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        /// <param name="idempotencyKey"></param>
        /// <param name="capitalGrantInfo"></param>
        private void OnErrorRequestGrantPayoutDefaultImplementation(Exception exception, string pathFormat, string path, Option<string> idempotencyKey, Option<CapitalGrantInfo> capitalGrantInfo)
        {
            bool suppressDefaultLog = false;
            OnErrorRequestGrantPayout(ref suppressDefaultLog, exception, pathFormat, path, idempotencyKey, capitalGrantInfo);
            if (!suppressDefaultLog)
                Logger.LogError(exception, "An error occurred while sending the request to the server.");
        }

        /// <summary>
        /// A partial method that gives developers a way to provide customized exception handling.
        /// </summary>
        /// <param name="suppressDefaultLog"></param>
        /// <param name="exception"></param>
        /// <param name="pathFormat"></param>
        /// <param name="path"></param>
        /// <param name="idempotencyKey"></param>
        /// <param name="capitalGrantInfo"></param>
        partial void OnErrorRequestGrantPayout(ref bool suppressDefaultLog, Exception exception, string pathFormat, string path, Option<string> idempotencyKey, Option<CapitalGrantInfo> capitalGrantInfo);

        /// <summary>
        /// Request a grant payout Requests the payout of the selected grant offer.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call.</exception>
        /// <param name="idempotencyKey">A unique identifier for the message with a maximum of 64 characters (we recommend a UUID). (optional)</param>
        /// <param name="capitalGrantInfo"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns><see cref="Task"/>&lt;<see cref="IRequestGrantPayoutApiResponse"/>&gt;</returns>
        public async Task<IRequestGrantPayoutApiResponse> RequestGrantPayoutAsync(Option<string> idempotencyKey = default, Option<CapitalGrantInfo> capitalGrantInfo = default, System.Threading.CancellationToken cancellationToken = default)
        {
            UriBuilder uriBuilder = new UriBuilder();

            try
            {
                ValidateRequestGrantPayout(idempotencyKey, capitalGrantInfo);

                FormatRequestGrantPayout(ref idempotencyKey, capitalGrantInfo);

                using (HttpRequestMessage httpRequestMessage = new HttpRequestMessage())
                {
                    uriBuilder.Host = HttpClient.BaseAddress!.Host;
                    uriBuilder.Port = HttpClient.BaseAddress.Port;
                    uriBuilder.Scheme = HttpClient.BaseAddress.Scheme;
                    uriBuilder.Path = HttpClient.BaseAddress.AbsolutePath == "/"
                        ? "/grants"
                        : string.Concat(HttpClient.BaseAddress.AbsolutePath, "/grants");

                    System.Collections.Specialized.NameValueCollection parseQueryString = System.Web.HttpUtility.ParseQueryString(string.Empty);

                    if (idempotencyKey.IsSet)
                        httpRequestMessage.Headers.Add("Idempotency-Key", ClientUtils.ParameterToString(idempotencyKey.Value));

                    if (capitalGrantInfo.IsSet)
                        httpRequestMessage.Content = (capitalGrantInfo.Value as object) is System.IO.Stream stream
                            ? httpRequestMessage.Content = new StreamContent(stream)
                            : httpRequestMessage.Content = new StringContent(JsonSerializer.Serialize(capitalGrantInfo.Value, _jsonSerializerOptions));

                    ApiKeyToken apiKeyToken3 = (ApiKeyToken) ApiKeyProvider.Get();
                    apiKeyToken3.AddTokenToHttpRequestMessageHeader(httpRequestMessage);
                    httpRequestMessage.RequestUri = uriBuilder.Uri;

                    string[] contentTypes = new string[] {
                        "application/json"
                    };

                    string? contentType = ClientUtils.SelectHeaderContentType(contentTypes);

                    if (contentType != null && httpRequestMessage.Content != null)
                        httpRequestMessage.Content.Headers.ContentType = new MediaTypeHeaderValue(contentType);

                    string[] accepts = new string[] {
                        "application/json"
                    };

                    string? accept = ClientUtils.SelectHeaderAccept(accepts);

                    if (accept != null)
                        httpRequestMessage.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue(accept));

                    httpRequestMessage.Method = HttpMethod.Post;

                    DateTime requestedAt = DateTime.UtcNow;

                    using (HttpResponseMessage httpResponseMessage = await HttpClient.SendAsync(httpRequestMessage, cancellationToken).ConfigureAwait(false))
                    {
                        ILogger<RequestGrantPayoutApiResponse> apiResponseLogger = LoggerFactory.CreateLogger<RequestGrantPayoutApiResponse>();
                        RequestGrantPayoutApiResponse apiResponse;

                        switch ((int)httpResponseMessage.StatusCode) {
                            default: {
                                string responseContent = await httpResponseMessage.Content.ReadAsStringAsync(cancellationToken).ConfigureAwait(false);
                                apiResponse = new(apiResponseLogger, httpRequestMessage, httpResponseMessage, responseContent, "/grants", requestedAt, _jsonSerializerOptions);

                                break;
                            }
                        }

                        AfterRequestGrantPayoutDefaultImplementation(apiResponse, idempotencyKey, capitalGrantInfo);

                        Events.ExecuteOnRequestGrantPayout(apiResponse);
                    
                        return apiResponse;
                    }
                }
            }
            catch(Exception e)
            {
                OnErrorRequestGrantPayoutDefaultImplementation(e, "/grants", uriBuilder.Path, idempotencyKey, capitalGrantInfo);
                Events.ExecuteOnErrorRequestGrantPayout(e);
                throw;
            }
        }

        /// <summary>
        /// The <see cref="RequestGrantPayoutApiResponse"/>.
        /// </summary>
        public partial class RequestGrantPayoutApiResponse : Adyen.Core.Client.ApiResponse, IRequestGrantPayoutApiResponse
        {
            /// <summary>
            /// The logger for <see cref="RequestGrantPayoutApiResponse"/>.
            /// </summary>
            public ILogger<RequestGrantPayoutApiResponse> Logger { get; }

            /// <summary>
            /// The <see cref="RequestGrantPayoutApiResponse"/>.
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="rawContent"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public RequestGrantPayoutApiResponse(ILogger<RequestGrantPayoutApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, string rawContent, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, rawContent, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            /// <summary>
            /// The <see cref="RequestGrantPayoutApiResponse"/>.
            /// </summary>
            /// <param name="logger"></param>
            /// <param name="httpRequestMessage"></param>
            /// <param name="httpResponseMessage"></param>
            /// <param name="contentStream"></param>
            /// <param name="path"></param>
            /// <param name="requestedAt"></param>
            /// <param name="jsonSerializerOptions"></param>
            public RequestGrantPayoutApiResponse(ILogger<RequestGrantPayoutApiResponse> logger, System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage, System.IO.Stream contentStream, string path, DateTime requestedAt, System.Text.Json.JsonSerializerOptions jsonSerializerOptions) : base(httpRequestMessage, httpResponseMessage, contentStream, path, requestedAt, jsonSerializerOptions)
            {
                Logger = logger;
                OnCreated(httpRequestMessage, httpResponseMessage);
            }

            partial void OnCreated(global::System.Net.Http.HttpRequestMessage httpRequestMessage, System.Net.Http.HttpResponseMessage httpResponseMessage);

            /// <summary>
            /// Returns true if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public bool IsOk => 200 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 200 Ok.
            /// </summary>
            /// <returns></returns>
            public Adyen.Transfers.Models.CapitalGrant? Ok()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsOk
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Transfers.Models.CapitalGrant>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 200 Ok and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeOkResponse([NotNullWhen(true)]out Adyen.Transfers.Models.CapitalGrant? result)
            {
                result = null;

                try
                {
                    result = Ok();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)200);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public bool IsBadRequest => 400 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 400 BadRequest.
            /// </summary>
            /// <returns></returns>
            public Adyen.Transfers.Models.RestServiceError? BadRequest()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsBadRequest
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Transfers.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 400 BadRequest and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeBadRequestResponse([NotNullWhen(true)]out Adyen.Transfers.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = BadRequest();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)400);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public bool IsUnauthorized => 401 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 401 Unauthorized.
            /// </summary>
            /// <returns></returns>
            public Adyen.Transfers.Models.RestServiceError? Unauthorized()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnauthorized
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Transfers.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 401 Unauthorized and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnauthorizedResponse([NotNullWhen(true)]out Adyen.Transfers.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Unauthorized();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)401);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public bool IsForbidden => 403 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 403 Forbidden.
            /// </summary>
            /// <returns></returns>
            public Adyen.Transfers.Models.RestServiceError? Forbidden()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsForbidden
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Transfers.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 403 Forbidden and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeForbiddenResponse([NotNullWhen(true)]out Adyen.Transfers.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = Forbidden();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)403);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 404 NotFound.
            /// </summary>
            /// <returns></returns>
            public bool IsNotFound => 404 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 404 NotFound.
            /// </summary>
            /// <returns></returns>
            public Adyen.Transfers.Models.RestServiceError? NotFound()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsNotFound
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Transfers.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 404 NotFound and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeNotFoundResponse([NotNullWhen(true)]out Adyen.Transfers.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = NotFound();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)404);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public bool IsUnprocessableContent => 422 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 422 UnprocessableContent.
            /// </summary>
            /// <returns></returns>
            public Adyen.Transfers.Models.RestServiceError? UnprocessableContent()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsUnprocessableContent
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Transfers.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 422 UnprocessableContent and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeUnprocessableContentResponse([NotNullWhen(true)]out Adyen.Transfers.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = UnprocessableContent();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)422);
                }

                return result != null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public bool IsInternalServerError => 500 == (int)StatusCode;

            /// <summary>
            /// Deserializes the response if the response is 500 InternalServerError.
            /// </summary>
            /// <returns></returns>
            public Adyen.Transfers.Models.RestServiceError? InternalServerError()
            {
                // This logic may be modified with the AsModel.mustache template
                return IsInternalServerError
                    ? System.Text.Json.JsonSerializer.Deserialize<Adyen.Transfers.Models.RestServiceError>(RawContent, _jsonSerializerOptions)
                    : null;
            }

            /// <summary>
            /// Returns true if the response is 500 InternalServerError and the deserialized response is not null.
            /// </summary>
            /// <param name="result"></param>
            /// <returns></returns>
            public bool TryDeserializeInternalServerErrorResponse([NotNullWhen(true)]out Adyen.Transfers.Models.RestServiceError? result)
            {
                result = null;

                try
                {
                    result = InternalServerError();
                } 
                catch (Exception e)
                {
                    OnDeserializationErrorDefaultImplementation(e, (HttpStatusCode)500);
                }

                return result != null;
            }

            private void OnDeserializationErrorDefaultImplementation(Exception exception, HttpStatusCode httpStatusCode)
            {
                bool suppressDefaultLog = false;
                OnDeserializationError(ref suppressDefaultLog, exception, httpStatusCode);
                if (!suppressDefaultLog)
                    Logger.LogError(exception, "An error occurred while deserializing the {code} response.", httpStatusCode);
            }

            partial void OnDeserializationError(ref bool suppressDefaultLog, Exception exception, HttpStatusCode httpStatusCode);
        }
    }
}
