name: .NET Core 8.0

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - sdk-automation/models
      - promote/main
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  dotnet8-build-and-unit-test:
    name: Build and Test on .NET 8.0
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET 8.0
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build (debug) in .NET 8.0
        run: dotnet build --configuration Debug --framework net8.0 --no-restore

      - name: Run unit tests in .NET 8.0
        run: dotnet test --no-build --configuration Debug --framework net8.0 --no-restore Adyen.Test/Adyen.Test.csproj