name: Release

on:
  workflow_dispatch:
    inputs:
      pre-release:
        required: false
        type: boolean
        default: false
        description: "This release will be labeled as non-production ready"
      github-release:
        required: false
        type: boolean
        default: false
        description: "Publish Github release for the current version"
  # Monitor pull request events
  pull_request:
    types:
      - closed
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Prepare the next main release
        uses: Adyen/release-automation-action@v1.4.0
        with:
          token: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}
          develop-branch: main
          version-files: Adyen/Adyen.csproj Adyen.Test/Adyen.Test.csproj Adyen/Core/Client/Extensions/HttpRequestMessageExtensions.cs
          release-title: Adyen .NET API Library
          pre-release: ${{ inputs.pre-release || false }}
          github-release: ${{ inputs.github-release || false }}
          separator: .pre.beta
