name: Release request

on:
    workflow_dispatch:
    push:
      branches:
        - develop

jobs:
  release:
    permissions:
      contents: write
      pull-requests: write
    uses: ./.github/workflows/lib-release.yml
    secrets: inherit